/**
 * @package 	WordPress
 * @subpackage 	Total School
 * @version 	1.0.0
 * 
 * Responsive Timetable CSS Rules
 * Created by CMSMasters
 * 
 */



/*-------------------------------------------------------------------------

	0.	LESS Variables + Functions
	1.	Large Monitor
	2.	Medium Monitor
	3.	Tablet Monitor
	4.	Tablet Monitor 950
	5.	Small Tablet Monitor
	6.	Phone Monitor

-------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------*/
/*	0.	LESS Variables & Functions	*/
/*-------------------------------------------------------------------------*/

/***************** Variables ******************/

@input_pad:9px;

@line_height_pad:20px;
@blocks_hor_pad:20px;

@col_mar:2%;

@resp_blocks_pad:56.25%;

@preloader_pad:100%;

@cont_vert_pad:30px;

@cont_width_large:1200px;
@cont_width_full:100%;
@cont_width_min:320px;

@monitor_large: ~'(min-width: 1620px)';
@monitor_tablet: ~'(max-width: 1024px)';
@monitor_tablet_950: ~'(max-width: 950px)';
@monitor_tablet_small: ~'(max-width: 767px)';
@monitor_tablet_600: ~'(max-width: 600px)';
@monitor_phone: ~'(max-width: 540px)';
@monitor_phone_small: ~'(max-width: 320px)';

@monitor_medium: ~'(min-width: 1024px) and (max-width: 1440px)';
@tablet_ipad: ~'(min-width: 768px) and (max-width: 1024px)';
@tablet_small: ~'(min-width: 541px) and (max-width: 767px)';


/***************** Functions ******************/
.fl () {
	float:left;
}

.fr () {
	float:right;
}

.dn () {
	display:none;
}

.tal () {
	text-align:left;
}

.tac () {
	text-align:center;
}

.tar () {
	text-align:right;
}

.cl () {
	clear:both;
}

.ovh () {
	overflow:hidden;
}

.m0a () {
	margin:0 auto;
}

.bd (@w:1px; @t:solid) {
	border-width:@w;
	border-style:@t;
}

.bdt (@w:1px; @t:solid) {
	border-top-width:@w;
	border-top-style:@t;
}

.bdb (@w:1px; @t:solid) {
	border-bottom-width:@w;
	border-bottom-style:@t;
}

.bdr (@w:1px; @t:solid) {
	border-right-width:@w;
	border-right-style:@t;
}

.bdl (@w:1px; @t:solid) {
	border-left-width:@w;
	border-left-style:@t;
}

.color_white_opacity (@op:.5) {
	color:rgba(255, 255, 255, @op);
}

.bg_white_opacity (@op:.5) {
	background-color:rgba(255, 255, 255, @op);
}

.fullwidth_in_block () {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

.op (@op:.5) {
	opacity:@op;
}

.cl_after () {
	content:'.';
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
	overflow:hidden;
	zoom:1;
}

.pos_abs (@w:1em; @h:1em; @l:0; @r:0; @t:0; @b:0) {
	width:@w;
	height:@h;
	margin:auto !important;
	position:absolute;
	left:@l;
	right:@r;
	top:@t;
	bottom:@b;
}

.bdbx () {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.ctbx () {
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

.bdrs (@radius:5px) {
	-webkit-border-radius:@radius;
	border-radius:@radius;
}

.bxsh (@x:0; @y:0; @blur:5px; @spred:0; @alpha:.05) {
	-webkit-box-shadow:@x @y @blur @spred rgba(0, 0, 0, @alpha);
	box-shadow:@x @y @blur @spred rgba(0, 0, 0, @alpha);
}

.bxshi (@x:0; @y:0; @blur:5px; @spred:0; @alpha:.05) {
	-webkit-box-shadow:inset @x @y @blur @spred rgba(0, 0, 0, @alpha);
	box-shadow:inset @x @y @blur @spred rgba(0, 0, 0, @alpha);
}

.bxsh_none () {
	-webkit-box-shadow:none;
	box-shadow:none;
}

.trans(@trans:0) when not (@trans = 0) {
    -webkit-transition:@trans;
    -moz-transition:@trans;
    -ms-transition:@trans;
    -o-transition:@trans;
    transition:@trans;
}



@media only screen {
	/*-------------------------------------------------------------------------*/
	/*	1.	Large Monitor
	/*-------------------------------------------------------------------------*/
	@media @monitor_large {
		.cmsmasters_tt_event .cmsmasters_tt_event_content_wrap.with_sidebar {
			padding-right:40px;
		}
	}
	
	
	
	/*-------------------------------------------------------------------------*/
	/*	2. Medium Monitor
	/*-------------------------------------------------------------------------*/
	@media @monitor_medium {
		.cmsmasters_tt_event {
			outline:none;
		}
	}
	
	
	
	/*-------------------------------------------------------------------------*/
	/*	3.	Tablet Monitor
	/*-------------------------------------------------------------------------*/
	@media @monitor_tablet {
		.cmsmasters_tt_event {
			outline:none;
		}
	}
	
	
	
	/*-------------------------------------------------------------------------*/
	/*	4.	Tablet Monitor 950
	/*-------------------------------------------------------------------------*/
	@media @monitor_tablet_950 {
		.cmsmasters_tt_event {
			.cmsmasters_tt_event_content_wrap {
				&.with_sidebar {
					width:100%;
					float:none;
					clear:both;
					padding-right:0;
					padding-bottom:25px;
				}
			}
			
			.cmsmasters_tt_event_sidebar {
				width:100%;
				float:none;
				clear:both;
				padding-bottom:50px;
			}
		}
	}
	
	
	
	/*-------------------------------------------------------------------------*/
	/*	5.	Small Tablet Monitor
	/*-------------------------------------------------------------------------*/
	@media @monitor_tablet_small {
		.tt_timetable {
			.dn;
		}
		
		.tt_timetable.small {
			display:block;
		}
		
		.ui-tabs .tt_tabs_navigation.ui-widget-header {
			.bd(0);
			
			li {
				display:block;
				margin:0;
				
				&.ui-tabs-active {
					margin:0;
				}
				
				&:first-child {
					a {
						.bdt;
					}
				}
				
				a {
					float:none;
					.bdt(0);
					
					&:before {
						height:auto;
						width:2px;
						bottom:-1px;
					}
				}
			}
		}
	}
	
	
	
	/*-------------------------------------------------------------------------*/
	/*	6.	Phone Monitor
	/*-------------------------------------------------------------------------*/
	@media @monitor_phone {
		.cmsmasters_tt_event {
			outline:none;
		}
	}
	
	
	
	/*-------------------------------------------------------------------------*/
	/*	7.	Small Phone Monitor
	/*-------------------------------------------------------------------------*/
	@media @monitor_phone_small {
		.cmsmasters_tt_event {
			outline:none;
		}
	}
}

