/**
 * @package 	WordPress
 * @subpackage 	Total School
 * @version 	1.0.0
 * 
 * Events RTL Rules
 * Created by CMSMasters
 * 
 */


body {
	unicode-bidi: embed;
	direction: rtl;
}


.tribe-events-spinner {
	margin-right: -16px;
}

.tribe-events-spinner-medium {
	margin-right: -12px;
}

.tribe-events-spinner-small {
	margin-right: -8px;
}

Footer Nav */
.tribe-events-ajax-loading {
	left: auto;
	right: 50%;
}

select.tribe-events-dropdown {
	margin-left: 9px;
	margin-right: 0;
}

.tribe-events-list-widget ol,
.tribe-events-adv-list-widget ol {
	margin-right: 0;
}

#page .widget.tribe-events-adv-list-widget .cmsmasters_theme_icon_time:before {
	content: '\e874'; /* Check this rule! */
}

table.tribe-events-tickets td {
	padding-left: 10px;
	padding-right: 0;
}

table.tribe-events-tickets .tickets_nostock {
	text-align: center;
}

#tribe-bar-views .tribe-select2 {
	float: right;
}

#tribe-bar-views .select2-container .select2-choice span {
	margin-left: 18px;
}

#tribe-bar-views .select2-container .select2-choice span span {
	margin-left: 0;
}

.tribe-has-settings #tribe-bar-dates {
	margin-right: -331px;
}

.tribe-has-settings #tribe-bar-views {
	margin-right: -142px;
}

.tribe-has-settings #tribe-bar-views .select2-container .select2-choice div {
	background-image: none; /* Check this rule and write correct image url, or remove this rule! */
	border-right: 0;
}

#tribe-events-bar .tribe-bar-button-settings span {
	float: right;
}

#tribe-events-bar .tribe-bar-button-settings {
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	float: right;
	margin-right: -1px;
}

.tribe-bar-settings .tribe-bar-drop-content {
	right: auto;
	left: -5px;
}

.tribe-events-loop h2.tribe-events-page-title {
	padding-right: 0;
}

#tribe-geo-results .tribe-events-notices {
	text-align: center;
}

.tribe-geo-result-thumb {
	float: right;
	margin-left: 2%;
}

.tribe-geo-result-data {
	float: left;
}

.tribe-geo-result-entry h2 {
	float: right;
}

.tribe-geo-result-cost {
	float: left;
}

.tribe-geo-result-cost span {
	text-align: center;
}

.timer {
	text-align: center;
}

#tribe-geo-loading {
	left: auto;
	right: 0;
}

#tribe-geo-loading img {
	left: auto;
	right: 50%;
	margin-left: 0;
	margin-right: -16px;
}

#tribe-events-footer .tribe-events-sub-nav li.tribe-events-nav-previous a,
#tribe-events-footer .tribe-events-sub-nav li.nav-previous a {
  padding-right: 50px;
  padding-left: 0;
}

#tribe-events-footer .tribe-events-sub-nav li.tribe-events-nav-next a,
#tribe-events-footer .tribe-events-sub-nav li.nav-next a {
  padding-right: 0;
  padding-left: 50px;
}

.tribe-view-all-events {
	float: left;
}

.tribe-events-calendar-widget td {
	text-align: center;
}

.tribe-events-calendar-widget .tribe-events-calendar .tribe-events-tooltip {
	left: auto;
	right: 0;
	text-align: right;
}

.tribe-events-calendar-widget .tribe-events-tooltip .tribe-events-arrow {
	left: auto;
	right: 2px;
}

.tribe-events-calendar-widget .tribe-events-right .tribe-events-tooltip {
	left: 0;
	right: auto;
}

.tribe-events-calendar-widget .tribe-events-right .tribe-events-tooltip .tribe-events-arrow {
	left: 2px;
	right: auto;
}

.tribe-events-sub-nav li span:not([class]) {
	text-align: center;
	left: 0;
	right: 0;
}

.tribe-events-sub-nav li span:not([class]):before {
	text-align: center;
	left: 0;
	right: 0;
}

.tribe-events-sub-nav li.tribe-events-nav-previous,
.tribe-events-sub-nav li.nav-previous {
	float: right;
}

.tribe-events-sub-nav li.tribe-events-nav-previous span:not([class]),
.tribe-events-sub-nav li.nav-previous span:not([class]) {
	left: auto;
	right: 0;
}

.tribe-events-sub-nav li.tribe-events-nav-previous span:not([class]):before,
.tribe-events-sub-nav li.nav-previous span:not([class]):before {
	left: 0;
	right: 1px;
	content: '\eb22'; /* Check this rule! */
}

.tribe-events-sub-nav li.tribe-events-nav-next,
.tribe-events-sub-nav li.nav-next {
	float: left;
}

.tribe-events-sub-nav li.tribe-events-nav-next span:not([class]),
.tribe-events-sub-nav li.nav-next span:not([class]) {
	left: 0;
	right: auto;
}

.tribe-events-sub-nav li.tribe-events-nav-next span:not([class]):before,
.tribe-events-sub-nav li.nav-next span:not([class]):before {
	left: -2px;
	right: 0;
	content: '\eb21'; /* Check this rule! */
}

.tribe-events-page-title {
	text-align: center;
}

.tribe-events-tooltip:before,
.tribe-events-tooltip:after {
	left: auto;
	right: 20px;
}

.tribe-events-right .tribe-events-tooltip {
	left: 0;
	right: auto;
}

.recurringinfo .tribe-events-divider:before {
	content: '/'; /* Check this rule! */
	text-align: center;
	left: 0;
	right: 0;
}

.tribe-bar-filters-inner > div {
	float: right;
}

#tribe-bar-views .button {
	float: right;
}

#tribe-bar-views .tribe-bar-views-list li {
	float: right;
}

#tribe-bar-views .tribe-bar-views-list li:not(:last-child) {
	margin-left: 10px;
	margin-right: 0;
}

.photo-loader {
	left: auto;
	right: 50%;
}

table.tribe-events-calendar thead th {
	text-align: center;
}

table.tribe-events-calendar tbody td {
	border-left-width: 1px;
	border-left-style: solid;
}

table.tribe-events-calendar tbody td:first-child {
	border-right-width: 1px;
	border-right-style: solid;
}

table.tribe-events-calendar tbody td:last-child {
	border-left-width: 1px;
	border-left-style: solid;
}

.tribe-events-list .tribe-events-list-separator-month,
.tribe-events-list .tribe-events-day-time-slot > h5 {
	text-align: center;
}

.tribe-events-list .tribe-events-event-image {
	padding-left: 40px;
	padding-right: 0;
	text-align: center;
	float: right;
}

.tribe-events-list .tribe-events-event-meta .author > div {
	padding-left: 0;
	padding-right: 30px;
}

.tribe-events-list .tribe-events-event-meta .author > div:before {
	left: auto;
	right: 0;
}

.tribe-events-list .tribe-events-event-meta .tribe-events-gmap {
	margin-left: 0;
	margin-right: 5px;
}

.tribe-events-list .tribe-events-list-event-description {
	text-align: right;
}

.tribe-events-map .tribe-events-page-title {
	text-align: center;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7);
	-moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7);
}

.tribe-events-photo .tribe-events-page-title {
	text-align: center;
}

.tribe-events-photo .tribe-events-photo-event {
	float: right;
}

.tribe-events-photo .tribe-events-event-image img {
	left: auto;
	right: 0;
}

.tribe-events-photo .tribe-events-list-event-title a {
	text-align: right;
}

.tribe-events-photo .time-details:before {
	margin-left: 10px;
	margin-right: 0;
}

.tribe-week-grid-wrapper {
	direction:ltr;
}

.cmsmasters_single_event .cmsmasters_single_event_img .tribe-events-event-image {
	text-align: center;
}

.cmsmasters_single_event .cmsmasters_single_event_header:after {
	content: '.'; /* Check this rule! */
}

.cmsmasters_single_event .cmsmasters_single_event_header_left {
	float: right;
}

.cmsmasters_single_event .tribe-events-date:before,
.cmsmasters_single_event .tribe-events-cost:before {
	margin-left: 12px;
	margin-right: 0;
}

.cmsmasters_single_event .cmsmasters_single_event_header_right {
	float: left;
}

.cmsmasters_single_event .cmsmasters_single_event_header_right a {
	float: left;
}

.cmsmasters_single_event .cmsmasters_single_event_header_right a:before {
	margin-left: 8px;
	margin-right: 0;
}

.cmsmasters_single_event_meta_wrap .cmsmasters_single_event_meta .tribe-events-meta-group {
	float: right;
}

.cmsmasters_single_event_meta_wrap .cmsmasters_single_event_meta .cmsmasters_event_meta_info_item_title,
.cmsmasters_single_event_meta_wrap .cmsmasters_single_event_meta .cmsmasters_event_meta_info_item_descr,
.cmsmasters_single_event_meta_wrap .cmsmasters_single_event_meta dt,
.cmsmasters_single_event_meta_wrap .cmsmasters_single_event_meta dd {
	padding-left: 15px;
	padding-right: 0;
	text-align: right;
}

.cmsmasters_single_event_meta_wrap .cmsmasters_single_event_meta .cmsmasters_event_meta_info_item_descr,
.cmsmasters_single_event_meta_wrap .cmsmasters_single_event_meta dd {
	margin-left: 0;
	margin-right: -4px;
	text-align: left;
}

.tribe-events-single .post_nav:before,
.tribe-events-single .post_nav:after {
	left: auto;
	right: 0;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7);
	-moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7);
}

ul.tribe-related-events li {
	float: right;
}

ul.tribe-related-events .tribe-related-events-thumbnail img,
ul.tribe-related-events .tribe-related-events-thumbnail .cmsmasters_events_img_placeholder {
	left: auto;
	right: 0;
}

ul.tribe-related-events .tribe-related-events-thumbnail .cmsmasters_events_img_placeholder:before {
	left: 0;
	right: 0;
}

ul.tribe-related-events .tribe-related-event-info {
	text-align: center;
}

.tribe-events-venue .cmsmasters_events_venue_header:after {
	content: '.'; /* Check this rule! */
}

.tribe-events-venue .cmsmasters_events_venue_header_left {
	float: right;
}

.tribe-events-venue .cmsmasters_events_venue_header_right {
	float: left;
}

.tribe-events-venue .cmsmasters_events_venue_header_right a {
	float: left;
}

.tribe-events-venue .cmsmasters_events_venue_header_right a:before {
	margin-left: 5px;
	margin-right: 0;
}

.tribe-events-venue .cmsmasters_events_venue_meta_img .tribe-events-event-image {
	text-align: center;
}

.tribe-events-organizer .cmsmasters_events_organizer_header:after {
	content: '.'; /* Check this rule! */
}

.tribe-events-organizer .cmsmasters_events_organizer_header_left {
	float: right;
}

.tribe-events-organizer .cmsmasters_events_organizer_header_right {
	float: left;
}

.tribe-events-organizer .cmsmasters_events_organizer_header_right a {
	float: left;
}

.tribe-events-organizer .cmsmasters_events_organizer_header_right a:before {
	margin-left: 5px;
	margin-right: 0;
}

.tribe-events-organizer .cmsmasters_events_organizer_meta_img .tribe-events-event-image {
	text-align: center;
}

.widget .vcalendar .cmsmasters_widget_event_info [class*=cmsmasters_theme_icon],
.tribe-mini-calendar-list-wrapper .cmsmasters_widget_event_info [class*=cmsmasters_theme_icon] {
	padding-left: 0;
	padding-right: 28px;
}

.widget .vcalendar .cmsmasters_widget_event_info [class*=cmsmasters_theme_icon]:before,
.tribe-mini-calendar-list-wrapper .cmsmasters_widget_event_info [class*=cmsmasters_theme_icon]:before {
	left: auto;
	right: 0;
}

.cmsmasters_event_date {
	margin-left: 18px;
	margin-right: 0;
	text-align: center;
	float: right;
}

.cmsmasters_event_date .cmsmasters_event_date_inner {
	text-align: center;
}

.tribe-events-widget-link {
	text-align: left;
}

.tribe-mini-calendar th,
.tribe-mini-calendar td {
	text-align: center;
}

.tribe-mini-calendar div {
	text-align: center;
}

.tribe-mini-calendar [id*=tribe-mini-calendar-month] {
	text-align: center;
}

.tribe-mini-calendar #ajax-loading-mini {
	left: 0;
	right: 0;
}

.tribe-mini-calendar .tribe-mini-calendar-nav-link {
	left: 0;
	right: 0;
}

.tribe-mini-calendar .tribe-mini-calendar-nav-link:before {
	text-align: center;
	left: 0;
	right: 0;
}

.tribe-mini-calendar .tribe-mini-calendar-nav-link.prev-month {
	left: auto;
	right: 0;
}

.tribe-mini-calendar .tribe-mini-calendar-nav-link.prev-month:before {
	content: '\eb22';
}

.tribe-mini-calendar .tribe-mini-calendar-nav-link.next-month {
	left: 0;
	right: auto;
}

.tribe-mini-calendar .tribe-mini-calendar-nav-link.next-month:before {
	content: '\eb21';
}

.tribe-mini-calendar thead th.tribe-mini-calendar-dayofweek:first-child {
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 0px;
	border-left-style: solid;
}

.tribe-mini-calendar thead th.tribe-mini-calendar-dayofweek:last-child {
	border-left-width: 1px;
	border-left-style: solid;
	border-right-width: 0px;
	border-right-style: solid;
}

.tribe-mini-calendar tbody td:first-child {
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 0px;
	border-left-style: solid;
}

.tribe-mini-calendar tbody td:last-child {
	border-left-width: 1px;
	border-left-style: solid;
	border-right-width: 0px;
	border-right-style: solid;
}

.tribe-mini-calendar tbody a:before {
	left: 0;
	right: 0;
}

.tribe-events-venue-widget .tribe-venue-widget-thumbnail img {
	left: auto;
	right: 0;
}

.tribe-events-venue-widget .tribe-venue-widget-venue-name {
	padding-left: 15px;
	padding-right: 48px;
}

.tribe-events-venue-widget .tribe-venue-widget-venue-name:before {
	left: auto;
	right: 18px;
}

.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer td {
	text-align: center;
}

.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer td:first-child span {
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 0px;
	border-left-style: solid;
}

.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer td:last-child span {
	border-right-width: 0px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
}

.tribe-this-week-events-widget .widgettitle {
	padding-left: 65px;
	padding-right: 0;
}

.tribe-this-week-events-widget .tribe-events-page-title {
	text-align: right;
}

.tribe-this-week-events-widget .tribe-events-sub-nav {
	left: 0;
	right: auto;
}

.tribe-this-week-events-widget .tribe-events-sub-nav li:not(:last-child) {
	margin-left: 6px;
	margin-right: 0;
}

.tribe-this-week-events-widget .tribe-this-week-event .duration:before,
.tribe-this-week-events-widget .tribe-this-week-event .tribe-venue:before {
	margin-left: 7px;
	margin-right: 0;
}


/*-------------------------------------------------------------------------*/
/*	2.	Tablet Monitor
/*-------------------------------------------------------------------------*/

@media only screen and (min-width: 950px) and (max-width: 1440px) {
	.content_wrap.r_sidebar .widget .cmsmasters_event_date,
	.content_wrap.l_sidebar .widget .cmsmasters_event_date {
		float: none;
	}
}
/*-------------------------------------------------------------------------*/
/*	3.	Small Tablet Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
	table.tribe-events-calendar tbody td.tribe-events-has-events:before {
		left: 0;
		right: 0;
	}

	table.tribe-events-calendar tbody td div[id*="tribe-events-daynum-"] {
		text-align: center;
	}

	table.tribe-events-calendar tbody td div[id*="tribe-events-daynum-"] a {
		text-align: center;
	}

	.tribe-events-list .tribe-events-event-image {
		float: none;
	}
}
/*-------------------------------------------------------------------------*/
/*	4.	Phone Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 540px) {
	.tribe-events-photo .tribe-events-photo-event {
		float: none;
	}

	.cmsmasters_single_event .cmsmasters_single_event_header_left {
		float: none;
	}

	.cmsmasters_single_event .cmsmasters_single_event_header_right {
		float: none;
	}

	.cmsmasters_single_event .cmsmasters_single_event_header_right a {
		float: right;
	}

	.tribe-events-venue .cmsmasters_events_venue_header_left {
		float: none;
	}

	.tribe-events-venue .cmsmasters_events_venue_header_right {
		float: none;
	}

	.tribe-events-venue .cmsmasters_events_venue_header_right a {
		float: right;
	}

	.tribe-events-organizer .cmsmasters_events_organizer_header_left {
		float: none;
	}

	.tribe-events-organizer .cmsmasters_events_organizer_header_right {
		float: none;
	}

	.tribe-events-organizer .cmsmasters_events_organizer_header_right a {
		float: right;
	}

	.cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_4 .tribe-events-meta-group,
	  .cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_3 .tribe-events-meta-group,
	  .cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_2 .tribe-events-meta-group {
		float: none;
	}

	ul.tribe-related-events li {
		float: none;
	}
}

