/**
 * @package 	WordPress
 * @subpackage 	Total School
 * @version 	1.0.0
 * 
 * Responsive Events CSS Rules
 * Created by CMSMasters
 * 
 */


/*-------------------------------------------------------------------------

	1.	Medium Monitor
	2.	Tablet Monitor
	3.	Small Tablet Monitor
	4.	Phone Monitor

-------------------------------------------------------------------------*/


@media only screen and (min-width: 1025px) {
  #tribe-events-content-wrapper {
    outline: none;
  }
  .content .tribe-events-photo #tribe-events-photo-events {
    margin: 0 -11px;
  }
}
@media only screen and (max-width: 1024px) {
  .tribe-events-single .cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_3 .tribe-events-meta-group {
    width: 96.6%;
  }
  .tribe-events-list .tribe-events-event-image {
    width: 40%;
  }
  .cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_4 .tribe-events-meta-group {
    width: 46.6%;
  }
  .cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_4 .tribe-events-meta-group:nth-child(2n + 1) {
    clear: left;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1440px) {
  .content_wrap.r_sidebar .widget .cmsmasters_event_date,
  .content_wrap.l_sidebar .widget .cmsmasters_event_date {
    margin: 0 auto 10px;
    float: none;
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .tribe-events-photo .tribe-events-event-meta {
    padding: 9px 20px;
  }
  .tribe-events-photo .tribe-events-list-event-title {
    padding: 24px 20px 0;
  }
  .tribe-events-photo .tribe-events-list-photo-description {
    padding: 10px 20px 0;
  }
  .tribe-events-photo .tribe-events-event-details {
    padding: 0 0 30px;
  }
  .tribe-bar-filters-inner > div {
    width: 96.6%;
  }
  .tribe-events-uses-geolocation .tribe-bar-filters-inner > div {
    width: 96.6%;
  }
  .tribe-bar-filters-inner > div.tribe-bar-submit label {
    display: none;
  }
  #tribe-geo-map-wrapper #tribe-geo-map {
    padding-bottom: 50%;
  }
  #tribe-events-content {
    padding-top: 25px;
  }
  #tribe-mobile-container {
    display: block;
  }
  table.tribe-events-calendar thead th {
    padding: 5px 0;
  }
  table.tribe-events-calendar tbody td {
    height: 45px;
    padding-bottom: 20px;
  }
  table.tribe-events-calendar tbody td.tribe-events-has-events {
    position: relative;
    cursor: pointer;
  }
  table.tribe-events-calendar tbody td.tribe-events-has-events:before {
    background: #000;
    content: '';
    width: 5px;
    height: 5px;
    margin: auto !important;
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
  }
  table.tribe-events-calendar tbody td.tribe-events-has-events.mobile-active {
    outline: none;
  }
  table.tribe-events-calendar tbody td.tribe-events-thismonth {
    position: relative;
  }
  table.tribe-events-calendar tbody td div[id*="tribe-events-daynum-"] {
    padding: 0;
    text-align: center;
  }
  table.tribe-events-calendar tbody td div[id*="tribe-events-daynum-"] a {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  table.tribe-events-calendar tbody td .tribe_events {
    display: none;
  }
  table.tribe-events-calendar tbody td .tribe-events-viewmore {
    display: none;
  }
  .tribe-events-list .tribe-events-event-image {
    width: 100%;
    padding: 0 0 30px;
    float: none;
    clear: both;
  }
  .tribe-events-week-grid .tribe-events-grid {
    display: none;
  }
}
@media only screen and (max-width: 540px) {
  .cmsmasters_single_event_meta_wrap .cmsmasters_single_event_meta,
  .cmsmasters_single_event .cmsmasters_single_event_content_wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  #tribe-geo-map-wrapper #tribe-geo-map {
    padding-bottom: 100%;
  }
  .tribe-events-photo .tribe-events-photo-event {
    width: 100% !important;
    float: none;
  }
  .cmsmasters_single_event .cmsmasters_single_event_header_left {
    float: none;
  }
  .cmsmasters_single_event .cmsmasters_single_event_header_right {
    padding: 25px 0 0;
    float: none;
  }
  .cmsmasters_single_event .cmsmasters_single_event_header_right a {
    float: left;
  }
  .tribe-events-venue .cmsmasters_events_venue_header_left {
    float: none;
  }
  .tribe-events-venue .cmsmasters_events_venue_header_right {
    padding: 25px 0 0;
    float: none;
  }
  .tribe-events-venue .cmsmasters_events_venue_header_right a {
    float: left;
  }
  .tribe-events-organizer .cmsmasters_events_organizer_header_left {
    float: none;
  }
  .tribe-events-organizer .cmsmasters_events_organizer_header_right {
    padding: 25px 0 0;
    float: none;
  }
  .tribe-events-organizer .cmsmasters_events_organizer_header_right a {
    float: left;
  }
  .cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_4 .tribe-events-meta-group,
  .cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_3 .tribe-events-meta-group,
  .cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_2 .tribe-events-meta-group {
    width: 96.6%;
    float: none;
    clear: both;
  }
  .cmsmasters_single_event_map [id*="tribe-events-gmap"],
  .tribe-events-venue .cmsmasters_events_venue_meta_map [id*="tribe-events-gmap"] {
    padding-bottom: 100% !important;
  }
  ul.tribe-related-events li {
    width: 96.6%;
    margin-bottom: 30px;
    float: none;
    clear: both;
  }
  ul.tribe-related-events li:last-child {
    margin-bottom: 0;
  }
  #tribe-events-bar {
    padding: 20px;
  }
  #tribe-events-bar .tribe-bar-views-list {
    padding: 0;
  }
}
