/**
 * @package 	WordPress
 * @subpackage 	Total School
 * @version 	1.0.0
 * 
 * Events CSS Rules
 * Created by CMSMasters
 * 
 */



/*-------------------------------------------------------------------------

	0.	LESS Variables + Functions
	1. 	Skeleton Events Styles
	2. 	Global Events Styles
	3. 	Events Bar
	4. 	Events Pages
	5. 	Single Event
	6. 	Related Events
	7. 	Single Venue
	8. 	Single Organizer
	9. 	Widgets
	10.	CSS3 Animations

-------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------*/
/*	0.	LESS Variables & Functions	*/
/*-------------------------------------------------------------------------*/

/***************** Variables ******************/
@input_pad: 22px;

@line_height_pad: 20px;
@blocks_hor_pad: 20px;
@cont_vert_pad: 80px;

@bdrs_width: 30px;

@col_mar: 1.7%;

@preloader_event_pad: 65.1%;
@preloader_related_event_pad: 84.4%;


/***************** Functions ******************/
.fl () {
	float:left;
}

.fr () {
	float:right;
}

.dn () {
	display:none;
}

.tal () {
	text-align:left;
}

.tac () {
	text-align:center;
}

.tar () {
	text-align:right;
}

.cl () {
	clear:both;
}

.ovh () {
	overflow:hidden;
}

.m0a () {
	margin:0 auto;
}

.bd (@w:1px; @t:solid) {
	border-width:@w;
	border-style:@t;
}

.bdt (@w:1px; @t:solid) {
	border-top-width:@w;
	border-top-style:@t;
}

.bdb (@w:1px; @t:solid) {
	border-bottom-width:@w;
	border-bottom-style:@t;
}

.bdr (@w:1px; @t:solid) {
	border-right-width:@w;
	border-right-style:@t;
}

.bdl (@w:1px; @t:solid) {
	border-left-width:@w;
	border-left-style:@t;
}

.color_white_opacity (@op:.5) {
	color:rgba(255, 255, 255, @op);
}

.bg_white_opacity (@op:.5) {
	background-color:rgba(255, 255, 255, @op);
}

.fullwidth_in_block () {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

.op (@op:.5) {
	opacity:@op;
}

.cl_after () {
	content:'.';
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
	overflow:hidden;
}

.valign_after () {
	content:'';
	display:inline-block;
	vertical-align:middle;
	height:100%;
}

.pos_abs (@w:1em; @h:1em; @l:0; @r:0; @t:0; @b:0) {
	width:@w;
	height:@h;
	margin:auto !important;
	position:absolute;
	left:@l;
	right:@r;
	top:@t;
	bottom:@b;
}

.bdbx () {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.ctbx () {
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

.bdrs (@radius:@bdrs_width) {
	-webkit-border-radius:@radius;
	border-radius:@radius;
}

.bxsh (@x:0; @y:0; @blur:5px; @spred:0; @alpha:.05) {
	-webkit-box-shadow:@x @y @blur @spred rgba(0, 0, 0, @alpha);
	box-shadow:@x @y @blur @spred rgba(0, 0, 0, @alpha);
}

.bxsh_white (@x:0; @y:0; @blur:5px; @spred:0; @alpha:.05) {
	-webkit-box-shadow:@x @y @blur @spred rgba(255, 255, 255, @alpha);
	box-shadow:@x @y @blur @spred rgba(255, 255, 255, @alpha);
}

.bxshi (@x:0; @y:0; @blur:5px; @spred:0; @alpha:.05) {
	-webkit-box-shadow:inset @x @y @blur @spred rgba(0, 0, 0, @alpha);
	box-shadow:inset @x @y @blur @spred rgba(0, 0, 0, @alpha);
}

.bxshi_white (@x:0; @y:0; @blur:5px; @spred:0; @alpha:.05) {
	-webkit-box-shadow:inset @x @y @blur @spred rgba(255, 255, 255, @alpha);
	box-shadow:inset @x @y @blur @spred rgba(255, 255, 255, @alpha);
}

.bxsh_none () {
	-webkit-box-shadow:none;
	box-shadow:none;
}

.trans(@trans:0) when not (@trans = 0) {
    -webkit-transition:@trans;
    -moz-transition:@trans;
    -ms-transition:@trans;
    -o-transition:@trans;
    transition:@trans;
}

.arrow_top (@h:5px; @w:5px) {
	border-top:0 solid transparent !important;
	border-left:@w solid transparent !important;
	border-right:@w solid transparent !important;
	border-bottom-width:@h;
	border-bottom-style:solid;
}

.arrow_bottom (@h:5px; @w:5px) {
	border-bottom:0 solid transparent !important;
	border-left:@w solid transparent !important;
	border-right:@w solid transparent !important;
	border-top-width:@h;
	border-top-style:solid;
}

.arrow_left (@h:5px; @w:5px) {
	border-left:0 solid transparent !important;
	border-top:@w solid transparent !important;
	border-bottom:@w solid transparent !important;
	border-right-width:@h;
	border-right-style:solid;
}

.arrow_right (@h:5px; @w:5px) {
	border-right:0 solid transparent !important;
	border-top:@w solid transparent !important;
	border-bottom:@w solid transparent !important;
	border-left-width:@h;
	border-left-style:solid;
}

.arrow_top_left (@h:5px; @w:5px) {
	border-right:@w solid transparent !important;
	border-left:0 solid transparent !important;
	border-bottom:0 solid transparent !important;
	border-top-width:@h;
	border-top-style:solid;
}

.arrow_top_right (@h:5px; @w:5px) {
	border-bottom:@h solid transparent !important;
	border-top:0 solid transparent !important;
	border-left:0 solid transparent !important;
	border-right-width:@w;
	border-right-style:solid;
}

.arrow_bottom_left (@h:5px; @w:5px) {
	border-top:@h solid transparent !important;
	border-right:0 solid transparent !important;
	border-bottom:0 solid transparent !important;
	border-left-width:@w;
	border-left-style:solid;
}

.arrow_bottom_right (@h:5px; @w:5px) {
	border-left:@w solid transparent !important;
	border-top:0 solid transparent !important;
	border-right:0 solid transparent !important;
	border-bottom-width:@h;
	border-bottom-style:solid;
}



/*-------------------------------------------------------------------------*/
/*	1. Skeleton Events Styles */
/*-------------------------------------------------------------------------*/

/* = Global & Miscellaneous Styles
=============================================*/

.updated-info {
	text-indent:-9999px;
	height:0;
}

/* Event Schedule Detail Styling */
.tribe-events-event-schedule-details {
	display:inline;
}
/* 2011 Theme Extra Calendar Room */
.events-archive .entry-content, 
.events-archive .entry-header { width:98%; }

/* Remove "Edit" Link from unneeded templates */
.events-archive span.edit-link {
	display:none;
}

/* Miscellaneous Helper Classes */
.clearfix:before, .tribe-clearfix:before, .clearfix:after, .tribe-clearfix:after {content:""; display:table;}
.clearfix:after, .tribe-clearfix:after {clear:both;}
.clearfix, .tribe-clearfix {zoom:1;}
.tribe-clear {clear:both;}
.tribe-events-visuallyhidden {
	border:0;
    clip:rect(0 0 0 0);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px;
}
.tribe-hide-text {
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}
.tribe-events-error {display:none;}
.tribe-events-multi-event-day {color:#0f81bb;}
#tribe-events-content .tribe-events-abbr {border-bottom:0; cursor:default;}

/* Tribe Spinner */
.tribe-events-spinner {
	width:32px;
	height:32px;
	margin-left:-16px;
	max-width:none;
}
.tribe-events-spinner-medium {
	width:32px;
	height:32px;
	margin-left:-12px;
	max-width:none;
}
.tribe-events-spinner-small {
	width:16px;
	height:16px;
	margin-left:-8px;
	max-width:none;
}

/* General Template Header/Footer Nav */
.tribe-events-ajax-loading {
	display:none;
	position:absolute;
	left:50%;
	-webkit-box-shadow:none;
			box-shadow:none;
}

.tribe-events-loading .tribe-events-ajax-loading {
	display:block;
}

/* General Template Header Nav */
#tribe-events-content li.tribe-events-nav-date {
	padding-top:16px;
}
select.tribe-events-dropdown {
	width:auto;
	font-size:11px;
	margin:33px 9px 0 0;
}
#tribe-events-events-picker, 
#tribe-events-picker {
	display:inline;
}


/* = Events List Widget Styles (Sidebar)
   @ Template:widgets/list-widget.php
=============================================*/
.tribe-events-list-widget ol,
.tribe-events-adv-list-widget ol {
	list-style-type:square;
	margin-left:0;
	margin-bottom:0;
}
.tribe-events-list-widget li, 
.singular.page li.hentry, 
.tribe-events-adv-list-widget li, 
.singular.page li.hentry {
	margin:6px 0;
	padding:0 0 10px 0;
}
.tribe-events-list-widget li p.entry-title.summary,
.tribe-events-adv-list-widget li p.entry-title.summary {
	margin-bottom:0;
	padding:0;
	font-size:100%;
}

#page .widget.tribe-events-adv-list-widget {
	.widgettitle {
		margin-bottom:26px;
	}
	
	.cmsmasters_event_date {
		.bd(0);
	}
	
	.cmsmasters_widget_event_info div {
		margin:8px 0 0;
	}
	
	.type-tribe_events {
		padding:0;
		margin-bottom:30px;
				
		&:last-of-type {
			margin-bottom:0;
			padding-bottom:0;
		}
	}
	
	.cmsmasters_widget_event_venue_loc {
		.dn;
	}
	
	.cmsmasters_theme_icon_time:before {
		content:'\e874';
	}
}

/* = WooTickets
=============================================*/
table.tribe-events-tickets .tickets_price {
	font-style:italic;
	color:#000;
	font-weight:bold;
}

td.tickets_name {
	color:#777;
	font-size:13px;
}

.single-tribe_events #tribe-events-content form.cart,
.single-tribe_events #tribe-events-content div.cart {
	margin:30px 0;
}

table.tribe-events-tickets {
	margin:0;
	width:100%;
	border-bottom:0;
}

table.tribe-events-tickets td {
	border-top:1px solid #ddd;
	padding:8px 10px 8px 0;
	vertical-align:middle;
}

table.tribe-events-tickets td.wpec {
	line-height:0;
}

table.tribe-events-tickets td.woocommerce {
	border-bottom:0;
}

table.tribe-events-tickets td.wpec img {
	display:none;
}

table.tribe-events-tickets .tickets_nostock {
	display:inline-block;
	text-align:center;
}

h2.tribe-events-tickets-title {
	margin:20px 0 15px;
	font-size:1.4em;
	font-weight:bold;
}

/* = Events Navigation Bar
   @ Template:modules/bar.php
=============================================*/

/* Views Select */
#tribe-bar-views .tribe-bar-view-select,
#tribe-bar-views .tribe-bar-view-select ~ .tribe-select2 {
	display:none;
}
#tribe-bar-views .tribe-select2 {
	width:108px !important;
	float:left;
}
.tribe-select2-results .select2-results {
	margin:4px 0;
	padding:0;
}
.tribe-select2-results .select2-results .select2-result-label {
	padding:6px 8px;
	color:#444;
	line-height:14px;
}
.tribe-select2-results .select2-results .select2-highlighted {
	background:#ddd;
	color:#444;
}
#tribe-bar-views .select2-container .select2-choice div {
	width:18px;
}
#tribe-bar-views .select2-container .select2-choice span {
	margin-right:18px;
}
#tribe-bar-views .select2-container .select2-choice span span {
	margin-right:0;
}

/* Views Select When Have Settings */
.tribe-has-settings #tribe-bar-dates {
	margin-left:-331px;
}
.tribe-has-settings #tribe-bar-views {
	width:142px;
	margin-left:-142px;
}
.tribe-has-settings #tribe-bar-views .select2-container .select2-choice {
	-webkit-border-bottom-right-radius:0;
			border-bottom-right-radius:0;
	-webkit-border-top-right-radius:0;
			border-top-right-radius:0;
}
.tribe-has-settings #tribe-bar-views .select2-container .select2-choice div {
	-webkit-border-radius:0;
			border-radius:0;
	background:transparent;
	background-image:none;
	filter:none;
	border-left:0;
}

/* Settings */
#tribe-events-bar .tribe-bar-settings {
	overflow:hidden;
}
#tribe-events-bar .tribe-bar-button-settings span {
	height:100%;
	float:left;
	width:14px;
	display:inline-block;
	position:relative;
}
#tribe-bar-views .tribe-bar-drop-content button {
	width:100%;
}

/* Filters Button & Dropdown Content */
#tribe-events-bar .tribe-bar-button-settings {
	border-left-color:transparent;
	-webkit-border-radius:0 4px 4px 0;
			border-radius:0 4px 4px 0;
	float:left;
	margin-left:-1px;
}
.tribe-bar-settings .tribe-bar-drop-content {
	width:285px;
	right:-5px;
	padding:10px 12px 4px;
}

/* Bar Width Adjustments */
.tribe-bar-full #tribe-bar-views .tribe-bar-view-select,
.tribe-bar-full #tribe-bar-views .tribe-bar-view-select ~ .tribe-select2 {
	display:none;
}
.tribe-bar-mini #tribe-bar-views .tribe-bar-view-select,
.tribe-bar-mini #tribe-bar-views .tribe-bar-view-select ~ .tribe-select2 {
	display:block;
}
.tribe-bar-full #tribe-bar-views ul.tribe-bar-view-list {
	display:block;
}
.tribe-bar-mini #tribe-bar-views ul.tribe-bar-view-list {
	display:none;
}



/* Skeleton Events Pro Styles */

/* Events Loop */
.tribe-events-loop .tribe-events-loop .vevent {
	margin:0;
}
.tribe-events-loop h2.tribe-events-page-title {
	padding-left:0;
}
.tribe-events-loop .published {
	margin-top:0;
}

/* = Map View Template Styles 
   @ Template:map.php
=============================================*/
/* tribe geo location option links (displayed when multiple locations found) */
#tribe-geo-results h2,
#tribe-geo-options h2 {
	color:#222;
	font-size:18px;
	font-weight:bold;
	line-height:1em;
	margin:0 0 6px;
	padding:0;
}

#tribe-geo-results h2 a,
#tribe-geo-options h2 a {
	color:#222;
}

#tribe-geo-links {
	margin-top:20px;
	border-top:1px solid #eee;
	border-right:1px solid #eee;
	border-left:1px solid #eee;
}

#tribe-geo-options {
	display:none;
	margin-bottom:20px;
}

.tribe-geo-option-link {
	display:block;
	text-decoration:none;
	color:#444;
	border-bottom:1px solid #eee;
	padding:3px 6px;
	-webkit-transition:0.1s ease-in-out;
	   -moz-transition:0.1s ease-in-out;
	     -o-transition:0.1s ease-in-out;
			transition:0.1s ease-in-out
}

.tribe-geo-option-link:hover {
	background:#f5f5f5;
}

.tribe-geo-option-link:hover,
.tribe-geo-option-link:focus {
	text-decoration:none;
}

.tribe-option-loaded,
.tribe-geo-option-link.tribe-option-loaded:hover {
	background:#666;
	color:#fff;
}

/* tribe geo location results list formatting */
#tribe-geo-results .tribe-events-notices {
	text-align:center;
	margin:2.25em 0 0 0;
}

.tribe-geo-result-entry {
	position:relative;
	overflow:auto;
	border-bottom:1px solid #ddd;
	padding:2.25em 0;
}

.tribe-geo-result-last {
	border-bottom:none;
	padding-bottom:none;
}

.tribe-geo-result-thumb {
	float:left;
	width:30%;
	margin-right:2%;
}

.tribe-geo-result-thumb a {
	display:block;
	border:1px solid #ddd;
	padding:2px;
	-webkit-transition:0.1s ease-in-out;
	   -moz-transition:0.1s ease-in-out;
	     -o-transition:0.1s ease-in-out;
			transition:0.1s ease-in-out
}

.tribe-geo-result-thumb a img {
	max-width:100%;
	width:100%;
	display:block;
}

.tribe-geo-result-data {
	float:right;
	width:68%;
}

.tribe-geo-result-date {
	display:block;
	font-size:16px;
	font-style:italic;
	margin:10px 0 0 0;
	text-transform:none;
}

.tribe-geo-result-venue {
	display:block;
	margin:10px 0 0 0;
	font-size:16px;
}

.tribe-geo-result-excerpt {
	margin:10px 0 0 0;
}

.tribe-geo-result-entry .tribe-geo-result-excerpt p {
	font-size:14px;
}

.tribe-geo-result-entry h2 {
	float:left;
	width:80%;
}

.tribe-geo-result-cost {
	width:18%;
	float:right;
}

.tribe-geo-result-cost span {
	display:block;
	font-weight:bold;
	padding:8px 10px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	text-align:center;
}

.timer {
	text-align:center;
	width:100%;
	color:red;
	margin:20px 0;
}

/* = View Loading / Pagination Styles 
   @ Template:map.php & photo.php
=============================================*/
#tribe-geo-loading/*,
#tribe-photo-loading*/ {
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:#fff;
	background:rgba(255, 255, 255, 0.2);
	z-index:4;
	webkit-transition:all 1s linear;
	-moz-transition:all 1s linear;
	-o-transition:all 1s linear;
	-ms-transition:all 1s linear;
	transition:all 1s linear;
}
#tribe-geo-loading img {
	position:absolute;
	left:50%;
	top:50%;
	margin:-16px 0 0 -16px;
}

/* = Events Calendar Widget Styles (Sidebar)
   @ Template:widgets/calendar-widget.php
=============================================*/
.tribe-events-calendar-widget #tribe-events-calendar-wrap {
	width:100%;
}
.tribe-events-calendar-widget table.tribe-events-calendar {
	width:100%;
	table-layout:fixed;
	margin-top:0;
	border-collapse:collapse;
}
.tribe-events-calendar-widget table.tribe-events-calendar, 
.tribe-events-calendar-widget .tribe-events-calendar td {
	border:1px solid #bbb;
}
.tribe-view-all-events {
	float:right;
}
.tribe-events-calendar-widget th {
	font-size:10px;
	background-color:#e8e8e8;
	color:#555;
	width:14.28%;
}
.tribe-events-calendar-widget td {
	height:auto;
	text-align:center;
}
.tribe-events-calendar-widget td div[id*="tribe-events-daynum-"] {
	padding:6px 0;
	background-color:#f9f9f9;
}
.tribe-events-calendar-widget div[id*="tribe-events-daynum-"], 
.tribe-events-calendar-widget td a {
	font-size:10px;
}
.tribe-events-calendar-widget td a.tribe-events-day-has-event {
	color:#06c;
	cursor:default;
}
.tribe-events-calendar-widget .tribe-events-calendar .tribe-events-tooltip {
	width:100px;
	left:0;
	text-align:left;
	padding:5px 10px;
	margin-bottom:1.625em;
}
.tribe-events-calendar-widget .tribe-events-tooltip .tribe-events-arrow {
	left:2px;
}
.tribe-events-calendar-widget .tribe-events-right .tribe-events-tooltip {
	right:0;
	left:auto;
}
.tribe-events-calendar-widget .tribe-events-right .tribe-events-tooltip .tribe-events-arrow {
	left:auto;
	right:2px;
}
.tribe-events-calendar-widget h5.entry-title {
	font-size:11px;
	line-height:1.5;
	padding:0;
}
#ajax-loading-mini {
	display:none;
}



/*-------------------------------------------------------------------------*/
/*	2. Global Events Styles */
/*-------------------------------------------------------------------------*/
.tribe-events-address {
  margin:0;
}
.tribe-events-address .adr br {
  display:none;
}

/* Events Nav */
.tribe-events-sub-nav {
	list-style:none;
	margin:0;
	padding:40px 0 0;
	position:relative;
	.ovh;
	
	li {
		display:block;
		margin:0;
		padding:0;
		position:relative;
		
		&:before {
			content:none;
		}
		
		a {
			display:inline-block;
			min-height:32px;
			padding:2px 0;
			position:relative;
		}
		
		span:not([class]) {
			font-size:18px;
			line-height:18px;
			text-indent:-9999px;
			.tac;
			.bd;
			.pos_abs(32px, 32px);
			
			&:before {
				font-family:"fontello";
				text-indent:0;
				line-height:1em;
				.tac;
				.pos_abs;
			}
		}
		
		&.tribe-events-nav-previous, 
		&.nav-previous {
			.fl;
			
			a {
				padding-right:0;
				padding-left:50px;
			}
			
			span:not([class]) {
				left:0;
				right:auto;
				
				&:before {
					left:1px;
					right:0;
					content:'\eb21';
				}
			}
		}
		
		&.tribe-events-nav-next, 
		&.nav-next {
			.fr;
			
			a {
				padding-right:50px;
				padding-left:0;
			}
			
			span:not([class]) {
				left:auto;
				right:0;
				
				&:before {
					right:-2px;
					left:0;
					content:'\eb22';
				}
			}
		}
	}
}


/* Events Title */
.tribe-events-page-title {
	margin:0;
	padding:0 0 50px;
	.tac;
}


/* Events Header */
#tribe-events-header {
	visibility:hidden;
	.dn;
}


/* Events Footer */
#tribe-events-footer {
	position:relative;
	.ovh;
}


/* Events Tooltip */
.tribe-events-tooltip {
	display:none;
	margin:0;
	padding:0;
	width:312px;
	min-width:312px;
	position:absolute;
	z-index:10000;
	
	&:before, 
	&:after {
		content:'';
		position:absolute;
		bottom:-4px;
		left:20px;
		.arrow_bottom(8px, 6px);
	}
	
	&:before {
		bottom:-6px; 
	}
	
	.tribe-events-month & {
		bottom:100% !important;
	}
	
	.tribe-events-right & {
		left:auto;
		right:0;
	}
	
	.preloader {
		padding-bottom:@preloader_event_pad;
		
		&.highImg {
			height:auto;
			padding:0;
		}
	}
	
	.tribe-events-event-body {
		padding:18px 24px 15px;
		position:relative;
		.ovh;
		.bd;
		.bdb(2px);
		
		> p:last-of-type {
			padding:0;
		}
	}
	
	.entry-title {
		margin:0;
		position:relative;
	}
	
	.duration {
		margin:6px 0 0;
		position:relative;
		.ovh;
	}
	
	.description {
		margin:0;
		padding:10px 0 0;
		position:relative;
		.ovh;
	}
	
	.tribe-events-arrow {
		.dn;
	}
}


/* Event Notices */
.tribe-events-notices {
	padding:20px 30px;
	margin:30px 0;
}

.tribe-events-notices > ul, 
.tribe-events-notices > ul > li {
	margin:0;
	padding:0;
	list-style:none;
	
	&:before {
		content:none;
	}
}

.tribe-events-date {
	display:inline-block;
}


/* Recurring Info */
.recurringinfo {
	display:inline-block;
	position:relative;
	
	.tribe-events-divider {
		text-indent:-9999px;
		line-height:1em;
		display:inline-block;
		width:1em;
		margin:0 1px;
		position:relative;
		
		&:before {
			content:'/';
			text-indent:0;
			.tac;
			.pos_abs;
		}
	}
	
	.recurring-info-tooltip {
		margin-top:5px;
		padding:0;
		overflow:visible;
		bottom:auto !important;
		top:100%;
		
		.tribe-events-event-body {
			padding:15px;
		}
		
		&:before, 
		&:after {
			content:none;
		}
	}
}


/* Events Map */
.gm-style img {
	max-width:none;
}



/*-------------------------------------------------------------------------*/
/*	3. Events Bar */
/*-------------------------------------------------------------------------*/
#tribe-events-bar {
	padding:40px;
	position:relative;
	.ovh;
	.bd;
	.bdb(2px);
}

#tribe-bar-collapse-toggle {
	display:none;
}

/* Filters */
.tribe-bar-filters {
	padding:0 0 10px;
	position:relative;
	.ovh;
}

.tribe-bar-filters-inner {
	margin:0 -@col_mar;
	position:relative;
	.ovh;
	
	> div {
		width:round((100% / 3) - (@col_mar * 2), 2);
		margin:0 @col_mar 20px;
		position:relative;
		.fl;
		.ovh;
		
		.tribe-events-uses-geolocation & {
			width:round((100% / 4) - (@col_mar * 2), 2);
		}
		
		label {
			display:block;
			padding-bottom:5px;
		}
		
		input {
			width:100%;
		}
	}
}


/* Views */
#tribe-bar-views {
	display:inline-block;
	margin:0;
	position:relative;
	.ovh;
	
	.button {
		cursor:pointer;
		.fl;
	}
	
	.tribe-bar-views-select {
		visibility:hidden;
		.dn;
	}
	
	.tribe-bar-views-list {
		margin:10px 0 0 0;
		padding:0;
		position:relative;
		display:block;
		.ovh;
		.cl;
		
		li {
			margin:0;
			padding:0;
			.fl;
			.ovh;
			
			&:before {
				content:none;
			}
			
			&:not(:last-child) {
				margin:0 10px 10px 0;
			}
			
			a {
			    padding:0 12px;
				cursor:pointer;
				display:inline-block;
				.bd;
			}
			
			&.tribe-bar-active a {
				cursor:default;
			}
		}
	}
	
	.tribe-bar-views-inner {
		> span {
			display:block;
		}
	}
}


/*-------------------------------------------------------------------------*/
/*	4. Events Pages */
/*-------------------------------------------------------------------------*/


#tribe-events-pg-template {
	&.cmsmasters_event_page_photo, 
	&.cmsmasters_event_page_day, 
	&.cmsmasters_event_page_week, 
	&.cmsmasters_event_page_list, 
	&.cmsmasters_event_page_month, 
	&.cmsmasters_event_page_map {
		#tribe-events-content-wrapper {
			margin-top:@cont_vert_pad;
		}
	}
}


/* Map */
#tribe-geo-map-wrapper {
	padding:0;
	position:relative;
	z-index:2;
	.ovh;
	
	#tribe-geo-map {
		width:100%;
		height:0;
		padding-bottom:30%;
		position:relative;
		z-index:3;
		.ovh;
		
		> div {
			position:absolute;
		}
		
		label {
			width:auto;
			display:inline;
		}
		
		img {
			max-width:none;
		}
	}
}


.photo-loader {
	position:absolute;
	top:200px;
	left:50%;	
}


#tribe-events-content {
	position:relative;
	padding:45px 0 50px;
	
	&.tribe-events-single {
		padding:0;
		
		.middle_content & {
			padding:0 0 50px;
		}
	}
	
	> .tribe-events-button {
		margin:42px 0 0;
		display:inline-block;
		position:relative;
	}
	
	.isotope,
	.isotope .isotope-item {
		-webkit-transition-duration:0.2s;
		-moz-transition-duration:0.2s;
		-ms-transition-duration:0.2s;
		-o-transition-duration:0.2s;
		transition-duration:0.2s;
	}
}


/* Months */
.tribe-events-month {
	position:relative;
}

table.tribe-events-calendar {
	margin:0 1px 2px;
	border-collapse:separate;
	border-spacing:0;
	.cl;
	
	thead {
		th {
			width:250px;
			padding:18px 5px;
			.tac;
		}
	}
	
	tbody {
		td {
			border:0;
			width:14.28%;
			height:110px;
			vertical-align:top;
			position:relative;
			.bdr;
			.bdb;
			
			&:first-child {
				.bdl;
			}
			
			&:last-child {
				.bdr;
			}
			
			div[id*="tribe-events-daynum-"] {
				padding:5px 15px;
				position:relative;
				.ovh;
				.bdb;
				
				a {
					display:block;
					margin:-5px -15px;
					padding:5px 15px;
					position:relative;
				}
			}
			
			&.tribe-events-present {
				outline:none;
				
				div[id*="tribe-events-daynum-"] {
					outline:none;
				}
			}
			
			.tribe_events {
				margin:0;
				position:relative;
				.bdb;
				
				&:last-child {
					.bdb(0);
				}
			}
			
			.tribe-events-month-event-title {
				margin:0;
				padding:0;
				
				a {
					display:block;
					padding:10px 15px;
				}
			}
			
			.tribe-events-viewmore {
				padding:5px 15px;
				position:relative;
				.bdt;
				.ovh;
				
				a {
					display:block;
					position:relative;
				}
			}
		}
		
		tr:last-child {
			td {
				.bdb(2px);
			}
		}
	}
}


/* List, Day, Map */
.tribe-events-list {
	position:relative;
	
	.tribe-events-page-title {
		padding:0 0 6px;
	}
	
	.tribe-events-user-recurrence-toggle {
		visibility:hidden;
		.dn;
	}
	
	.tribe-events-list-separator-month, 
	.tribe-events-day-time-slot > h5 {
		display:block;
		margin:0;
		padding:44px 0;
		position:relative;
		.tac;
		.ovh;
	}
	
	.type-tribe_events {
		padding:50px 0;
		position:relative;
		.bdt;
		.bdb;
		.ovh;
	}
	
	.type-tribe_events + .type-tribe_events {
		.bdt(0);
	}
	
	.tribe-events-loop {
		> .tribe-events-list-separator-month, 
		> .tribe-events-day-time-slot > h5{
			&:first-of-type {
				padding-top:10px;
			}
		}
	}
	
	.tribe-events-event-image {
		width:34%;
		padding:0 40px 0 0;
		.tac;
		.fl;
		.ovh;
		
		img {
			width:100%;
			max-width:100%;
			height:auto;
		}
	}
	
	.cmsmasters_events_list_event_wrap {
		position:relative;
		.ovh;
	}
	
	.cmsmasters_events_list_event_info {
		min-height:65px;
		padding:0;
		position:relative;
	}
	
	.tribe-events-list-event-title {
		margin:0;
		padding:0;
	}
	
	.tribe-events-event-meta {
		margin:0;
		padding:12px 0 0;
		position:relative;
		
		.author > div {
			padding:8px 0 0 30px;
			position:relative;
			
			&:before {
				font-size:16px;
				line-height:26px;
				.pos_abs(18px, 1em, 0, auto, 0, 0);
			}
		}
		
		.tribe-address {
			br {
				.dn;
			}
		}
		
		.tribe-events-gmap {
			margin:0 0 0 5px;
		}
	}
	
	.tribe-events-list-event-description {
		padding:28px 0 0;
		position:relative;
		.ovh;
		.tal;
		.cl;
		
		> p:last-of-type {
			padding-bottom:30px;
		}
	}
	
	.tribe-events-read-more {
		display:inline-block;
	}
}

#tribe-events-footer {
	.screen-reader-text {
		.dn;
	}
}


/* Day */

.cmsmasters_event_page_day {
	.tribe-events-loop {
		> .tribe-events-day-time-slot:nth-child(2) > h5 {
			padding-top:10px;
		}
	}
}

.tribe-events-map .tribe-events-page-title {
	display:block;
	margin:0;
	padding:0 0 50px;
	position:relative;
	.tac;
	.bdb;
	.ovh;
	.bxsh_white(0, 1px, 0, 0, .7);
}


/* Photo */
.tribe-events-photo {
	#tribe-events-photo-events {
		opacity:0;
		margin:0 -19.7px;
		-webkit-transition-property:height, width;
		-moz-transition-property:height, width;
		-ms-transition-property:height, width;
		-o-transition-property:height, width;
		transition-property:height, width;
		
		.isotope-item {
			-webkit-transition-property:-webkit-transform, opacity;
			-moz-transition-property:-moz-transform, opacity;
			-ms-transition-property:-ms-transform, opacity;
			-o-transition-property:top, left, opacity;
			transition-property:transform, opacity;
		}
		
		&.photo-hidden {
			opacity:0 !important;
		}
		
		&.photo-two-col .tribe-events-photo-event {
			width:50%;
		}
	}
	
	.tribe-events-user-recurrence-toggle {
		visibility:hidden;
		.dn;
	}
	
	.tribe-events-page-title {
		display:block;
		margin:0;
		padding:0 0 50px;
		position:relative;
		.tac;
		.bdb;
		.ovh;
	}
	
	.tribe-events-photo-event {
		width:33.33%;
		padding:40px 20px 0;
		position:relative;
		.fl;
	}
	
	.tribe-events-photo-event-wrap {
		position:relative;
	}
	
	.tribe-events-event-image {
		width:100%;
		height:0;
		margin:0;
		padding-bottom:@preloader_event_pad;
		position:relative;
		
		img {
			.fullwidth_in_block;
		}
	}
	
	.tribe-events-event-details {
		padding:0 0 40px;
		position:relative;
		.bd;
		.bdb(2px);
	}
	
	.tribe-events-list-event-title {
		margin:0 0 5px;
		padding:24px 20px 0;
		position:relative;
		
		a {
			width:100%;
			.tal;
		}
	}
	
	.tribe-events-event-meta {
		width:100%;
		padding:9px 20px;
		margin:0;
		position:relative;
		.bdb;
	}
	
	.time-details {
		position:relative;
		
		&:before {
			margin:0 10px 0 0;
			font-size:16px;
			display:inline-block;
			vertical-align:middle;
		}
	}
	
	.tribe-events-list-photo-description {
		padding:10px 20px 0;
		position:relative;
		.ovh;
		
		> *:last-child {
			margin-bottom:0;
			padding-bottom:0;
		}
	}
}


/* Week */
.tribe-events-week-grid {
	z-index:1000;
}
	
.tribe-events-grid {
	width:100%;
	position:relative;
	
	.tribe-events-tooltip {
		&:before, 
		&:after {
			content:none;
		}
	}
	
	.tribe-scroller {
		position:relative;
		width:100%;
		height:500px;
		overflow:hidden;
		.bdl;
		.bdr;
		.bdb;
	}
	
	.tribe-scroller > .scroller-content {
		position:absolute;
		overflow:scroll;
		overflow-x:hidden;
		top:0;
		right:0;
		bottom:0;
		left:0;
	}
	
	.tribe-scroller > .scroller-content:focus {
		outline:thin dotted;
	}
	
	.tribe-scroller > .scroller-content::-webkit-scrollbar {
		display:none;
	}
	
	.has-scrollbar > .scroller-content::-webkit-scrollbar {
		display:block;
	}
	
	.tribe-scroller > .scroller-pane {
		background:rgba(0,0,0,.25);
		position:absolute;
		width:10px;
		right:0;
		top:0;
		bottom:0;
		visibility:hidden\9; /* Target only IE7 and IE8 with this hack */
		opacity:.01;
		-webkit-transition:.2s;
		-moz-transition:.2s;
		-o-transition:.2s;
		transition:.2s;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		z-index:1000 !important
	}
	
	.tribe-scroller > .scroller-pane > .scroller-slider {
		background:#444;
		background:rgba(0,0,0,.5);
		position:relative;
		margin:0 1px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
	}
	
	.tribe-scroller:hover > .scroller-pane, 
	.scroller-pane.active, 
	.scroller-pane.flashed {
		visibility:visible\9; /* Target only IE7 and IE8 with this hack */
		opacity:0.99;
	}
	
	.tribe-week-grid-outer-wrap {
		position:relative;
	}
	
	.tribe-week-grid-inner-wrap {
		width:100%;
		position:absolute;
	}
	
	.tribe-week-grid-block {
		height:60px;
		padding:0;
		margin:0;
		position:relative;
		
		div {
			height:31px;
			margin-bottom:29px;
			.bdt;
			.bdb;
		}
	}
	
	.tribe-grid-body {
		position:relative;
	}
	
	.column {
		width:14.2857%;
		min-height:1px;
		vertical-align:top;
		position:relative;
		.fl;
		
		&.first {
			width:50px;
			.tac;
			.fl;
			
			> span {
				vertical-align:middle;
			}
			
			&:after {
				.valign_after;
			}
		}
	}
	
	.tribe-week-grid-hours {
		width:50px;
		.fl;
		
		div {
			height:60px;
			padding:19px 0 0;
			position:relative;
			.tac;
			.bdt;
		}
	}
	
	.tribe-grid-content-wrap {
		padding:0 0 0 50px;
		
		&:after {
			.cl_after;
		}
		
		.column {
			.bdl;
		}
	}
	
	.tribe-grid-header {
		position:relative;
		.ovh;
		
		.column {
			.bdl(0);
		}
		
		a {
			display:block;
		}
		
		span {
			display:block;
			padding:13px 5px;
			.tac;
		}
	}
	
	.tribe-grid-allday {
		margin-bottom:-1px;
		position:relative;
		z-index:10;
		.bdl;
		.bdr;
		.bdb;
		
		.tribe-events-tooltip {
			top:100% !important;
			bottom:auto !important;
		}
		
		.tribe-week-event {
			position:relative;
			
			.vevent {
				width:100%;
				min-width:100%;
				max-width:100%;
				cursor:pointer;
			}
		}
	}
	
	.tribe-week-event {
		width:100%;
		visibility:hidden;
		position:absolute;
		
		&:hover {
			z-index:800;
		}
		
		.vevent {
			width:100%;
			height:100%;
			padding:1px;
			position:relative;
			z-index:1;
			cursor:pointer;
			
			.entry-title {
				display:block;
				width:100%;
				height:100%;
				margin:0;
				padding:0;
				.ovh;
				.bd;
				
				a {
					display:block;
					width:100%;
					height:100%;
					padding:10px 20px;
					text-overflow:ellipsis;
					.ovh;
				}
			}
		}
	}
	
	.tribe-events-day-column-0, 
	.tribe-events-day-column-6, 
	.tribe-events-day-column-5 {
		.tribe-events-tooltip {
			left:auto;
			right:0;
		}
	}
}

#tribe-mobile-container {
	display:none;
	padding:0;
	position:relative;
	.ovh;
}

.tribe-mobile-day {
	position:relative;
	.ovh;
	
	.tribe-events-week-grid & {
		padding-bottom:30px;
		
		&:last-child {
			padding-bottom:0;
		}
	}
	
	p:empty {
		.dn;
	}
	
	.tribe-mobile-day-heading {
		.dn;
	}
	
	.tribe-mobile-day-date {
		margin:0;
		position:relative;
		.cl;
		.ovh;
	}
	
	.tribe-events-mobile {
		padding:40px 0;
		position:relative;
		.bdb;
		.ovh;
		.bxsh_white(0, 1px, 0, 0, .7);
		
		&:last-child, 
		&.tribe-events-last, 
		&.tribe-event-end-month {
			padding-bottom:0;
			.bdb(0);
			.bxsh_none;
		}
		
		.tribe-events-week-grid & {
			padding:20px 0;
		}
	}
	
	.summary {
		margin:0;
	}
	
	.tribe-events-event-body {
		position:relative;
		.ovh;
	}
	
	.tribe-events-event-schedule-details, 
	.tribe-event-schedule-details {
		display:block;
		padding:0 0 20px;
		
		.tribe-events-week-grid & {
			padding-bottom:10px;
		}
	}
	
	.tribe-events-event-image {
		width:100%;
		margin:0 0 20px;
		position:relative;
		.tac;
		.ovh;
		
		img {
			width:100%;
			max-width:100%;
			height:auto;
			.bdrs;
		}
	}
	
	.description {
		padding:0 0 20px;
	}
	
	.tribe-events-read-more {
		outline:none;
	}
}



/*-------------------------------------------------------------------------*/
/*	5. Single Event */
/*-------------------------------------------------------------------------*/

.cmsmasters_single_event {
	margin:0 0 40px;
	position:relative;	
	
	.cmsmasters_single_event_img {
		position:relative;
		.ovh;
		
		.tribe-events-event-image {
			.tac;
		}
	}
	
	.cmsmasters_single_event_content_wrapper {
		padding:38px 36px 48px;
		position:relative;
		.ovh;
		.bd;
		.bdb(2px);
	}
	
	.cmsmasters_single_event_header {
		padding:0 0 38px;
		position:relative;
		
		&:after {
			.cl_after;
		}
	}
	
	.cmsmasters_single_event_header_left {
		.fl;
	}
	
	.tribe-events-single-event-title {
		margin:0;
		padding:0;
	}
	
	.tribe-events-schedule {
		padding:16px 0 0;
		position:relative;
	}
	
	.tribe-events-date, 
	.tribe-events-cost {
		position:relative;
		
		&:before {
			margin:0 12px 0 0;
			font-size:16px;
			display:inline-block;
			vertical-align:middle;
		}
	}
	
	.tribe-events-cost {
		margin-top:8px;
	}
	
	.cmsmasters_single_event_header_right {
		padding:10px 0 0;
		.fr;
		.ovh;
		
		div {
			.ovh;
		}
		
		a {
			display:block;
			clear:both;
			.fr;
			
			&:before {
				font-size:14px;
				margin:0 8px 0 0;
			}
		}
	}
	
	.cmsmasters_single_event_content {
		margin:0;
		padding:0;
		position:relative;
		.ovh;
		
		> *:last-child {
			margin-bottom:0;
			padding-bottom:0;
		}
	}
}

.cmsmasters_single_event_meta_wrap {
	margin:0 0 40px;
	padding:0;
	position:relative;
	.ovh;
	.bd;
	.bdb(2px);
	
	.cmsmasters_single_event_meta {
		margin:0 -@col_mar;
		padding:40px 40px 10px;	
		word-wrap:break-word;
		position:relative;
		.ovh;
	
		&.cmsmasters_event_meta_info_col_4 {
			.tribe-events-meta-group {
				width:round((100% / 4) - (@col_mar * 2), 2);
			}
		}
		
		&.cmsmasters_event_meta_info_col_3 {
			.tribe-events-meta-group {
				width:round((100% / 3) - (@col_mar * 2), 2);
			}
		}
		
		&.cmsmasters_event_meta_info_col_2 {
			.tribe-events-meta-group {
				width:round((100% / 2) - (@col_mar * 2), 2);
			}
		}
		
		.tribe-events-meta-group {
			width:round(100% - (@col_mar * 2), 2);
			margin:0 @col_mar 30px;
			position:relative;
			.fl;
			.ovh;
		}
		
		.tribe-events-single-section-title {
			margin:0;
			padding:0 0 16px;
		}
		
		.cmsmasters_event_meta_info {
			.ovh;
		}
		
		.cmsmasters_event_meta_info_item {
			padding:8px 0;
			.ovh;
			
			&:not(:last-of-type) {
				.bdb;
			}
		}
		
		dl {
			padding:0;
		}
		
		.cmsmasters_event_meta_info_item_title, 
		.cmsmasters_event_meta_info_item_descr, 
		dt, 
		dd {
			display:inline-block;
			width:45%;
			padding:0 15px 0 0;
			position:relative;
			vertical-align:middle;
			.tal;
			.ovh;
		}
		
		.cmsmasters_event_meta_info_item_descr, 
		dd {
			width:55%;
			padding:0;
			margin:0 0 0 -4px;
			.tar;
		}
	}
}

.tribe-events-single .post_nav {
	margin:40px 0 30px;
	padding:20px 0;
	
	&:before, 
	&:after {
		content:'';
		width:100%;
		height:1px;
		position:absolute;
		left:0;
		right:auto;
		.bxsh_white(0, 1px, 0, 0, .7);
	}
	
	&:before {
		top:0;
	}
	
	&:after {
		bottom:1px;
	}
}

.cmsmasters_single_event_map {
	padding:20px;
	margin-bottom:52px;
	position:relative;
	.ovh;
	.bd;
	.bdb(2px);
	
	[id*="tribe-events-gmap"] {
		width:100% !important;
		padding-bottom:40% !important;
		height:0 !important;
		margin:0 !important;
		position:relative !important;
		
		> div {
			position:absolute;
		}
	}
}



/*-------------------------------------------------------------------------*/
/*	6. Related Events */
/*-------------------------------------------------------------------------*/

.tribe-events-related-events-title {
	margin:0;
	padding:0 0 34px;
}

ul.tribe-related-events {
	margin:0 -@col_mar;
	padding:0;
	position:relative;
	overflow:visible !important;
	
	li {
		width:round((100% / 3) - (@col_mar * 2), 2);
		margin:0 @col_mar;
		padding:0;
		position:relative;
		.fl;
		.ovh;
		
		&:before {
			content:none;
		}
	}
	
	.tribe-related-events-thumbnail {
		a {
			display:block;
			height:0;
			padding-bottom:@preloader_related_event_pad;
			position:relative;
			.ovh;
			
			&:empty {
				padding-bottom:0;
			}
		}
		
		img, 
		.cmsmasters_events_img_placeholder {
			.fullwidth_in_block;
		}
		
		.cmsmasters_events_img_placeholder:before {
			font-size:40px;
			.pos_abs;
		}
	}
	
	.tribe-related-event-info {
		padding:20px;
		position:relative;
		.ovh;
		.bd;
		.bdb(2px);
		.tac;
	}
	
	.tribe-related-events-title {
		margin:0;
		padding:0;
	}
}



/*-------------------------------------------------------------------------*/
/*	7. Single Venue */
/*-------------------------------------------------------------------------*/
div.tribe-events-venue {
	.ovh;
}

.tribe-events-venue {
	position:relative;
	
	.cmsmasters_events_venue_header {
		padding:0 0 25px;
		position:relative;
		
		&:after {
			.cl_after;
		}
	}
	
	.cmsmasters_events_venue_header_left {
		.fl;
		
		.entry-title {
			margin:0;
			padding:0;
		}
	}
	
	.tribe-events-event-meta {
		padding:2px 0 0;
		position:relative;
		
		.venue-address {
			margin:0;
			position:relative;
			.ovh;
			
			> span {
				display:block;
			}
		}
	}
	
	.cmsmasters_events_venue_header_right {
		padding:10px 0 0;
		.fr;
		.ovh;
		
		a {
			display:block;
			clear:both;
			.fr;
			
			&:before {
				margin:0 5px 0 0;
			}
		}
	}
	
	.tribe-events-venue-meta {
		position:relative;
		.ovh;
	}
	
	.cmsmasters_events_venue_meta_img {
		margin:0 0 25px;
		position:relative;
		.ovh;
		
		.tribe-events-event-image {
			.tac;
		}
	}
	
	.tribe-venue-description {
		margin:0;
		padding:0 0 35px;
		position:relative;
		.ovh;
		
		> *:last-child {
			margin-bottom:0;
			padding-bottom:0;
		}
	}
	
	.cmsmasters_events_venue_meta_map {
		padding:0 0 50px;
		position:relative;
		.ovh;
		
		[id*="tribe-events-gmap"] {
			width:100% !important;
			padding-bottom:40% !important;
			height:0 !important;
			margin:0 !important;
			position:relative !important;
			
			> div {
				position:absolute;
			}
		}
	}
	
	#tribe-events-content {
		padding-top:0;
	}
}



/*-------------------------------------------------------------------------*/
/*	8. Single Organizer */
/*-------------------------------------------------------------------------*/
.tribe-events-organizer {
	position:relative;
	
	.cmsmasters_events_organizer_header {
		padding:0 0 25px;
		position:relative;
		
		&:after {
			.cl_after;
		}
	}
	
	.cmsmasters_events_organizer_header_left {
		.fl;
		
		.entry-title {
			margin:0;
			padding:0;
		}
	}
	
	.tribe-events-event-meta {
		padding:2px 0 0;
		position:relative;
		
		.organizer-address {
			margin:0;
			position:relative;
			.ovh;
			
			> span {
				display:block;
			}
			
			.tribe-events-divider {
				.dn;
			}
		}
	}
	
	.cmsmasters_events_organizer_header_right {
		padding:10px 0 0;
		.fr;
		.ovh;
		
		a {
			display:block;
			clear:both;
			.fr;
			
			&:before {
				margin:0 5px 0 0;
			}
		}
	}
	
	.tribe-events-organizer-meta {
		position:relative;
		.ovh;
	}
	
	.cmsmasters_events_organizer_meta_img {
		margin:0 0 25px;
		position:relative;
		.ovh;
		
		.tribe-events-event-image {
			.tac;
		}
		
		img {
			.bdrs;
		}
	}
	
	.tribe-organizer-description {
		margin:0;
		padding:0 0 50px;
		position:relative;
		.ovh;
		
		> *:last-child {
			margin-bottom:0;
			padding-bottom:0;
		}
	}
	
	#tribe-events-content {
		padding-top:0;
	}
}



/*-------------------------------------------------------------------------*/
/*	9.	Widgets	*/
/*-------------------------------------------------------------------------*/

/* Global Widgets Styles */
.widget .vcalendar, 
.tribe-mini-calendar-list-wrapper {
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	.ovh;
	
	.type-tribe_events {
		margin-bottom:15px;
		padding-bottom:15px;
		position:relative;
		.bdb;
		.ovh;
		
		&:last-child {
			margin-bottom:0;
			padding-bottom:0;
		}
	}
	
	.tribe-events-list-widget-content-wrap {
		padding:0;
		position:relative;
		.ovh;
	}
	
	.entry-title {
		margin:0;
		padding:0;
	}
	
	.cmsmasters_widget_event_info {
		margin-top:5px;
		padding:0;
		position:relative;
		
		> div:not(:last-of-type) {
			margin-bottom:5px;
		}
	
		[class*=cmsmasters_theme_icon] {
			padding:0 0 0 28px;
			position:relative;
			
			&:before {
				font-size:16px;
				line-height:16px;
				.pos_abs(1em, 1em, 0, auto);
			}
		}
	}
}

.cmsmasters_event_date {
	width:68px;
	height:68px;
	margin:0 18px 0 0;
	position:relative;
	display:block;
	.tac;
	.fl;
	.ovh;
	.bdrs(50%);
	.bd;
	
	&:after {
		.valign_after;
	}
	
	.cmsmasters_event_date_inner {
		display:inline-block;
		vertical-align:middle;
		.tac;
	}
	
	.cmsmasters_event_day {
		font-size:30px;
		line-height:30px;
		font-weight:300;
		display:block;
	}
	
	.cmsmasters_event_mon {
		font-size:11px;
		line-height:11px;
		font-weight:700;
		margin:5px 0 0;
		text-transform:uppercase;
		display:block;
	}
}

.tribe-events-widget-link {
	margin:15px 0 0 0;
	padding:0;
	position:relative;
	.tar;
}


/* Widget Mini Calendar */
.tribe_mini_calendar_widget {
	position:relative;
	.ovh;
	
	.cmsmasters_event_date {
		.bd(0);
	}
	
	.tribe-mini-calendar-wrapper {
		width:100%;
	}
	
	.tribe-mini-calendar-grid-wrapper {
		padding:0 1px;
		position:relative;
	}
	
	.tribe-mini-calendar-list-wrapper {
		padding:20px 0 0;
		position:relative;
	}
}

.tribe-mini-calendar {
	width:100%;
	margin:0 0 2px;
	border-collapse:separate;
	.ovh;
	
	th, 
	td {
		vertical-align:top;
		.tac;
	}
	
	div {
		position:relative;
		.tac;
	}
	
	[id*=tribe-mini-calendar-month] {
		padding:14px 40px;
		display:block;
		.tac;
		
		&.active {
			visibility:hidden;
		}
	}
	
	#ajax-loading-mini {
		.dn;
		.pos_abs(auto, 70%);
	}
	
	.tribe-mini-calendar-nav-link {
		.pos_abs(34px, 100%);
		
		&:before {
			font-family:"fontello";
			text-indent:0;
			line-height:1em;
			.tac;
			.pos_abs;
		}
		
		&.prev-month {
			left:0;
			right:auto;
			
			&:before {
				content:'\eb21';
			}
		}
		
		&.next-month {
			left:auto;
			right:0;
			
			&:before {
				content:'\eb22';
			}
		}
		
		span {
			.dn;
		}
	}
	
	thead th {
		padding:5px 0;
		
		&.tribe-mini-calendar-dayofweek {
			&:first-child {
				.bdl;
				.bdr(0);
			}
					
			&:last-child {
				.bdl(0);
				.bdr;
			}
		}
	}
	
	tbody {		
		a, 
		span {
			display:block;
			padding:0 0 10px;
			position:relative;
		}
				
		td {
			&:first-child {
				.bdl;
				.bdr(0);
			}
			
			&:last-child {
				.bdr;
				.bdl(0);
			}
		}
		
		tr {
			&:first-child {
				td {
					.bdt;
				}
			
				a, 
				span {
					padding-top:20px;
				}
			}
			
			&:last-child {
				td {
					.bdb(2px);
					
					a,
					span {
						padding-bottom:30px;
						
						&:before {
							bottom:28px;
						}
					}
				}
			}
		}
		
		a:before {
			content:'';
			.pos_abs(5px, 5px, 0, 0, auto, 9px);
			.bdrs(50%);
		}
	}
}


/* Widget Events Venue */
.tribe-events-venue-widget {
	position:relative;
	.ovh;
	
	.tribe-venue-widget-wrapper {
		position:relative;
		.ovh;
	}
	
	.tribe-venue-widget-venue {
		margin:0 1px 25px;
		position:relative;
		.ovh;
	}
	
	.tribe-venue-widget-thumbnail {
		width:100%;
		height:0;
		margin:0;
		padding-bottom:@preloader_event_pad;
		position:relative;
		
		img {
			.fullwidth_in_block;
		}
	}
	
	.tribe-venue-widget-venue-name {
		padding:10px 15px 10px 48px;
		position:relative;
		.bd;
		.bdt(0);
		.bdb(2px);
		
		&:before {
			font-size:18px;
			line-height:18px;
			.pos_abs(1em, 1em, 18px, auto);
		}
	}
}


/* Widget CountDown */
.tribe-events-countdown-widget {
	position:relative;
	.ovh;
	
	.widgettitle {
		margin-bottom:30px;
	}
	
	.tribe-countdown-text {
		padding:0 0 5px;
		position:relative;
		.ovh;
	}
	
	.tribe-countdown-time {
		margin-top:18px;
		display:block;
		position:relative;
		.ovh;
		
		.tribe-countdown-timer {
		    border-spacing:0;
			position:relative;
			.ovh;
		
			td {
				width:25%;
				padding-top:12px;
				.tac;
				
				&.tribe-countdown-timer-separator {
					width:50px;
				}
				
				span {
					padding:5px 0px;
					margin-top:12px;
					display:block;
					.bdb(2px);
				}
				
				&:first-child {					
					span {
						.bdl;
						.bdr(0);
					}
				}
				
				&:last-child {				
					span {
						.bdl(0);
						.bdr;
					}
				}
			}
		}
	}
}


/* Widget This Week */
.tribe-this-week-events-widget {
	position:relative;
	
	.widgettitle {
		margin:0 0 -25px;
		padding:0 65px 0 0;
	}
	
	.tribe-this-week-widget-wrapper {
		padding:56px 0 0;
		position:relative;
		.ovh;
	}
	
	.tribe-events-page-title {
		margin:0 0 18px;
		padding:0;
		.tal;
	}
	
	.tribe-events-sub-nav {
		margin:0;
		padding:0;
		position:absolute;
		left:auto;
		right:0;
		top:0;
		bottom:auto;
		
		li {
		
			&:not(:last-child) {
				margin:0 6px 0 0;
			}
			
			a {
				padding:0;
				width:32px;
				height:32px;
				display:block;
			}
			
			.tribe-nav-label {
				.dn;
			}
		}
	}
	
	.tribe-this-week-widget-weekday-wrapper  {
		position:relative;
	}
	
	.tribe-this-week-widget-day {
		padding:0 0 20px;
		margin-bottom:20px;
		position:relative;
		.bdb;
	}
	
	.tribe-this-week-widget-header-date {
		padding:5px 14px;
		margin:0 0 30px;
		display:inline-block;
	}
	
	.tribe-this-week-event {
		padding:15px 0 0;
		position:relative;
		
		&:first-child {
			padding:0;
		}
		
		.entry-title {
			margin:0;
			padding:0 0 5px;
		}
		
		.duration, 
		.tribe-venue {
			margin-bottom:-3px;
		
			&:before {
				font-size:14px;
				margin:0 7px 0 0;
			}
		}
	}
	
	.tribe-events-viewmore {
		padding:15px 0 0;
	}
}



/*-------------------------------------------------------------------------*/
/*	10.	CSS3 Animations	*/
/*-------------------------------------------------------------------------*/

html.csstransitions {
	.tribe_color {
		.trans(~'color .3s ease-in-out');
	}
	
	.tribe-events-grid .tribe-week-event .vevent .entry-title a, 
	.tribe-events-grid .tribe-grid-header a {
		.trans(~'background-color .3s ease-in-out');
	}
	
	#tribe-bar-views .tribe-bar-views-list li a {
		.trans(~'color .3s ease-in-out, border-color .3s ease-in-out');
	}
	
	.tribe-events-sub-nav li span:not([class]) {
		.trans(~'color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out');
	}
}

