/**
 * @package 	WordPress
 * @subpackage 	Total School
 * @version 	1.0.0
 * 
 * Responsive CMSMASTERS Donations CSS Rules
 * Created by CMSMasters
 * 
 */


/*-------------------------------------------------------------------------

	1.	Large Monitor
	2.	Tablet Monitor
	3.	Small Tablet Monitor
	4.	Phone Monitor
	5.	Small Phone Monitor

-------------------------------------------------------------------------*/


@media only screen and (min-width: 1440px) {
  .donations {
    outline: none;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1440px) {
  .header_donation_but_wrap .header_donation_but .cmsmasters_button {
    padding: 0;
    width: 48px;
    font-family: 'fontello';
    font-size: 16px;
    line-height: 48px;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .header_donation_but_wrap .header_donation_but .cmsmasters_button:before {
    content: '\e829';
  }
  .header_donation_but_wrap .header_donation_but .cmsmasters_button span {
    display: none;
  }
}
@media only screen and (min-width: 1025px) {
  .donations {
    outline: none;
  }
}
@media only screen and (max-width: 1024px) {
  #page .donations.opened-article > .donation .cmsmasters_donation_info {
    text-align: center;
  }
  #page .donations.opened-article > .donation .cmsmasters_donation_info_img {
    width: 40%;
    padding: 0 0 30px;
  }
  #page .donations.opened-article > .donation .cmsmasters_donation_info_cont {
    display: block;
    width: 100%;
  }
  #page .header_top_donation_but {
    margin: 10px 0 0;
    padding: 5px 20px;
  }
  .cmsmasters_featured_campaign .campaign {
    text-align: center;
  }
  .cmsmasters_featured_campaign .campaign .cmsmasters_campaign_wrap_img,
  .cmsmasters_featured_campaign .campaign .cmsmasters_campaign_donated_percent {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  .cmsmasters_featured_campaign .campaign .cmsmasters_campaign_wrap_img + .cmsmasters_campaign_donated_percent {
    margin: 0 0 0 100px;
  }
  .cmsmasters_featured_campaign .campaign .cmsmasters_campaign_cont {
    float: none;
    width: 100%;
    padding: 50px 0 0;
    clear: both;
  }
  .cmsmasters_featured_campaign .campaign .cmsmasters_campaign_cont * {
    text-align: center;
  }
}
@media only screen and (max-width: 950px) {
  .donations {
    outline: none;
  }
  .opened-article > .campaign .campaign_meta_wrap .cmsmasters_campaign_donate_button .button {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 768px) {
  #page .header_donation_but_wrap {
    width: 100%;
    float: none;
    margin: 0;
    padding: 15px 5% 20px;
    clear: both;
  }
  #page .header_donation_but_wrap .header_donation_but_wrap_inner {
    display: block;
    height: auto !important;
    width: 100%;
  }
  #page .header_donation_but_wrap .header_donation_but_wrap_inner .header_donation_but {
    display: block;
    text-align: center;
  }
  #page .donations.opened-article > .donation .cmsmasters_donation_info_img {
    width: 60%;
  }
  #page .cmsmasters_featured_campaign .campaign .cmsmasters_campaign_wrap_img {
    width: 200px;
  }
  #page .cmsmasters_featured_campaign .campaign .cmsmasters_campaign_donated_percent .cmsmasters_stat_wrap .cmsmasters_stat_container {
    height: 200px;
    width: 150px;
  }
  #page .cmsmasters_featured_campaign .campaign .cmsmasters_campaign_wrap_img + .cmsmasters_campaign_donated_percent {
    margin: 0 0 0 60px;
  }
  #page .opened-article > .campaign .campaign_meta_wrap {
    display: block;
  }
  #page .opened-article > .campaign .campaign_meta_wrap > div {
    display: block;
    width: 100%;
    border-left-width: 0;
    border-left-style: solid;
  }
  #page .opened-article > .campaign .campaign_meta_wrap > div:not(:first-of-type) {
    border-top-width: 1px;
    border-top-style: solid;
  }
  #page .opened-article > .campaign .campaign_meta_wrap .cmsmasters_campaign_donate_button .button {
    padding: 0 42px;
  }
  #page .opened-article > .campaign .campaign_meta_wrap .cmsmasters_stat_wrap {
    padding: 0;
  }
}
@media only screen and (max-width: 600px) {
  .donations {
    outline: none;
  }
}
@media only screen and (max-width: 540px) {
  #page .donations.opened-article > .donation .cmsmasters_donation_info {
    padding: 20px;
  }
  #page .cmsmasters_featured_campaign .campaign {
    padding: 38px 28px;
  }
  #page .cmsmasters_featured_campaign .campaign .cmsmasters_campaign_wrap_img {
    margin: 0 auto;
    display: block;
  }
  #page .cmsmasters_featured_campaign .campaign .cmsmasters_campaign_donated_percent,
  #page .cmsmasters_featured_campaign .campaign .cmsmasters_campaign_wrap_img + .cmsmasters_campaign_donated_percent {
    margin: 40px 0 0;
  }
  .donations.opened-article > .donation .cmsmasters_donation_details_item_title {
    width: 35%;
  }
  .donations.opened-article > .donation .cmsmasters_donation_details_item_value {
    width: 65%;
  }
}
@media only screen and (max-width: 320px) {
  .donations {
    outline: none;
  }
}
