/**
 * @package 	WordPress
 * @subpackage 	Total School
 * @version 	1.0.0
 * 
 * Theme RTL Rules
 * Created by CMSMasters
 * 
 */


body {
	unicode-bidi: embed;
	direction: rtl;
}

ul ul,
ol ul,
ul ol,
ol ol {
	margin-left: 0;
	margin-right: 20px;
}

ul {
	padding-right: 15px;
}

ul li:before {
	text-align: center;
	left: auto;
	right: -18px;
}

blockquote {
	padding-right: 30px;
	padding-left: 0;
}

table caption {
	text-align: center;
}

.sticky .cmsmasters_post_title {
	padding-left: 60px;
	padding-right: 0;
}

.sticky .cmsmasters_post_title:before {
	content: '\e830'; /* Check this rule! */
	text-align: center;
	left: 0;
	right: auto;
}

body {
	text-align: right;
}

div {
	text-align: right;
}

nav > div > ul ul {
	left: auto;
	right: 0;
}

nav > div > ul ul ul {
	margin-left: 0;
	margin-right: 20px;
	left: auto;
	right: 100%;
}

.header_top nav > div > ul ul ul {
	margin-left: 0;
	margin-right: 20px;
}

.header_bot nav > div > ul ul ul {
	margin-left: 0;
	margin-right: 20px;
}

nav > div > ul li.menu-item-dropdown-right {
	text-align: left;
}

nav > div > ul li.menu-item-dropdown-right * {
	text-align: left;
}

nav > div > ul li.menu-item-dropdown-right > ul {
	left: 0;
	right: auto;
}

nav > div > ul li.menu-item-dropdown-right > ul ul {
	margin-left: 20px;
	margin-right: 0;
	left: 100%;
	right: auto;
}

.header_bot nav > div > ul li.menu-item-dropdown-right > ul ul {
	margin-left: 20px;
	margin-right: 0;
}

nav > div > ul li.menu-item-dropdown-right > div.menu-item-mega-container {
	left: 0;
	right: auto;
}

nav > div > ul li.menu-item-dropdown-right > div.menu-item-mega-container ul {
	right: auto;
	left: auto;
}

nav > div > ul li:hover > ul:before {
	left: auto;
	right: 0;
}

nav > div > ul li:hover > div.menu-item-mega-container:before {
	left: auto;
	right: 0;
}

nav > div > ul li li:hover > ul {
	margin-left: 0;
	margin-right: 4px;
}

.header_top nav > div > ul li li:hover > ul {
	margin-left: 0;
	margin-right: 4px;
}

.header_bot nav > div > ul li li:hover > ul {
	margin-left: 0;
	margin-right: 4px;
}

nav > div > ul li li:hover > ul:before {
	left: auto;
	right: -5px;
}

.header_top nav > div > ul li li:hover > ul:before {
	left: auto;
	right: -5px;
}

.header_bot nav > div > ul li li:hover > ul:before {
	left: auto;
	right: -5px;
}

nav > div > ul li.menu-item-dropdown-right li:hover > ul {
	margin-left: 4px;
	margin-right: 0;
}

.header_bot nav > div > ul li.menu-item-dropdown-right li:hover > ul {
	margin-left: 4px;
	margin-right: 0;
}

nav > div > ul li.menu-item-dropdown-right li:hover > ul:before {
	left: -5px;
	right: auto;
}

.header_bot nav > div > ul li.menu-item-dropdown-right li:hover > ul:before {
	right: auto;
	left: -5px;
}

nav > div > ul .nav_title[class^="cmsmasters-icon-"]:before,
nav > div > ul .nav_title[class*=" cmsmasters-icon-"]:before {
	margin-left: .5em;
	margin-right: 0;
}

nav > div > ul > li {
	float: right;
	border-left-width: 1px;
	border-left-style: solid;
}

nav > div > ul > li:last-child {
	border-left-width: 0;
	border-left-style: solid;
}

nav > div > ul li.menu-item-mega ul {
	left: auto;
	right: auto;
}

nav > div > ul div.menu-item-mega-container {
	left: auto;
	right: 0;
}

.alignleft,
.fl {
	float: right;
}

.alignright,
.fr {
	float: left;
}

.aligncenter {
	text-align: center;
}

img.alignleft,
img.fl {
	margin-left: 20px;
}

img.alignright,
img.fr {
	margin-right: 20px;
}

.tal,
.ta_left {
	text-align: right;
}

.tac,
.ta_center {
	text-align: center;
}

.tar,
.ta_right {
	text-align: left;
}

.one_first,
.one_half,
.one_third,
.two_third,
.one_fourth,
.three_fourth,
.one_fifth,
.one_sixth {
	float: right;
}

.one_first {
	float: none;
}

.cmsmasters_row.cmsmasters_row_top_left_diagonal:before,
.cmsmasters_row.cmsmasters_row_bot_left_diagonal:after {
	left: 0;
	right: auto;
}

.cmsmasters_row.cmsmasters_row_top_right_diagonal:before,
.cmsmasters_row.cmsmasters_row_bot_right_diagonal:after {
	left: auto;
	right: 0;
}

.cmsmasters_row.cmsmasters_row_top_zigzag:before,
.cmsmasters_row.cmsmasters_row_bot_zigzag:after {
	left: 0;
	right: 0;
}

.cmsmasters_row.cmsmasters_row_top_triangle:before,
.cmsmasters_row.cmsmasters_row_bot_triangle:after {
	left: 0;
	right: 0;
}

.cmsmasters_row .cmsmasters_row_overlay {
	left: auto;
	right: 0;
}

#page:after,
#middle:after,
.middle_inner:after,
.middle_content:after,
#bottom:after,
.bottom_bg:after,
.content_wrap:after,
.cmsmasters_row_inner:after,
.cmsmasters_row_margin:after,
.cmsmasters_column:after {
	content: '.'; /* Check this rule! */
}

.content {
	float: right;
}

.content.fr {
	float: left;
}

.content_wrap.r_sidebar .content,
.content_wrap.l_sidebar .content {
	padding-left: 40px;
	padding-right: 0;
}

.content_wrap.r_sidebar .sidebar:before,
.content_wrap.l_sidebar .sidebar:before,
.content_wrap.r_sidebar .content:before,
.content_wrap.l_sidebar .content:before {
	left: 0;
	right: auto;
}

.content_wrap.r_sidebar .sidebar:before,
.content_wrap.l_sidebar .sidebar:before {
	left: auto;
	right: -1px;
}

.content_wrap.l_sidebar .content {
	padding-left: 0;
	padding-right: 40px;
}

.content_wrap.l_sidebar .sidebar:before,
.content_wrap.l_sidebar .content:before {
	left: auto;
	right: 0;
}

.content_wrap.l_sidebar .sidebar:before {
	left: -1px;
	right: auto;
}

.sidebar {
	padding-left: 0;
	padding-right: 40px;
	float: left;
}

.sidebar.fl {
	padding-left: 40px;
	padding-right: 0;
	float: right;
}

.bottom_inner aside {
	float: right;
}

.cmsmasters_theme_icon_comment:before {
	content: '\eae4'; /* Check this rule! */
}

.cmsmasters_theme_icon_like:before {
	content: '\e8a8'; /* Check this rule! */
}

.cmsmasters_theme_icon_search:before {
	content: '\e88f'; /* Check this rule! */
}

.cmsmasters_theme_icon_cancel:before {
	content: '\eabc'; /* Check this rule! */
}

.cmsmasters_theme_icon_resp_nav:before {
	content: '\eaba'; /* Check this rule! */
}

.cmsmasters_theme_icon_person:before {
	content: '\e813'; /* Check this rule! */
}

.cmsmasters_theme_icon_image:before {
	content: '\e831'; /* Check this rule! */
}

.cmsmasters_theme_icon_check:before {
	content: '\eabb'; /* Check this rule! */
}

.cmsmasters_theme_icon_slide_prev:before,
.cmsmasters_prev_arrow span:before {
	content: '\eb25'; /* Check this rule! */
}

.post_nav_prev_arrow a:before {
	content: '\eb25'; /* Check this rule! */
}

.cmsmasters_theme_icon_slide_next:before,
.cmsmasters_next_arrow span:before {
	content: '\eb26'; /* Check this rule! */
}

.post_nav_next_arrow a:after {
	content: '\eb26'; /* Check this rule! */
}

.cmsmasters_theme_icon_slide_top:before {
	content: '\eb23'; /* Check this rule! */
}

.cmsmasters_theme_icon_slide_bottom:before {
	content: '\eb20'; /* Check this rule! */
}

.cmsmasters_theme_icon_resp_nav_slide_up:before {
	content: '\eb24'; /* Check this rule! */
}

.cmsmasters_theme_icon_resp_nav_slide_down:before {
	content: '\eb26'; /* Check this rule! */
}

.cmsmasters_theme_icon_user_mail:before {
	content: '\e885'; /* Check this rule! */
}

.cmsmasters_theme_icon_user_website:before {
	content: '\e836'; /* Check this rule! */
}

.cmsmasters_theme_icon_user_phone:before {
	content: '\e805'; /* Check this rule! */
}

.cmsmasters_theme_icon_user_address:before {
	content: '\e895'; /* Check this rule! */
}

.cmsmasters_theme_icon_user_twitter:before {
	content: '\e816'; /* Check this rule! */
}

.cmsmasters_theme_icon_basket:before {
	content: '\eb02'; /* Check this rule! */
}

.cmsmasters_theme_icon_star_empty:before {
	content: '\e8aa'; /* Check this rule! */
}

.cmsmasters_theme_icon_star_full:before {
	content: '\e8aa'; /* Check this rule! */
}

.cmsmasters_theme_icon_date:before {
	content: '\e874'; /* Check this rule! */
}

.cmsmasters_theme_icon_time:before {
	content: '\e880'; /* Check this rule! */
}

.cmsmasters_theme_icon_venue:before {
	content: '\e895'; /* Check this rule! */
}

.cmsmasters_theme_icon_money:before {
	content: '\e829'; /* Check this rule! */
}

.cmsmasters_prev_arrow,
.cmsmasters_next_arrow {
	text-align: center;
}

.cmsmasters_prev_arrow span:before,
.cmsmasters_next_arrow span:before {
	text-align: center;
}

.cmsmasters_prev_arrow_pixel,
.cmsmasters_next_arrow_pixel {
	left: auto;
	right: 0;
}

.cmsmasters_prev_arrow_pixel:before,
.cmsmasters_next_arrow_pixel:before {
	left: auto;
	right: 1px;
}

.cmsmasters_prev_arrow_pixel:after,
.cmsmasters_next_arrow_pixel:after {
	left: auto;
	right: 2px;
}

.cmsmasters_prev_arrow_pixel span:before,
.cmsmasters_next_arrow_pixel span:before {
	left: auto;
	right: 3px;
}

.cmsmasters_prev_arrow_pixel span:after,
.cmsmasters_next_arrow_pixel span:after {
	left: auto;
	right: 4px;
}

.cmsmasters_next_arrow_pixel {
	left: 0;
	right: auto;
}

.cmsmasters_next_arrow_pixel:before {
	left: 1px;
	right: auto;
}

.cmsmasters_next_arrow_pixel:after {
	left: 2px;
	right: auto;
}

.cmsmasters_next_arrow_pixel span:before {
	left: 3px;
	right: auto;
}

.cmsmasters_next_arrow_pixel span:after {
	left: 4px;
	right: auto;
}

.cmsmasters_top_arrow_pixel,
.cmsmasters_bot_arrow_pixel {
	left: 0;
	right: 0;
}

.cmsmasters_top_arrow_pixel:before,
.cmsmasters_bot_arrow_pixel:before {
	left: auto;
	right: -1px;
}

.cmsmasters_top_arrow_pixel:after,
.cmsmasters_bot_arrow_pixel:after {
	left: auto;
	right: -2px;
}

.cmsmasters_top_arrow_pixel span:before,
.cmsmasters_bot_arrow_pixel span:before {
	left: auto;
	right: -3px;
}

.cmsmasters_top_arrow_pixel span:after,
.cmsmasters_bot_arrow_pixel span:after {
	left: auto;
	right: -4px;
}

.preloader {
	text-align: center;
}

.preloader .full-width {
	left: auto;
	right: 0;
}

.preloader.highImg .full-width {
	left: auto;
	right: auto;
}

.resizable_block .full-width {
	left: auto;
	right: 0;
}

.cmsmasters_img_wrap .img_placeholder {
	left: auto;
	right: 0;
}

.cmsmasters_img_wrap .img_placeholder:before {
	left: 0;
	right: 0;
}

.cmsmasters_img_rollover_wrap .img_placeholder {
	left: auto;
	right: 0;
}

.cmsmasters_img_rollover_wrap .img_placeholder:before {
	left: 0;
	right: 0;
}

.cmsmasters_img_rollover_wrap .cmsmasters_img_rollover {
	left: auto;
	right: 0;
	text-align: center;
}

.cmsmasters_img_rollover_wrap .cmsmasters_img_rollover .cmsmasters_open_post_link,
.cmsmasters_img_rollover_wrap .cmsmasters_img_rollover .cmsmasters_open_link,
.cmsmasters_img_rollover_wrap .cmsmasters_img_rollover .cmsmasters_image_link {
	left: auto;
	right: 0;
}

.cmsmasters_img_rollover_wrap .cmsmasters_img_rollover .cmsmasters_open_post_link:before,
.cmsmasters_img_rollover_wrap .cmsmasters_img_rollover .cmsmasters_open_link:before,
.cmsmasters_img_rollover_wrap .cmsmasters_img_rollover .cmsmasters_image_link:before {
	left: 0;
	right: 0;
}

.cmsmasters_img_rollover_wrap .cmsmasters_no_rollover a {
	left: 0;
	right: 0;
}

.img_placeholder_small:before {
	left: 0;
	right: 0;
}

.cmsmasters_video_wrap > div {
	left: auto;
	right: 0;
}

.cmsmasters_video_wrap iframe {
	left: auto;
	right: 0;
}

.cmsmasters_video_wrap .wp-video-shortcode,
.cmsmasters_video_wrap .mejs-layer {
	left: auto;
	right: 0;
}

.search_bar_wrap .search_button {
	left: 12px;
	right: auto;
}

.search_bar_wrap .search_button button:before {
	left: 0;
	right: 0;
}

.social_wrap li {
	margin-left: 5px;
	margin-right: 0;
}

.social_wrap a:before {
	left: 0;
	right: 0;
}

.owl-carousel {
	direction: ltr;
}

.owl-carousel .owl-item > div {
	direction: rtl;
}

.owl-pagination {
	left: auto;
	right: 0;
	text-align: center;
}

.owl-buttons {
	left: auto;
	right: 0;
	text-align: center;
}

#slide_top {
	text-align: center;
	right: auto;
	left: 20px;
}

.cmsmasters_likes a,
.cmsmasters_comments a {
	padding-left: 0;
	padding-right: 1px;
}

.cmsmasters_likes a span,
.cmsmasters_comments a span {
	margin-left: 0;
	margin-right: 6px;
}

.button,
input[type=submit],
input[type=button],
button {
	text-align: center;
}

.cmsmasters_items_filter_wrap .cmsmasters_items_sort_block {
	float: left;
}

.cmsmasters_items_filter_wrap .cmsmasters_items_sort_but {
	margin-left: 0;
	margin-right: 5px;
	float: right;
}

.cmsmasters_items_filter_wrap .cmsmasters_items_sort_but:before {
	margin-left: 0;
	margin-right: 8px;
	float: left;
}

.cmsmasters_items_filter_wrap .cmsmasters_items_filter_list {
	text-align: right;
}

.cmsmasters_items_filter_wrap .cmsmasters_items_filter_list li:not(:last-child) {
	margin-left: 6px;
	margin-right: 0;
}

.cmsmasters_wrap_items_loader {
	text-align: center;
}

.cmsmasters_wrap_pagination {
	text-align: center;
}

.cmsmasters_wrap_pagination ul li {
	float: right;
}

.post_nav > span {
	text-align: center;
}

.post_nav > span.cmsmasters_prev_post {
	float: right;
}

.post_nav > span.cmsmasters_next_post {
	float: left;
}

.post_nav > span > a:before,
.post_nav > span > a:after {
	margin-left: 30px;
	margin-right: 0;
}

.post_nav > span > a:after {
	margin-left: 0;
	margin-right: 30px;
}

.share_posts a {
	margin-left: 30px;
	margin-right: 0;
}

.about_author .about_author_avatar {
	margin-left: 38px;
	margin-right: 0;
	float: right;
}

.cmsmasters_single_slider .cmsmasters_single_slider_item_title {
	text-align: center;
}

.post_comments:after {
	content: '.'; /* Check this rule! */
}

.commentlist:after {
	content: '.'; /* Check this rule! */
}

.commentlist .children {
	padding-left: 0;
	padding-right: 20px;
}

.commentlist .comment:after {
	content: '.'; /* Check this rule! */
}

.cmsmasters_comment_item:after {
	content: '.'; /* Check this rule! */
}

.cmsmasters_comment_item .cmsmasters_comment_item_meta_wrap .cmsmasters_comment_item_buttons {
	right: auto;
	left: 0;
}

.cmsmasters_comment_item .cmsmasters_comment_item_meta_wrap .cmsmasters_comment_item_buttons a:not(:last-of-type) {
	margin-left: 20px;
	margin-right: 0;
}

.cmsmasters_comment_item .cmsmasters_comment_item_avatar {
	margin-left: 20px;
	margin-right: 0;
	float: right;
}

.cmsmasters_comment_item > a {
	float: left;
}

.cmsmasters_comment_item > a:not(:last-of-type) {
	margin-left: 0;
	margin-right: 10px;
}

.comment-respond .comment-reply-title small {
	float: left;
}

.comment-respond form label span {
	margin-right: 2px;
}

.comment-respond form .comment-form-author,
.comment-respond form .comment-form-email {
	float: right;
}

#page:not(.enable_header_bottom) #header {
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.header_top .header_top_but > span {
	left: 0;
	right: 0;
}

.header_top .header_top_inner:after {
	content: '.'; /* Check this rule! */
}

.header_top .header_top_right {
	float: left;
}

.header_top .social_wrap ul li {
	float: right;
}

.header_top .responsive_top_nav:before {
	left: 0;
	right: 0;
}

.header_top .header_top_left {
	padding-left: 20px;
	padding-right: 0;
}

.header_top .meta_wrap > * {
	margin-left: 30px;
	margin-right: 0;
}

.header_top .meta_wrap > *[class^="cmsmasters-icon-"]:before,
.header_top .meta_wrap > *[class*=" cmsmasters-icon-"]:before,
.header_top .meta_wrap > *[class^="cmsmasters_theme_icon_"]:before,
.header_top .meta_wrap > *[class*=" cmsmasters_theme_icon_"]:before {
	margin-left: 10px;
	margin-right: 0;
}

.header_mid .header_mid_inner:after {
	content: '.'; /* Check this rule! */
}

.header_mid .logo_wrap {
	float: right;
}

.enable_header_centered .header_mid .logo_wrap {
	float: none;
}

.header_mid .logo_wrap .title_text {
	padding-left: 0;
	padding-right: 3px;
}

.header_mid .logo_wrap .logo img {
	left: auto;
	right: 0;
}

.enable_header_centered .header_mid .logo_wrap .logo img {
	left: 0;
	right: 0;
}

.header_mid .resp_mid_nav_wrap {
	margin-left: 0;
	margin-right: 6px;
	float: left;
}

.header_mid .resp_mid_nav_wrap .resp_mid_nav:before {
	left: 0;
	right: 0;
}

.header_mid .search_wrap {
	margin-left: 0;
	margin-right: 8px;
	float: left;
}

.header_mid .search_wrap .search_bar_wrap form {
	float: left;
}

.header_mid .search_wrap .search_bar_wrap .search_field {
	left: 0;
	right: 0;
}

.header_mid .search_wrap .search_bar_wrap .search_field input {
	text-align: center;
	float: left;
}

.header_mid .search_wrap .search_bar_wrap .search_button {
	right: auto;
	left: 0;
	float: left;
}

.header_mid .search_wrap.search_opened .search_bar_wrap .search_button {
	left: 30px;
	right: auto;
}

.header_mid .social_wrap .social_wrap_inner {
	text-align: left;
}

.header_mid .social_wrap li {
	margin-left: 7px;
	margin-right: 0;
}

.header_mid .slogan_wrap .slogan_wrap_inner {
	padding-left: 0;
	padding-right: 20px;
	text-align: left;
}

.header_mid .slogan_wrap .slogan_wrap_text > * {
	margin-left: 10px;
	margin-right: 0;
}

.header_mid .slogan_wrap .slogan_wrap_text > *[class^="cmsmasters-icon-"]:before,
.header_mid .slogan_wrap .slogan_wrap_text > *[class*=" cmsmasters-icon-"]:before,
.header_mid .slogan_wrap .slogan_wrap_text > *[class^="cmsmasters_theme_icon_"]:before,
.header_mid .slogan_wrap .slogan_wrap_text > *[class*=" cmsmasters_theme_icon_"]:before {
	margin-left: 0.5em;
	margin-right: 0;
}

.header_mid .mid_nav_wrap {
	float: left;
}

.mid_nav > li > a > span span[class*=" cmsmasters-icon-"],
.mid_nav > li > a > span span[class*=" cmsmasters_theme_icon_"] {
	padding-right: 30px;
}

.mid_nav > li > a > span span[class*=" cmsmasters-icon-"]:before,
.mid_nav > li > a > span span[class*=" cmsmasters_theme_icon_"]:before {
	left: auto;
	right: 0;
}

.mid_nav .nav_title {
	margin-left: 10px;
	margin-right: 0;
}

.header_bot .header_bot_inner:after {
	content: '.'; /* Check this rule! */
}

.enable_header_centered .header_bot .header_bot_inner {
	text-align: center;
}

.header_bot .resp_bot_nav_wrap .resp_bot_nav:before {
	left: 0;
	right: 0;
}

.header_bot .bot_nav_wrap {
	float: right;
}

.enable_header_right .header_bot .bot_nav_wrap {
	float: left;
}

.enable_header_centered .header_bot .bot_nav_wrap {
	float: none;
}

.bot_nav > li > a > span span[class*=" cmsmasters-icon-"],
.bot_nav > li > a > span span[class*=" cmsmasters_theme_icon_"] {
	padding-right: 24px;
}

.bot_nav > li > a > span span[class*=" cmsmasters-icon-"]:before,
.bot_nav > li > a > span span[class*=" cmsmasters_theme_icon_"]:before {
	left: auto;
	right: 0;
}

.bot_nav .nav_tag {
	margin-left: 0;
	margin-right: 10px;
}

.cmsmasters_footer_default .footer_logo_wrap {
	text-align: center;
}

.cmsmasters_footer_default .footer_custom_html_wrap {
	text-align: center;
}

.cmsmasters_footer_default .footer_custom_html {
	text-align: center;
}

.cmsmasters_footer_default .footer_nav_wrap div {
	text-align: center;
}

.cmsmasters_footer_default .footer_nav > li:not(:last-child) {
	margin-left: 32px;
	margin-right: 0;
}

.cmsmasters_footer_default .social_wrap .social_wrap_inner {
	text-align: center;
}

.cmsmasters_footer_default .social_wrap li {
	margin-left: 5px;
	margin-right: 0;
}

.cmsmasters_footer_default .footer_copyright {
	text-align: center;
}

.cmsmasters_footer_default .footer_copyright:before {
	left: auto;
	right: 0;
}

.cmsmasters_footer_small .footer_inner .footer_inner_wrap:before {
	left: 0;
	right: 0;
}

.cmsmasters_footer_small .footer_nav_wrap {
	float: left;
}

.cmsmasters_footer_small .footer_nav > li {
	margin-left: 34px;
	margin-right: 0;
}

.cmsmasters_footer_small .social_wrap {
	float: left;
}

.cmsmasters_footer_small .social_wrap li {
	margin-left: 5px;
	margin-right: 0;
}

.cmsmasters_footer_small .footer_custom_html_wrap {
	float: left;
}

.cmsmasters_footer_small .footer_copyright {
	padding-left: 40px;
	padding-right: 0;
}

.blog:after {
	content: '.'; /* Check this rule! */
}

.blog.columns .post {
	float: right;
}

.blog.columns.cmsmasters_4 .owl-pagination {
	right: auto;
	left: 25px;
}

.blog.timeline:before {
	left: 0;
	right: 0;
}

.blog.timeline .post {
	float: right;
}

.blog.timeline .post:before {
	left: 0;
	right: 0;
}

.blog .owl-pagination {
	left: 35px;
	right: auto;
}

.cmsmasters_post_default .cmsmasters_post_cont_wrapper .cmsmasters_post_info .cmsmasters_post_date,
.cmsmasters_post_masonry .cmsmasters_post_cont_wrapper .cmsmasters_post_info .cmsmasters_post_date,
.cmsmasters_post_timeline .cmsmasters_post_cont_wrapper .cmsmasters_post_info .cmsmasters_post_date {
	padding-left: 15px;
	padding-right: 0;
	float: right;
}

.cmsmasters_post_default .cmsmasters_post_cont_wrapper .cmsmasters_post_info .cmsmasters_post_meta_info,
.cmsmasters_post_masonry .cmsmasters_post_cont_wrapper .cmsmasters_post_info .cmsmasters_post_meta_info,
.cmsmasters_post_timeline .cmsmasters_post_cont_wrapper .cmsmasters_post_info .cmsmasters_post_meta_info {
	padding-left: 0;
	padding-right: 15px;
	float: left;
	text-align: right;
}

.cmsmasters_post_default .cmsmasters_post_cont_wrapper .cmsmasters_post_info .cmsmasters_post_meta_info > span:not(:last-child),
.cmsmasters_post_masonry .cmsmasters_post_cont_wrapper .cmsmasters_post_info .cmsmasters_post_meta_info > span:not(:last-child),
.cmsmasters_post_timeline .cmsmasters_post_cont_wrapper .cmsmasters_post_info .cmsmasters_post_meta_info > span:not(:last-child) {
	margin-left: 15px;
	margin-right: 0;
}

.cmsmasters_post_default .cmsmasters_post_cont_wrapper .cmsmasters_post_info_bottom .cmsmasters_post_cont_info > span:not(:last-child),
.cmsmasters_post_masonry .cmsmasters_post_cont_wrapper .cmsmasters_post_info_bottom .cmsmasters_post_cont_info > span:not(:last-child),
.cmsmasters_post_timeline .cmsmasters_post_cont_wrapper .cmsmasters_post_info_bottom .cmsmasters_post_cont_info > span:not(:last-child) {
	margin-left: 20px;
	margin-right: 0;
}

.cmsmasters_post_timeline .cmsmasters_post_meta_info > span {
	float: right;
}

.cmsmasters_post_timeline .cmsmasters_post_meta_info > span:not(:last-child) {
	margin-left: 15px;
	margin-right: 0;
}

.cmsmasters_post_timeline .cmsmasters_post_date {
	text-align: center;
}

.cmsmasters_open_post .cmsmasters_open_post_top .cmsmasters_post_date {
	padding-left: 15px;
	padding-right: 0;
	float: right;
}

.cmsmasters_open_post .cmsmasters_open_post_top .cmsmasters_open_post_top_meta {
	padding-left: 0;
	padding-right: 15px;
	float: left;
	text-align: right;
}

.cmsmasters_open_post .cmsmasters_open_post_top .cmsmasters_open_post_top_meta > span:not(:last-child) {
	margin-left: 15px;
	margin-right: 0;
}

.cmsmasters_open_post .cmsmasters_post_content .cmsmasters_post_content_meta > span:not(:last-child) {
	margin-left: 20px;
	margin-right: 0;
}

.cmsmasters_open_post .cmsmasters_post_category > span,
.cmsmasters_open_post .cmsmasters_post_author > span {
	margin-left: 6px;
	margin-right: 0;
}

.cmsmasters_open_post .cmsmasters_post_footer > span a {
	float: right;
}

.cmsmasters_open_post .cmsmasters_post_footer > span a:not(:last-child) {
	margin-left: 6px;
	margin-right: 0;
}

.portfolio:after {
	content: '.'; /* Check this rule! */
}

.portfolio .cmsmasters_project_grid,
.portfolio .cmsmasters_project_puzzle {
	float: right;
}

.portfolio.small_gap .project .project_outer {
	margin-left: 1px;
	margin-right: 0;
}

.cmsmasters_project_grid .project_inner {
	text-align: center;
}

.cmsmasters_project_grid .cmsmasters_project_cont_info {
	text-align: center;
}

.cmsmasters_project_grid .cmsmasters_project_content {
	text-align: center;
}

.cmsmasters_project_grid .cmsmasters_project_footer > span:not(:last-child) {
	margin-left: 15px;
	margin-right: 0;
}

.cmsmasters_project_puzzle .project_inner {
	left: 0;
	right: 0;
	text-align: center;
}

.cmsmasters_project_puzzle .project_inner .project_inner_aligner {
	text-align: center;
}

.cmsmasters_project_puzzle .project_inner .project_inner_aligner[class^="cmsmasters-icon-"]:before,
.cmsmasters_project_puzzle .project_inner .project_inner_aligner[class*=" cmsmasters-icon-"]:before {
	text-align: center;
}

.cmsmasters_project_puzzle .project_inner .cmsmasters_project_footer {
	text-align: center;
}

.cmsmasters_project_puzzle .cmsmasters_project_cont_info {
	text-align: center;
}

.cmsmasters_project_puzzle .cmsmasters_project_footer > span:not(:last-child) {
	margin-left: 18px;
	margin-right: 0;
}

.cmsmasters_open_project .owl-pagination {
	left: 10px;
	right: auto;
}

.cmsmasters_open_project .cmsmasters_project_likes a span {
	margin-left: 0;
	margin-right: 8px;
}

.cmsmasters_open_project .cmsmasters_project_comments a span {
	margin-left: 0;
	margin-right: 8px;
}

.cmsmasters_open_project .cmsmasters_project_header {
	text-align: right;
}

.cmsmasters_open_project .project_content.with_sidebar {
	padding-left: 40px;
	padding-right: 0;
	float: right;
}

.cmsmasters_open_project .project_content.with_sidebar:before {
	left: 0;
	right: auto;
}

.cmsmasters_open_project .project_content.with_sidebar + .project_sidebar:before {
	left: auto;
	right: -1px;
}

.cmsmasters_open_project .project_sidebar {
	padding-left: 0;
	padding-right: 40px;
	float: left;
}

.cmsmasters_open_project .project_details_item_title,
.cmsmasters_open_project .project_features_item_title {
	float: right;
}

.cmsmasters_open_project .project_details_item_desc,
.cmsmasters_open_project .project_features_item_desc {
	padding-left: 0;
	padding-right: 15px;
	text-align: left;
}

.cmsmasters_posts_slider .cmsmasters_slider_post,
.cmsmasters_posts_slider .cmsmasters_slider_project {
	float: right;
}

.cmsmasters_slider_post .cmsmasters_slider_post_date_top_meta_wrap .cmsmasters_slider_post_date {
	float: right;
}

.cmsmasters_slider_post .cmsmasters_slider_post_date_top_meta_wrap .cmsmasters_slider_post_date + .cmsmasters_slider_post_social_wrap {
	margin-left: 0;
	margin-right: 20px;
}

.cmsmasters_slider_post .cmsmasters_slider_post_date_top_meta_wrap .cmsmasters_slider_post_social_wrap {
	float: left;
}

.cmsmasters_slider_post .cmsmasters_slider_post_date_top_meta_wrap .cmsmasters_slider_post_social_wrap > span {
	float: left;
}

.cmsmasters_slider_post .cmsmasters_slider_post_date_top_meta_wrap .cmsmasters_slider_post_social_wrap > span:not(:last-of-type) {
	margin-left: 0;
	margin-right: 15px;
}

.cmsmasters_slider_project .cmsmasters_slider_project_inner {
	text-align: center;
}

.cmsmasters_slider_project .cmsmasters_slider_project_cont_info {
	text-align: center;
}

.cmsmasters_slider_project .cmsmasters_slider_project_content {
	text-align: center;
}

.cmsmasters_slider_project .cmsmasters_slider_project_footer > span:not(:last-child) {
	margin-left: 15px;
	margin-right: 0;
}

.cmsmasters_profile .profile_social_icons_list li:not(:last-child) {
	margin-left: 6px;
	margin-right: 0;
}

.cmsmasters_profile .profile_social_icons_list a:before {
	left: 0;
	right: 0;
}

.cmsmasters_profile_horizontal .cmsmasters_img_wrap {
	text-align: center;
}

.cmsmasters_profile_horizontal .profile_inner {
	text-align: center;
}

.cmsmasters_profile_horizontal .profile_social_icons {
	text-align: center;
}

.cmsmasters_profile_vertical:nth-child(even) .cmsmasters_img_wrap {
	padding-left: 70px;
	padding-right: 0;
	float: right;
}

.cmsmasters_profile_vertical .cmsmasters_img_wrap {
	padding-left: 0;
	padding-right: 70px;
	float: left;
}

.cmsmasters_profile_vertical .cmsmasters_img_wrap + .profile_inner {
	float: right;
}

.cmsmasters_open_profile .cmsmasters_profile_likes a span {
	margin-left: 0;
	margin-right: 8px;
}

.cmsmasters_open_profile .cmsmasters_profile_comments a span {
	margin-left: 0;
	margin-right: 8px;
}

.cmsmasters_open_profile .cmsmasters_profile_header {
	text-align: right;
}

.cmsmasters_open_profile .profile_content.with_sidebar {
	padding-left: 40px;
	padding-right: 0;
	float: right;
}

.cmsmasters_open_profile .profile_content.with_sidebar:before {
	left: 0;
	right: auto;
}

.cmsmasters_open_profile .profile_content.with_sidebar + .profile_sidebar:before {
	left: auto;
	right: -1px;
}

.cmsmasters_open_profile .profile_sidebar {
	padding-left: 0;
	padding-right: 40px;
	float: left;
}

.cmsmasters_open_profile .profile_details_item_title,
.cmsmasters_open_profile .profile_features_item_title {
	float: right;
}

.cmsmasters_open_profile .profile_details_item_desc,
.cmsmasters_open_profile .profile_features_item_desc {
	padding-left: 0;
	padding-right: 15px;
	text-align: left;
}

.cmsmasters_open_profile .profile_social_icons_list li:not(:last-child) {
	margin-left: 6px;
	margin-right: 0;
}

.cmsmasters_open_profile .profile_social_icons_list a:before {
	left: 0;
	right: 0;
}

.cmsmasters_divider.cmsmasters_divider_width_short.cmsmasters_divider_pos_center {
	left: auto;
	right: 40%;
}

.cmsmasters_divider.cmsmasters_divider_width_short.cmsmasters_divider_pos_right {
	left: auto;
	right: 80%;
}

.cmsmasters_divider.cmsmasters_divider_width_medium.cmsmasters_divider_pos_center {
	left: auto;
	right: 30%;
}

.cmsmasters_divider.cmsmasters_divider_width_medium.cmsmasters_divider_pos_right {
	left: auto;
	right: 60%;
}

.cmsmasters_heading_wrap.cmsmasters_heading_divider_short .cmsmasters_heading_divider_left {
	margin-left: 0;
	margin-right: -10%;
}

.cmsmasters_heading_wrap.cmsmasters_heading_divider_medium .cmsmasters_heading_divider_left {
	margin-left: 0;
	margin-right: -20%;
}

.cmsmasters_heading_wrap.cmsmasters_heading_divider_long .cmsmasters_heading_divider_left {
	margin-left: 0;
	margin-right: -100%;
}

.cmsmasters_heading_wrap .cmsmasters_heading:before,
.cmsmasters_heading_wrap .cmsmasters_heading a:before {
	margin-left: 0.5em;
	margin-right: 0;
}

.cmsmasters_table tr td.cmsmasters_table_cell_aligncenter,
.cmsmasters_table tr th.cmsmasters_table_cell_aligncenter {
	text-align: center;
}

.cmsmasters_table tr td.cmsmasters_table_cell_alignleft,
.cmsmasters_table tr th.cmsmasters_table_cell_alignleft {
	text-align: right;
}

.cmsmasters_table tr td.cmsmasters_table_cell_alignright,
.cmsmasters_table tr th.cmsmasters_table_cell_alignright {
	text-align: left;
}

.cmsmasters_notice:after {
	content: '.'; /* Check this rule! */
}

.cmsmasters_notice[class*=" cmsmasters-icon-"],
.cmsmasters_notice[class*=" cmsmasters_theme_icon_"] {
	padding-left: 40px;
	padding-right: 90px;
}

.cmsmasters_notice:before {
	left: auto;
	right: 30px;
}

.cmsmasters_notice .notice_close {
	left: 12px;
	right: auto;
}

.cmsmasters_notice .notice_close:before {
	left: 0;
	right: 0;
}

.cmsmasters_icon_list_items .cmsmasters_icon_list_item:before {
	left: auto;
	right: 50px;
}

.cmsmasters_icon_list_items .cmsmasters_icon_list_item .cmsmasters_icon_list_icon:after {
	left: auto;
	right: -1px;
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_pos_right .cmsmasters_icon_list_item:before {
	left: 50px;
	right: auto;
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_type_list {
	padding-right: 30px;
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_type_list .cmsmasters_icon_list_item:before {
	left: auto;
	right: -32px;
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_type_block .cmsmasters_icon_list_item:after {
	content: '.'; /* Check this rule! */
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_type_block .cmsmasters_icon_list_item.cmsmasters_icon_type_image .cmsmasters_icon_list_icon {
	background-position: center center; /* Check this rule! */
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_type_block .cmsmasters_icon_list_item .cmsmasters_icon_list_icon {
	text-align: center;
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_type_block.cmsmasters_icon_list_pos_left .cmsmasters_icon_list_item_content {
	text-align: right;
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_type_block.cmsmasters_icon_list_pos_left .cmsmasters_icon_list_item_content .cmsmasters_icon_list_item_text {
	text-align: right;
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_type_block.cmsmasters_icon_list_pos_left .cmsmasters_icon_list_icon_wrap {
	padding-left: 30px;
	float: right;
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_type_block.cmsmasters_icon_list_pos_right .cmsmasters_icon_list_item_content {
	text-align: left;
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_type_block.cmsmasters_icon_list_pos_right .cmsmasters_icon_list_item_content .cmsmasters_icon_list_item_text {
	text-align: left;
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_type_block.cmsmasters_icon_list_pos_right .cmsmasters_icon_list_icon_wrap {
	padding-right: 30px;
	float: left;
}

.cmsmasters_icon_box.cmsmasters_icon_box_left:before, 
.cmsmasters_icon_box.cmsmasters_icon_box_left_top:before {
	text-align: center;
}

.cmsmasters_icon_box.cmsmasters_icon_heading_left h1:before,
.cmsmasters_icon_box.cmsmasters_icon_heading_left h2:before,
.cmsmasters_icon_box.cmsmasters_icon_heading_left h3:before,
.cmsmasters_icon_box.cmsmasters_icon_heading_left h4:before,
.cmsmasters_icon_box.cmsmasters_icon_heading_left h5:before,
.cmsmasters_icon_box.cmsmasters_icon_heading_left h6:before {
	margin-right: 0;
	margin-left: 15px;
}

.cmsmasters_toggles.toggles_mode_toggle .cmsmasters_toggle_title a {
	padding-left: 50px;
	padding-right: 0;
}

.cmsmasters_toggles.toggles_mode_toggle .cmsmasters_toggle_plus {
	left: 0;
	right: auto;
}

.cmsmasters_toggles.toggles_mode_accordion .cmsmasters_toggle_title a {
	padding-left: 50px;
	padding-right: 25px;
}

.cmsmasters_toggles.toggles_mode_accordion .cmsmasters_toggle_plus {
	left: 12px;
	right: auto;
}

.cmsmasters_tabs:after {
	content: '.'; /* Check this rule! */
}

.cmsmasters_tabs .cmsmasters_tabs_list:after {
	content: '.'; /* Check this rule! */
}

.cmsmasters_tabs .cmsmasters_tabs_list_item a:before {
	left: auto;
	right: 20px;
}

.cmsmasters_tabs .cmsmasters_tab:after {
	content: '.'; /* Check this rule! */
}

.cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list .cmsmasters_tabs_list_item {
	text-align: center;
}

.cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list .cmsmasters_tabs_list_item:not(:last-of-type) a {
	border-width: 1px;
	border-style: solid;
	border-left-width: 0;
	border-left-style: solid;
}

.cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list .cmsmasters_tabs_list_item a:before {
	left: auto;
	right: auto;
}

.cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_list_item {
	margin-left: -1px;
	margin-right: 0;
}

.cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_list_item a {
	text-align: center;
}

.cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_list_item a:before {
	left: auto;
	right: auto;
}

.cmsmasters_tabs.tabs_mode_tour.tabs_pos_right .cmsmasters_tabs_list {
	text-align: left;
}

.cmsmasters_tabs.tabs_mode_tour.tabs_pos_right .cmsmasters_tabs_list .cmsmasters_tabs_list_item {
	margin-left: 0;
	margin-right: -1px;
}

.cmsmasters_stats {
	text-align: center;
}

.cmsmasters_stats:after {
	content: '.'; /* Check this rule! */
}

.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner[class^="cmsmasters-icon-"]:before,
.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner[class*=" cmsmasters-icon-"]:before,
.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner[class^="cmsmasters_theme_icon_"]:before,
.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner[class*=" cmsmasters_theme_icon_"]:before {
	left: auto;
	right: 15px;
}

.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_title {
	left: auto;
	right: 15px;
}

.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap {
	left: 15px;
	right: auto;
}

.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat_inner_stat_info {
	left: auto;
	right: -46px;
	text-align: center;
}

.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat_inner_stat_info:before {
	left: 0;
	right: 0;
}

.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat {
	left: auto;
	right: 0;
}

.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner {
	text-align: center;
}

.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_title_counter_wrap {
	left: auto;
	right: 0;
}

.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_title {
	padding-left: 10px;
	padding-right: 0;
}

.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap {
	float: left;
}

.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat_title,
.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat_subtitle {
	text-align: center;
}

.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap:before {
	left: auto;
	right: 0;
}

.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner {
	left: auto;
	right: 0;
}

.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap {
	left: 0;
	right: auto;
}

.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner:before,
.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_title {
	left: auto;
	right: 0;
}

.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner[class^="cmsmasters-icon-"] .cmsmasters_stat_title,
.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner[class*=" cmsmasters-icon-"] .cmsmasters_stat_title,
.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner[class^="cmsmasters_theme_icon_"] .cmsmasters_stat_title,
.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner[class*=" cmsmasters_theme_icon_"] .cmsmasters_stat_title {
	left: auto;
	right: 30px;
}

.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap {
	float: none;
	text-align: center;
}

.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner {
	left: auto;
	right: 5px;
	text-align: center;
}

.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap {
	text-align: center;
}

.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat_title {
	text-align: center;
}

.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat_subtitle {
	text-align: center;
}

.cmsmasters_counters {
	text-align: center;
}

.cmsmasters_counters:after {
	content: '.'; /* Check this rule! */
}

.cmsmasters_counters .cmsmasters_counter_wrap {
	float: none;
	text-align: center;
}

.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner:before {
	left: auto;
	right: 0;
}

.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter.counter_has_image .cmsmasters_counter_inner:before {
	background-position: center center; /* Check this rule! */
}

.cmsmasters_counters.counters_type_vertical .cmsmasters_counter_wrap .cmsmasters_counter {
	text-align: center;
}

.cmsmasters_counters.counters_type_vertical .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner {
	text-align: center;
}

.cmsmasters_counters.counters_type_vertical .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner:before {
	left: auto;
	right: 50%;
}

.cmsmasters_counters.counters_type_vertical .cmsmasters_counter_wrap .cmsmasters_counter_subtitle {
	text-align: center;
}

.cmsmasters_counters.counters_type_horizontal .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner:before {
	left: auto;
	right: 0;
}

.cmsmasters_button.cmsmasters_but_clear_styles.cmsmasters_but_bg_hover[class^="cmsmasters-icon-"]:before,
.cmsmasters_button.cmsmasters_but_clear_styles.cmsmasters_but_bg_hover[class*=" cmsmasters-icon-"]:before {
	margin-left: .5em !important;
    margin-right: 0 !important;
}

.cmsmasters_button.cmsmasters_but_bg_slide_left:after {
	left: auto;
	right: 0;
}

.cmsmasters_button.cmsmasters_but_bg_slide_right:after {
	right: auto;
	left: 0;
}

.cmsmasters_button.cmsmasters_but_bg_slide_top:after {
	left: auto;
	right: 0;
}

.cmsmasters_button.cmsmasters_but_bg_slide_bottom:after {
	left: auto;
	right: 0;
}

.cmsmasters_button.cmsmasters_but_bg_expand_hor:after {
	left: auto;
	right: 50%;
}

.cmsmasters_button.cmsmasters_but_shadow {
	-webkit-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
}

.cmsmasters_button.cmsmasters_but_shadow:hover {
	-webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.02);
	-moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.02);
	box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.02);
}

.cmsmasters_button.cmsmasters_but_icon_dark_bg:before,
.cmsmasters_button.cmsmasters_but_icon_light_bg:before,
.cmsmasters_button.cmsmasters_but_icon_divider:before,
.cmsmasters_button.cmsmasters_but_icon_inverse:before {
	left: auto;
	right: 0;
}

.cmsmasters_button.cmsmasters_but_icon_dark_bg:after,
.cmsmasters_button.cmsmasters_but_icon_light_bg:after,
.cmsmasters_button.cmsmasters_but_icon_divider:after,
.cmsmasters_button.cmsmasters_but_icon_inverse:after {
	left: auto;
	right: 0;
}

.cmsmasters_button.cmsmasters_but_icon_divider:after {
	border-left-width: 1px;
	border-left-style: solid;
}

.cmsmasters_button.cmsmasters_but_icon_slide_left:before {
	left: auto;
	right: -40px;
}

.cmsmasters_button.cmsmasters_but_icon_slide_left:hover:before {
	left: auto;
	right: 0;
}

.cmsmasters_button.cmsmasters_but_icon_slide_right:before {
	left: -40px;
	right: auto;
}

.cmsmasters_button.cmsmasters_but_icon_slide_right:hover:before {
	right: auto;
	left: 0;
}

.cmsmasters_button.cmsmasters_but_icon_hover_slide_left:before,
.cmsmasters_button.cmsmasters_but_icon_hover_slide_right:before,
.cmsmasters_button.cmsmasters_but_icon_hover_slide_top:before,
.cmsmasters_button.cmsmasters_but_icon_hover_slide_bottom:before {
	left: 0;
	right: 0;
}

.cmsmasters_button.cmsmasters_but_icon_hover_slide_left:before {
	left: auto;
	right: -200%;
}

.cmsmasters_button.cmsmasters_but_icon_hover_slide_left:hover:before {
	left: auto;
	right: 0;
}

.cmsmasters_button.cmsmasters_but_icon_hover_slide_right:before {
	right: auto;
	left: -200%;
}

.cmsmasters_button.cmsmasters_but_icon_hover_slide_right:hover:before {
	right: auto;
	left: 0;
}

.cmsmasters_paypal_donations > form:hover + .cmsmasters_button.cmsmasters_but_shadow {
	-webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.02);
	-moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.02);
	box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.02);
}

.cmsmasters_paypal_donations > form:hover + .cmsmasters_button.cmsmasters_but_icon_slide_left:before {
	left: auto;
	right: 0;
}

.cmsmasters_paypal_donations > form:hover + .cmsmasters_button.cmsmasters_but_icon_slide_right:before {
	right: auto;
	left: 0;
}

.cmsmasters_paypal_donations > form:hover + .cmsmasters_button.cmsmasters_but_icon_hover_slide_left:before {
	left: auto;
	right: 0;
}

.cmsmasters_paypal_donations > form:hover + .cmsmasters_button.cmsmasters_but_icon_hover_slide_right:before {
	right: auto;
	left: 0;
}

.cmsmasters_button.cmsmasters_but_icon_dark_bg, 
.cmsmasters_button.cmsmasters_but_icon_light_bg, 
.cmsmasters_button.cmsmasters_but_icon_divider, 
.cmsmasters_button.cmsmasters_but_icon_inverse {
	padding-left: 20px !important;
	padding-right: 60px !important;
}

.cmsmasters_hover_slider .cmsmasters_hover_slider_items li {
	left: auto;
	right: 0;
}

.cmsmasters_hover_slider .cmsmasters_hover_slider_thumbs a:before {
	left: auto;
	right: 0;
}

.cmsmasters_gallery {
	margin-left: 0;
	margin-right: -10px;
}

.cmsmasters_gallery .cmsmasters_gallery_item {
	padding-left: 0;
	padding-right: 10px;
	float: right;
}

.cmsmasters_gallery .cmsmasters_gallery_item.cmsmasters_caption figcaption {
	text-align: center;
}

.cmsmasters_quotes_slider .cmsmasters_quote_image {
	text-align: center;
}

.cmsmasters_quotes_slider .cmsmasters_quote_title {
	text-align: center;
}

.cmsmasters_quotes_slider .cmsmasters_quote_subtitle_wrap {
	text-align: center;
}

.cmsmasters_quotes_slider .cmsmasters_quote_content {
	text-align: center;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quotes_vert:before {
	left: auto;
	right: 25%;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quotes_vert:after {
	left: auto;
	right: 75%;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quotes_vert span {
	left: auto;
	right: 50%;
}

.quote_three.cmsmasters_quotes_grid .cmsmasters_quotes_vert:before {
	left: auto;
	right: 33.33%;
}

.quote_three.cmsmasters_quotes_grid .cmsmasters_quotes_vert:after {
	left: auto;
	right: 66.66%;
}

.quote_two.cmsmasters_quotes_grid .cmsmasters_quotes_vert span {
	left: auto;
	right: 50%;
}

.cmsmasters_quotes_grid .cmsmasters_quotes_list:before {
	left: auto;
	right: 0;
}

.cmsmasters_quotes_grid .cmsmasters_quote {
	float: right;
}

.quote_one.cmsmasters_quotes_grid .cmsmasters_quote {
	float: none;
}

.cmsmasters_quotes_grid .cmsmasters_quote_img_info_wrap.cmsmasters_no_quote_img {
	padding-left: 0;
	padding-right: 98px;
}

.cmsmasters_quotes_grid .cmsmasters_quote_img_info_wrap.cmsmasters_no_quote_img:before {
	content: '\201D'; /* Check this rule! */
	left: auto;
	right: 14px;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quote_img_info_wrap.cmsmasters_no_quote_img:before,
.quote_three.cmsmasters_quotes_grid .cmsmasters_quote_img_info_wrap.cmsmasters_no_quote_img:before {
	left: 0;
	right: 0;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quote_img_info_wrap.cmsmasters_no_quote_img,
.quote_three.cmsmasters_quotes_grid .cmsmasters_quote_img_info_wrap.cmsmasters_no_quote_img {
	text-align: center;
}

.cmsmasters_quotes_grid .cmsmasters_quote_image {
	padding-left: 30px;
	padding-right: 0;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quote_image,
.quote_three.cmsmasters_quotes_grid .cmsmasters_quote_image {
	text-align: center;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quote_info_wrap,
.quote_three.cmsmasters_quotes_grid .cmsmasters_quote_info_wrap {
	text-align: center;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quote_subtitle_wrap,
.quote_three.cmsmasters_quotes_grid .cmsmasters_quote_subtitle_wrap {
	text-align: center;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quote_content,
.quote_three.cmsmasters_quotes_grid .cmsmasters_quote_content {
	text-align: center;
}

.cmsmasters_pricing_table .cmsmasters_pricing_item {
	float: right;
}

.pricing_one.cmsmasters_pricing_table .cmsmasters_pricing_item {
	float: none;
}

.cmsmasters_pricing_table .cmsmasters_pricing_item_inner {
	text-align: center;
}

.cmsmasters_pricing_table .pricing_title {
	text-align: center;
}

.cmsmasters_pricing_table .cmsmasters_price_wrap {
	text-align: center;
}

.cmsmasters_pricing_table .cmsmasters_period {
	text-align: center;
}

.cmsmasters_pricing_table .feature_list {
	text-align: center;
}

.cmsmasters_pricing_table .feature_list li .feature_icon:before {
	margin-left: 10px;
	margin-right: 0;
}

.cmsmasters_pricing_table .cmsmasters_pricing_but_wrap {
	text-align: center;
}

.resizable_block .google_map {
	left: auto;
	right: 0;
}

.cmsmasters_img.cmsmasters_image_l {
	margin-left: 20px;
	margin-right: 0;
	float: right;
}

.cmsmasters_img.cmsmasters_image_r {
	margin-right: 20px;
	margin-left: 0;
	float: left;
}

.cmsmasters_img .cmsmasters_img_caption {
	text-align: center;
}

.wp-caption.alignleft {
	margin-left: 25px;
}

.wp-caption.alignright {
	margin-right: 25px;
}

.wp-caption .wp-caption-text {
	text-align: center;
}

.gallery .gallery-item {
	float: right;
}

.gallery.gallery-columns-1 .gallery-item {
	float: none;
}

.gallery:after,
.gallery-item:after {
	content: '.'; /* Check this rule! */
}

.cmsmasters_sidebar aside {
	float: right;
}

.social_vertical .share_wrap {
	float: none;
}

.share_wrap {
	float: right;
}

.cmsmasters_twitter_wrap .owl-buttons > div {
	left: auto;
	right: auto;
}

.cmsmasters_twitter_wrap .owl-buttons > div:not(:last-of-type) {
	margin-left: 6px;
	margin-right: 0;
}

.cmsmasters_twitter_wrap .owl-buttons > div .cmsmasters_prev_arrow span:before,
.cmsmasters_twitter_wrap .owl-buttons > div .cmsmasters_next_arrow span:before {
	left: 0;
	right: 0;
}

.cmsmasters_twitter_wrap .twr_icon {
	text-align: center;
}

.cmsmasters_twitter_wrap .cmsmasters_twitter_item {
	text-align: center;
}

.cmsmasters_dropcap {
	margin-left: 18px;
	margin-right: 10px;
	float: right;
}

.cmsmasters_dropcap.type2 {
	margin-left: 18px;
	margin-right: 10px;
	text-align: center;
}

.cmsmasters_clients_grid .cmsmasters_clients_item {
	float: right;
}

.cmsmasters_clients_grid.clients_one .cmsmasters_clients_item:last-child,
.cmsmasters_clients_grid.clients_one .cmsmasters_clients_item {
	float: none;
}

.widget_custom_advertisement_entries .adv_image_wrap .adv_widget_image {
	float: right;
}

.widget_pages ul ul,
.widget_categories ul ul,
.widget_archive ul ul,
.widget_meta ul ul,
.widget_recent_comments ul ul,
.widget_recent_entries ul ul {
	padding-left: 0;
	padding-right: 10px;
}

.widget_categories ul li a,
.widget_meta ul li a,
.widget_pages ul li a,
.widget_archive ul li a {
	padding-left: 0;
	padding-right: 20px;
}

.widget_categories ul li a:before,
.widget_meta ul li a:before,
.widget_pages ul li a:before,
.widget_archive ul li a:before {
	margin-left: 15px;
	margin-right: 0;
	left: auto;
	right: 0;
}

#wp-calendar caption {
	text-align: center;
}

#wp-calendar thead td:first-child,
#wp-calendar tbody td:first-child,
#wp-calendar thead th:first-child,
#wp-calendar tbody th:first-child {
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 0px;
	border-left-style: solid;
}

#wp-calendar thead td:last-child,
#wp-calendar tbody td:last-child,
#wp-calendar thead th:last-child,
#wp-calendar tbody th:last-child {
	border-left-width: 1px;
	border-left-style: solid;
	border-right-width: 0px;
	border-right-style: solid;
}

#wp-calendar td,
#wp-calendar th {
	text-align: center;
}

#wp-calendar #prev {
	text-align: right;
}

#wp-calendar #next {
	text-align: left;
}

.widget_custom_contact_info_entries > span,
.widget_custom_contact_info_entries .adress_wrap {
	padding-left: 0;
	padding-right: 25px;
}

.widget_custom_contact_info_entries > span:before,
.widget_custom_contact_info_entries .adress_wrap:before {
	text-align: center;
	left: auto;
	right: 0;
}

.widget_nav_menu .sub-menu > li > a {
	padding-left: 20px;
	padding-right: 40px;
}

.widget_nav_menu .sub-menu > li li a {
	padding-left: 20px;
	padding-right: 60px;
}

.widget_custom_flickr_entries .flickr_badge_image {
	float: right;
}

.widget_custom_popular_projects_entries .widgettitle,
.widget_custom_latest_projects_entries .widgettitle {
	padding-left: 70px;
	padding-right: 0;
}

.widget_custom_popular_projects_entries .widgettitle + .widget_custom_projects_entries_slides .owl-buttons,
.widget_custom_latest_projects_entries .widgettitle + .widget_custom_projects_entries_slides .owl-buttons {
	left: 0;
	right: auto;
}

.widget_custom_popular_projects_entries .widgettitle + .widget_custom_projects_entries_slides .owl-buttons > div.owl-prev,
.widget_custom_latest_projects_entries .widgettitle + .widget_custom_projects_entries_slides .owl-buttons > div.owl-prev {
	left: auto;
	right: 0;
}

.widget_custom_popular_projects_entries .widgettitle + .widget_custom_projects_entries_slides .owl-buttons > div:not(:last-of-type),
.widget_custom_latest_projects_entries .widgettitle + .widget_custom_projects_entries_slides .owl-buttons > div:not(:last-of-type) {
	margin-left: 6px;
	margin-right: 0;
}

.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tabs_list_item {
	float: none;
}

.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_lpr_tabs_img {
	margin-left: 20px;
	margin-right: auto;
	left: auto;
	right: 0;
}

.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_lpr_tabs_cont {
	padding-left: 0;
	padding-right: 88px;
}

.widget_rss ul li cite {
	text-align: left;
}

.widget_tag_cloud a {
	margin-left: 10px;
	margin-right: 0;
	float: right;
}

.widget_custom_twitter_entries .tweet_time:before {
	margin-left: 10px;
	margin-right: 0;
}

.cmsmasters_archive_type .cmsmasters_archive_item_cont_wrap .cmsmasters_archive_item_cont_wrap_info .cmsmasters_archive_item_cont_wrap_top .cmsmasters_archive_item_date_wrap {
	float: right;
}

.cmsmasters_archive_type .cmsmasters_archive_item_cont_wrap .cmsmasters_archive_item_cont_wrap_info .cmsmasters_archive_item_cont_wrap_top .cmsmasters_archive_item_type {
	float: left;
}

.cmsmasters_archive_type .cmsmasters_archive_item_info:before {
	left: auto;
	right: 0;
}

.cmsmasters_archive_type .cmsmasters_archive_item_user_name {
	padding-left: 10px;
	padding-right: 0;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li:before {
	left: auto;
	right: 0;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li {
	padding-left: 20px;
	padding-right: 0;
	float: right;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li > ul li {
	margin-right: 20px;
	margin-left: 0;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li > ul > li {
	margin-right: 0;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap_category > li {
	padding-left: 20px;
	padding-right: 0;
	float: right;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap_category > li > ul li {
	margin-right: 20px;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap_category > li > ul > li {
	margin-right: 0;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap_archive > li {
	padding-left: 20px;
	padding-right: 0;
	float: right;
}

.error .error_title {
	text-align: center;
}

.error .error_subtitle {
	text-align: center;
}

.error_cont {
	text-align: center;
}

.cmsmasters_attach_img .cmsmasters_attach_img_edit {
	float: left;
}

.cmsmasters_paypal_donations > form > .paypal-donations input[type="image"] {
	left: 0;
	right: 0;
}

.wpcf7-list-item-label,
body .cmsmasters-form-builder .check_parent input[type="checkbox"] + label,
body .cmsmasters-form-builder .check_parent input[type="radio"] + label {
	padding-left: 0;
	padding-right: 25px;
	float: right;
}

.cmsmasters-form-builder .check_parent input[type="checkbox"],
.cmsmasters-form-builder .check_parent input[type="radio"],
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"],
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] {
	float: right;
	left: auto;
	right: 0;
}

.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"] + span.wpcf7-list-item-label:before,
.cmsmasters-form-builder .check_parent input[type="checkbox"] + label:before,
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] + span.wpcf7-list-item-label:before,
.cmsmasters-form-builder .check_parent input[type="radio"] + label:before {
	left: auto;
	right: 1px;
}

.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] + span.wpcf7-list-item-label:after,
.cmsmasters-form-builder .check_parent input[type="radio"] + label:after {
	left: auto;
	right: 5px;
}

.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"] + span.wpcf7-list-item-label:after,
.cmsmasters-form-builder .check_parent input[type="checkbox"] + label:after {
	content: '\e8be'; /* Check this rule! */
	text-align: center;
	left: auto;
	right: 3px;
}
/*-------------------------------------------------------------------------*/
/*	14.	CSS3 Animations */
/*-------------------------------------------------------------------------*/
@-webkit-keyframes bar_title {
	from {
		margin-right: -200px;
	}

	to {
		margin-right: 0%;
	}
}

@-moz-keyframes bar_title {
	from {
		margin-right: -200px;
	}

	to {
		margin-right: 0%;
	}
}

@-ms-keyframes bar_title {
	from {
		margin-right: -200px;
	}

	to {
		margin-right: 0%;
	}
}

@-o-keyframes bar_title {
	from {
		margin-right: -200px;
	}

	to {
		margin-right: 0%;
	}
}

@keyframes bar_title {
	from {
		margin-right: -200px;
	}

	to {
		margin-right: 0%;
	}
}

@-webkit-keyframes bar_icon {
	from {
		margin-left: -200px;
	}

	to {
		margin-left: 0%;
	}
}

@-moz-keyframes bar_icon {
	from {
		margin-left: -200px;
	}

	to {
		margin-left: 0%;
	}
}

@-ms-keyframes bar_icon {
	from {
		margin-left: -200px;
	}

	to {
		margin-left: 0%;
	}
}

@-o-keyframes bar_icon {
	from {
		margin-left: -200px;
	}

	to {
		margin-left: 0%;
	}
}

@keyframes bar_icon {
	from {
		margin-left: -200px;
	}

	to {
		margin-left: 0%;
	}
}


/*-------------------------------------------------------------------------*/
/*	3.	Tablet Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
	#header nav div,
	#header nav ul,
	#header nav li,
	#header nav a,
	#header nav span {
		float: none;
		left: auto;
		right: auto;
		text-align: right;
	}

	.cmsmasters_121414 .cmsmasters_column.one_half,
	.cmsmasters_141412 .cmsmasters_column.one_half {
		float: none;
	}

	.sidebar_layout_141412 > aside:first-child + aside + aside,
	.sidebar_layout_141412 > div.cl + aside + aside + aside,
	.sidebar_layout_141412 > div.cmsmasters_widget_divider + aside + aside + aside {
		float: none;
	}

	.sidebar_layout_121414 > aside:first-child,
	.sidebar_layout_121414 > div.cl + aside,
	.sidebar_layout_121414 > div.cmsmasters_widget_divider + aside {
		float: none;
	}

	.header_top .header_top_right {
		float: none;
	}

	.header_top .social_wrap .social_wrap_inner {
		text-align: center;
	}

	.header_top .social_wrap ul li {
		float: none;
	}

	.header_top .meta_wrap {
		text-align: center;
	}

	.header_top .meta_wrap > * {
		text-align: center;
	}

	#header .top_line_nav .nav_item_wrap {
		text-align: center;
	}

	#header .header_mid .mid_nav_wrap {
		float: none;
	}

	#header .header_bot .resp_bot_nav_wrap .resp_bot_nav_outer {
		text-align: center;
	}

	#header .header_bot .bot_nav_wrap {
		float: none;
	}

	#header .navigation a {
		padding-left: 0;
		padding-right: 30px;
	}

	#header .navigation a .nav_item_wrap span[class^="cmsmasters-icon-"],
	#header .navigation a .nav_item_wrap span[class*=" cmsmasters-icon-"],
	#header .navigation a .nav_item_wrap span[class^="cmsmasters_theme_icon_"],
	#header .navigation a .nav_item_wrap span[class*=" cmsmasters_theme_icon_"] {
		padding-left: 0;
		padding-right: 30px;
	}

	#header .navigation li li a .nav_item_wrap span[class^="cmsmasters-icon-"],
	#header .navigation li li a .nav_item_wrap span[class*=" cmsmasters-icon-"],
	#header .navigation li li a .nav_item_wrap span[class^="cmsmasters_theme_icon_"],
	#header .navigation li li a .nav_item_wrap span[class*=" cmsmasters_theme_icon_"] {
		padding-left: 0;
		padding-right: 20px;
	}

	#header .navigation li li > a {
		padding-left: 0;
		padding-right: 50px;
	}

	#header .navigation li li li > a {
		padding-left: 0;
		padding-right: 70px;
	}

	#header .navigation .nav_title[class^="cmsmasters-icon-"]:before,
	#header .navigation .nav_title[class*=" cmsmasters-icon-"]:before {
		left: 0;
		right: 0;
	}

	#header .navigation .nav_tag {
		margin-left: 0;
		margin-right: 10px;
	}

	#header .navigation .cmsmasters_resp_nav_toggle {
		text-align: center;
		left: 30px;
		right: auto;
	}
}
/*-------------------------------------------------------------------------*/
/*	Tablet Monitor 950
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 950px) {
	#page .cmsmasters_open_project .project_content.with_sidebar {
		float: none;
	}

	#page .cmsmasters_open_project .project_sidebar {
		float: none;
	}

	#page .cmsmasters_open_profile .profile_content.with_sidebar {
		float: none;
	}

	#page .cmsmasters_open_profile .profile_sidebar {
		float: none;
	}

	.cmsmasters_footer_small .footer_nav_wrap {
		float: none;
	}

	.cmsmasters_footer_small .footer_nav_wrap .footer_nav {
		text-align: center;
	}

	.cmsmasters_footer_small .footer_nav_wrap .footer_nav li {
		float: none;
	}

	.cmsmasters_footer_small .footer_copyright {
		text-align: center;
	}

	.post_nav > span.cmsmasters_prev_post > a {
		text-align: right;
	}

	.post_nav > span.cmsmasters_next_post > a {
		text-align: left;
	}

	.cmsmasters_profile_vertical:nth-child(even) .cmsmasters_img_wrap {
		padding-left: 40px;
		padding-right: 0;
	}

	.cmsmasters_profile_vertical .cmsmasters_img_wrap {
		padding-left: 0;
		padding-right: 40px;
	}
}
@media only screen and (min-width: 950px) and (max-width: 1440px) {
  .cmsmasters_open_project .project_details_item_desc, 
  .cmsmasters_open_project .project_features_item_desc, 
  .cmsmasters_open_profile .profile_details_item_desc, 
  .cmsmasters_open_profile .profile_features_item_desc {
  	text-align:right;
  }
}
/*-------------------------------------------------------------------------*/
/*	4.	Small Tablet Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
	.one_first,
	.one_half,
	.one_third,
	.two_third,
	.one_fourth,
	.one_fifth,
	.three_fourth,
	.cmsmasters_121414 .cmsmasters_column.one_half,
	.cmsmasters_141412 .cmsmasters_column.one_half,
	.cmsmasters_141214 .cmsmasters_column.one_fourth,
	.cmsmasters_141214 .cmsmasters_column.one_half {
		float: none;
	}

	.cmsmasters_pricing_table.pricing_three .cmsmasters_pricing_item {
		float: none;
	}

	.cmsmasters_clients_grid.clients_five .cmsmasters_clients_item,
	.cmsmasters_clients_grid.clients_four .cmsmasters_clients_item,
	.cmsmasters_clients_grid.clients_three .cmsmasters_clients_item,
	.cmsmasters_clients_grid.clients_two .cmsmasters_clients_item {
		float: none;
	}

	#header .header_mid .logo_wrap {
		float: none;
		text-align: center;
	}

	#header .header_mid .resp_mid_nav_wrap {
		float: none;
	}

	#header .header_mid .resp_mid_nav_wrap .resp_mid_nav_outer {
		text-align: center;
	}

	#header .header_mid .search_wrap {
		float: none;
	}

	#header .header_mid .search_wrap .search_wrap_inner {
		text-align: center;
	}

	#header .header_mid .search_wrap .search_bar_wrap form {
		float: none;
	}

	#header .header_mid .search_wrap .search_bar_wrap .search_field {
		float: none;
	}

	#header .header_mid .search_wrap .search_bar_wrap .search_button {
		float: none;
	}

	#header .header_mid .social_wrap .social_wrap_inner {
		text-align: center;
	}

	#header .header_mid .slogan_wrap .slogan_wrap_inner {
		text-align: center;
	}

	#header .header_mid .slogan_wrap .slogan_wrap_text {
		text-align: center;
	}

	#header .header_mid .mid_nav_wrap {
		float: none;
	}

	.header_mid .search_wrap.search_opened .search_bar_wrap .search_button {
		right: auto;
		left: 20px;
	}

	.cmsmasters_footer_default .footer_nav_wrap {
		float: none;
	}

	.cmsmasters_footer_default .footer_nav_wrap .footer_nav {
		text-align: center;
	}

	.cmsmasters_footer_default .footer_nav_wrap .footer_nav li {
		float: none;
	}

	.cmsmasters_footer_small .footer_nav_wrap {
		float: none;
	}

	.cmsmasters_footer_small .footer_nav_wrap nav > div {
		text-align: center;
	}

	.cmsmasters_footer_small .footer_nav {
		text-align: center;
	}

	.cmsmasters_footer_small .footer_nav > li {
		float: none;
	}

	.cmsmasters_footer_small .social_wrap {
		float: none;
	}

	.cmsmasters_footer_small .social_wrap .social_wrap_inner {
		text-align: center;
	}

	.cmsmasters_footer_small .footer_custom_html_wrap {
		float: none;
	}

	.cmsmasters_footer_small .footer_custom_html_wrap .footer_custom_html {
		text-align: center;
	}

	.cmsmasters_footer_small .footer_copyright {
		text-align: center;
	}

	.blog.timeline .post .cmsmasters_post_info {
		left: 20px;
		right: auto;
	}

	.cmsmasters_items_filter_wrap .cmsmasters_items_filter_block .cmsmasters_items_filter_list {
		text-align: center;
	}

	.cmsmasters_items_filter_wrap .cmsmasters_items_sort_block {
		float: none;
		text-align: center;
	}

	.cmsmasters_items_filter_wrap .cmsmasters_items_sort_block > a {
		float: none;
	}
}
	
/*-------------------------------------------------------------------------*/
/*	Tablet Monitor 600
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
	.cmsmasters_profile_vertical .profile_outer .cmsmasters_img_wrap {
		float: none;
	}

	.cmsmasters_profile_vertical .profile_outer .profile_inner * {
		text-align: center;
	}

	#page .cmsmasters_clients_slider .owl-buttons {
		left: 0;
		right: 0;
		text-align: center;
	}

	#page .cmsmasters_clients_slider .owl-buttons > div {
		float: none;
	}

	#page .cmsmasters_tabs.tabs_pos_left .cmsmasters_tabs_list_item a {
		text-align: right;
	}

	#page .cmsmasters_tabs.tabs_pos_right .cmsmasters_tabs_list_item a {
		text-align: left;
	}

	.error_cont .error_button_wrap {
		text-align: center;
	}
}
/*-------------------------------------------------------------------------*/
/*	5.	Phone Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 540px) {
	#page .gallery .gallery-item {
		float: none;
	}

	.cmsmasters_pricing_table.pricing_four .cmsmasters_pricing_item,
	.cmsmasters_pricing_table.pricing_three .cmsmasters_pricing_item,
	.cmsmasters_pricing_table.pricing_two .cmsmasters_pricing_item,
	.cmsmasters_pricing_table.pricing_one .cmsmasters_pricing_item {
		float: none;
	}

	#page .headline_outer .headline_inner .headline_text {
		text-align: center;
	}

	#page .cmsmasters_breadcrumbs {
		float: none;
		text-align: center;
	}

	.about_author .about_author_avatar {
		float: none;
		text-align: center;
	}

	#page .cmsmasters_quotes_grid .cmsmasters_quote_content,
	#page .cmsmasters_quotes_grid .cmsmasters_quote_inner {
		text-align: center;
	}

	#page .cmsmasters_quotes_grid .cmsmasters_quote_image {
		text-align: center;
	}

	#page .cmsmasters_quotes_grid .cmsmasters_quote_img_info_wrap {
		text-align: center;
	}

	#page .cmsmasters_quotes_grid .cmsmasters_quote_img_info_wrap.cmsmasters_no_quote_img:before {
		left: auto;
		right: auto;
		text-align: center;
	}

	#page .cmsmasters_quotes_grid .cmsmasters_quote_img_info_wrap .cmsmasters_quote_info_wrap {
		text-align: center;
	}

	#page .cmsmasters_quotes_grid .cmsmasters_quote_img_info_wrap .cmsmasters_quote_info_wrap * {
		text-align: center;
	}
}
