/*
Theme Name: Total School Child
Theme URI: http://cmsmasters.net/total-school-child/
Author: cmsmasters
Author URI: http://cmsmasters.net/
Description: Total School Child Theme
Template: total-school
Version: 1.0.0
License:
License URI:
Text Domain: total-school-child
Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
*/

#bottom .footer-link h3 {
  font-family: Roboto;
  color: #ff9900;
  font-size: 11.92px;/* Approximation due to font substitution */
  font-weight: 700;
  font-style: italic;
  line-height: 18px;/* Approximation due to font substitution */
  text-align: left;
  margin-bottom: 5px;
}

#bottom ul li::before {
  display: none;
  padding-left: 0;
}
#bottom ul { padding-left: 0 }
#bottom ul li,
#bottom ol li {
  padding-top: 0;
}

#bottom ul li a {
  font-family: Roboto;
  color: #cccccc;
  font-size: 11.92px;/* Approximation due to font substitution */
  font-weight: 300;
  font-style: italic;
  line-height: 18px;/* Approximation due to font substitution */
  text-align: left;
  transform: scaleY(1.0066);/* width and height properties ommitted due to transform */
}

#bottom ul li a:hover { text-decoration: underline;}

#bottom ul ul {
  margin: 0 0 0 10px;
  padding: 0;
}

#bottom ul.lista-com-interna > li + li {
  margin-top: 5px;
}

.sociais-footer h4 {
  color: #868686;
  font-weight: 300;
  text-align: left;
  transform: scaleY(1.0066);
  display: inline-block;
  margin: 0 15px 0 0;
  font-size: 11px;
  line-height: 31px;
  padding: 4px 0px;
  height: 35px;
  line-height: 40px;
  text-align: center;
}

.sociais-footer ul {
  display: inline;
}
.sociais-footer ul li::before {
  display: none;
}
.sociais-footer li {
    display: inline-block;
    margin-right: 2px
}

.sociais-footer a {
  width: 22px;
  height: 23px;
  text-indent: -999em;
  display: inline-block;
  cursor: pointer;
}
.sociais-footer a.fa-facebook {
  background: url(imgs/facebook.png) center center no-repeat;
}
.sociais-footer a.fa-instagram {
    background: url(imgs/instagram.png) center center no-repeat;
}
.sociais-footer a.fa-linkedin {
    background: url(imgs/linkedin.png) center center no-repeat;
      width: 22px;
      height: 22px;
}
.sociais-footer a.fa-twitter {
    background: url(imgs/twitter.png) center center no-repeat;
      width: 22px;
      height: 22px;
}
.sociais-footer a.fa-youtube {
    background: url(imgs/youtube.png) center center no-repeat;
}

#bottom .footer-contato .texto-destaque {
  font-family: Roboto;
  color: #cccccc;
  font-size: 16px;/* Approximation due to font substitution */
  font-weight: 300;
  font-style: italic;
  line-height: 18px;/* Approximation due to font substitution */
  text-align: left;
  transform: scaleY(1.0066)
}

#bottom .footer-contato .texto-destaque span {
  width: 31px;
  height: 34px;
  text-indent: -999em;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

#bottom .footer-contato .texto-destaque span.icon-atendimento {
  background: url(imgs/atendimento.png) center center no-repeat;
}

#bottom .footer-contato .texto-destaque span.icon-fale-conosco {
  background: url(imgs/contato.png) center center no-repeat;
}

#bottom .footer-contato h3 {
  font-family: Roboto;
  color: #ff9900;
  font-size: 19.19px;/* Approximation due to font substitution */
  font-weight: 700;
  font-style: italic;
  text-align: left;
  margin-top: 30px;
}

#bottom .footer-contato h4 {
  font-family: Roboto;
  color: #ff9900;
  font-size: 14.39px;/* Approximation due to font substitution */
  font-weight: 300;
  font-style: italic;
  text-align: left;
  margin: 10px 0 0;
}

#bottom .footer-contato p {
  font-family: Roboto;
  color: #cccccc;
  font-size: 14.39px;/* Approximation due to font substitution */
  font-weight: 300;
  font-style: italic;
  text-align: left;
  padding: 0;
  margin-bottom: 10px;
}

#bottom .footer-contato p + span {
  font-family: Roboto;
  color: #cccccc;
  font-size: 9.6px;/* Approximation due to font substitution */
  font-weight: 300;
  font-style: italic;
  text-align: left;
}

#bottom .footer-contato p:last-child {
  font-family: Roboto;
  color: #cccccc;
  font-size: 10px;/* Approximation due to font substitution */
  font-weight: 700;
  font-style: italic;
  line-height: 18px;/* Approximation due to font substitution */
  text-align: left;
  transform: scaleY(1.0066);/* width and height properties ommitted due to transform */
}

#footer { display: none; }

.acesse-agora {
    display: inline-block;
}

.acesse-agora h4 {
  display: inline-block;
  float: left;
  font-family: 'Roboto Condensed';
  color: #7b7b7b;
  font-size: 12px;/* Approximation due to font substitution */
  font-weight: 300;
  text-align: left;
  transform: scaleX(1.0078);
  margin: 0;
  padding-right: 10px;
}

.acesse-agora div {
    width: 160px;
    display: inline-block;
}

.acesse-agora div a {
    display: block;
    font-family: 'Roboto Condensed';
    color: #3e3d3d;
    font-size: 12px;/* Approximation due to font substitution */
    font-weight: 700;
    line-height: 26.025px;/* Approximation due to font substitution */
    text-align: center;
    transform: scaleX(1.0078);
}
.acesse-agora div a.cinza-claro { background: #cccccc }
.acesse-agora div a.cinza-escuro { background: #999999 }
.acesse-agora div + a {
  background-color: #ec6916;
  width: 125px;
  display: inline-block;
  float: right;
  text-align: center;
  padding: 14px;
}

.slogan_wrap_text .centralizar {
  height: 52px !important;
  min-height: 100%;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  -webkit-justify-content: center !important;
  justify-content: center !important;
}
.header_mid_inner .sociais-footer {
  margin-right: 10px;
}

.header_mid .sociais-footer {
    height: 46px;
    margin-right: 28px;
}

.header_mid_inner .sociais-footer ul {
    padding-left: 0;
}

.menu-top ul {
    padding: 0;
    margin: 0;
}
.menu-top ul li {
  display: inline-block;
  padding: 0 7px;
}
.menu-top ul li:first-child { padding-left: 0 }
.menu-top ul li:first-child::before { display: none; }
.menu-top ul li::before {
  content: "|";
  top: 3px;
  left: -7px;
}
.menu-top ul li a:hover {
  color: #ff9900
}

.menu-top-navigation-container ul::before {
  content: "BENEFÍCIOS:";
  display: inline-block;
  float: left;
  font-family: 'Roboto Condensed', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  line-height: 20px;
  color: #232423;
  font-size: 12px;/* Approximation due to font substitution */
  font-weight: 700;
  text-align: left;
  margin-top: 10px;
}
#navigation {
  /*height: auto;*/
}
#navigation > li > a {
  font-family: 'Roboto Condensed', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  color: #232423;
  font-size: 13px;/* Approximation due to font substitution */
  font-weight: 300;
  text-align: left;
}
.slogan_wrap .slogan_wrap_text { margin-bottom: 25px; margin-top: 25px; }
.slogan_wrap .header_bot .header_bot_inner { width: auto; }
#navigation > li:first-child::before { display: none }
#navigation > li::before {
  content: "|";
  top: 9px;
  left: -7px;
  color: #e7874a;
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  padding: 0;
  margin: 0;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  position: absolute;
}
#navigation > li > a:hover {
  color: #ff9900
}

.header_bot_inner { border-top: 1px solid #cb611f}

.cmsmasters_img {
    border: 2px solid #3b4141;
}

#noticiais-home { padding-top: 50px !important; }
#noticiais-home .cmsmasters_text {
  background: #fff;
  color: #3b4141;
  padding: 50px 30px 60px;
  min-height: 163px;
}

#noticiais-home .cmsmasters_text p {
  line-height: 17px;
  padding-bottom: 0
}

#noticiais-home .cmsmasters_icon_box.cmsmasters_icon_box_left {
  background: transparent;
  padding-left: 42px !important;
  margin-left: 20px !important;
}

#noticiais-home .icon_box_heading,
#revista-appai .icon_box_heading,
#appai-tv .icon_box_heading,
 {
  font-size: 60px;
  font-weight: 300;
  font-style: italic;
  line-height: 18px;
  text-align: left;
  transform: scaleY(1.0742);
  color: #3f4343;
}
#aviso-importante .cmsmasters_icon_box {
      padding-left: 32px !important;
}
#aviso-importante .icon_box_heading {
  font-size: 30px;/* Approximation due to font substitution */
  font-weight: 300;
  font-style: italic;
  line-height: 18px;/* Approximation due to font substitution */
  text-align: left;
  font-family: Roboto;
  color:#666666;
}

#revista-appai .icon_box_headingcmsmasters_icon_box {
  padding-left: 35px;
}
#noticiais-home .cmsmasters_icon_box.cmsmasters_icon_box_left::before{
  margin-top: -27px;
  background-size: 90% 90%;
  width: 45px;
  height: 41px;
}
#appai-tv .cmsmasters_icon_box.cmsmasters_icon_box_left::before {
  margin-top: -27px;
  background-size: 90% 90%;
  width: 45px;
  height: 44px;
}
#aviso-importante .cmsmasters_icon_box.cmsmasters_icon_box_left::before {
  margin-top: -27px;
  background-size: 90% 90%;
  width: 36px;
  height: 36px;
}
#inscricoes .box_icon_type_image::before {
    width: 29px;
    height: 44px;
}
#inscricoes .cmsmasters_icon_box.cmsmasters_icon_box_left {

  padding-left: 20.5px
}
#noticiais-home #cmsmasters_icon_box_589b45fb35eda.cmsmasters_icon_box_left::before {
    margin-top: -27px;
}

#onde-chegamos .cmsmasters_featured_block {
  background: transparent;
}

.widgettitle {
    display: inline-block;
    float: left;
    color: #fff
}
.widget_wysija_cont {
    display: inline-block;
}
.wysija-paragraph {
    display: inline-block;
}
.wysija-paragraph label {
    display: none !important;
}

#form-wysija-2 { margin-left: 50px }
#form-wysija-2 .wysija-paragraph .wysija-input  {
  -webkit-border-radius: 0;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  height: 30px;
  border-color: #d85f28 !important;
  border-bottom-width: 2px !important;
  background: none !important;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 300;
}

#form-wysija-2 .wysija-paragraph + .wysija-submit.wysija-submit-field {
  background: #d85f28;
  display: inline-block;
  padding: 0 calc;
  margin: 0 !important;
  position: inherit;
  line-height: 28px;
  border-radius: 0;
  color: #fff;
  font-family: "Roboto";
}
#form-wysija-2 .wysija-paragraph + .wysija-submit.wysija-submit-field:hover {
  color: #d85f28;
  background: #fff;
}

#appai-tv .cmsmasters_img { border: 0; }
#appai-tv .cmsmasters_column {
  max-height: 330px;
  overflow: hidden;
}

#revista-appai {
    padding-top: 30px !important;
}
#revista-appai .cmsmasters_img { border: 0; }
#revista-appai .cmsmasters_img #appai-tv .cmsmasters_column {
    max-height: 300px;
    overflow: hidden;
}

#page.cmsmasters_heading_after_header.enable_header_top.enable_header_bottom #header + #middle {
  padding-top: 177px;
}
.headline_outer .headline_inner .headline_text .entry-title {
  font-family: Roboto;
  color: #ffffff;
  font-size: 50px;/* Approximation due to font substitution */
  font-weight: 300;
  font-style: italic;
  line-height: 50px;/* Approximation due to font substitution */
  text-align: left;
}
.side-bar-appai {
    border-top: 4px solid #e16a1b;
}
.sidebar-blog img {
    width: 100%;
}
.side-bar-contact {
    background: rgba(229, 229, 229, 0.5);
}
.sidebar-blog {
  padding: 0 30px;
  text-align: center;
}
.sidebar-blog div {
    position: relative;
}
.sidebar-blog h2 {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-transform: uppercase;
    font-family: Roboto;
    color: #ffffff;
    font-size: 30.43px;
    font-weight: 900;
    line-height: 25px;
    text-align: center;
    transform: scaleY(1.0845);
}
.sidebar-blog h3 {
    font-family: Roboto;
    color: #4f4f4f;
    font-size: 14.89px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 15px;
}
.sidebar-blog p {
    font-family: Roboto;
    color: #4f4f4f;
    font-size: 14.89px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    transform: scaleY(1.0743);
}
.contato-block-icon {
    margin-left: 30px;
    margin-bottom: 10px;
}

.sidebar-blog a {
    padding: 10px;
    color: #fff;
    background: #cc6421;
    text-transform: uppercase;
}
.contato-avatar {
    background: #f2f2f2;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding: 30px;
}
.avatar-header img {
    float: left;
}
.avatar-header h2 {
    display: inline-block;
    font-family: Roboto;
    color: #cb6121;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    margin-bottom: 0;
    padding-left: 10px;
}
.avatar-header h2 + p {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    text-align: left;
    padding-left: 45px;
}
.avatar-header h2 + p:before {
  content: "";
  display: inline-block;
  background: url(imgs/locale.png) center left no-repeat;
  width: 11px;
  height: 14px;
  margin-right: 5px;
}
.contato-avatar .avatar-header + p {
    color: #000000;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
}

.formulario-contato input,
.formulario-contato textarea {
    border-radius: 0 !important;
    padding-left: 40px !important;
}

.formulario-contato .name { background: url(imgs/avatar.png) 19px 15px no-repeat; }
.formulario-contato .email { background: url(imgs/contact.png) 19px 15px no-repeat; }
.formulario-contato .assunto { background: url(imgs/assunto.png) 19px 15px no-repeat; }
.formulario-contato .mensagem { background: url(imgs/pen.png) 19px 15px no-repeat; }

.formulario-contato input[type="submit"] {
    background: #e0691a;
    font-family: Roboto;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.667px;
    transform: scaleX(1.0005);
    padding: 10px 20px!important;
}
.margin0010 {
    margin: 0 0 10px;
}
.social-titulo {
    margin: 40px 0 0 !important;
}
.social-contato .sociais-footer ul {
    padding-left: 0 !important;
}
.header_mid .header_mid_outer {
  border-bottom: 1px solid #955900
}
#header .header_top { border-bottom: 1px solid #cc611f }
#header .header_top .search_wrap { display: inline-block;
  float: right;
}
#header.header_top_inner .search_wrap {
    display: inline-block;
}

#header .header_top_inner .search_wrap input {
  width: 200px;
  font-size: 12px;
  height: 33px;
  border-radius: 0;
  background: #999b99;
  border: 0;
}
#header .header_top_inner .search_wrap .search_field:first-child { float: left }
#header .header_top_inner .search_wrap .search_button:last-child {
  float: right;
  margin: 0;
  padding: 0;
  width: 34px;
    height: 34px;
}
#header .header_top_inner .search_wrap .search_button button {
    background: #999b99;
    padding: 0 6px;
    border-radius: 0;
    line-height: 33px;
    margin-left: -1px;
}
#header .header_top_inner .search_wrap .search_button button:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    vertical-align: baseline;
    opacity: .8;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    font-size: 120%;
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        content: '\e88f';
}
#revista-appai .cmsmasters_icon_box.cmsmasters_icon_box_left { background: none !important; }

.cmsmasters_1434 .cmsmasters_img { border: 0; }
#ppas-appai .cmsmasters_counter_wrap:nth-child(1) .cmsmasters_counter_inner:before {
    width: 57px !important;
    height: 67px !important;
}
#ppas-appai .cmsmasters_counter_wrap:nth-child(2) .cmsmasters_counter_inner:before {
    width: 43px !important;
    height: 63px !important;
}
#ppas-appai .cmsmasters_counter_wrap:nth-child(3) .cmsmasters_counter_inner:before {
    width: 72px !important;
    height: 65px !important;
}


#onde-chegamos .cmsmasters_icon_box {
    background: none;
}

#onde-chegamos .icon_box_text a {
    color: #ffffff;
    font-size: 26px;
    font-weight: 300;
    font-style: italic;
    line-height: 26px;
    text-align: left;
}
#onde-chegamos #cmsmasters_icon_box_589d137356ba9.cmsmasters_icon_box_left:before,
#onde-chegamos #cmsmasters_icon_box_589d137356ba9.cmsmasters_icon_box_left_top:before {
  left: 13px;
  width: 30px;
  height: 30px;
  top: 15px;
}
#onde-chegamos .one_fourth:nth-child(1) .cmsmasters_icon_box:before {
  width: 30px;
  height: 30px;
  top: 24px;
  left: 10px;
}
#onde-chegamos .one_fourth:nth-child(2) .cmsmasters_icon_box:nth-child(1):before {
  width: 27px;
  height: 32px;
  top: 24px;
  left: 10px;
}
#onde-chegamos .one_fourth:nth-child(2) .cmsmasters_icon_box:nth-child(2):before {
  width: 23px;
  height: 28px;
  top: 30px;
  left: 15px;
}
#onde-chegamos .one_fourth:nth-child(3) .cmsmasters_icon_box:nth-child(1):before {
  width: 46px;
  height: 32px;
  top: 25px;
  left: -5px;
}
#onde-chegamos .one_fourth:nth-child(3) .cmsmasters_icon_box:nth-child(2):before {
  width:39px;
  height: 36px;
  top: 25px;
  left: 4px;
}
#onde-chegamos .cmsmasters_icon_box_left {
  padding-top: 0;
  padding-bottom: 0;
}

#newsletter-home .widgettitle {
  margin-left: 45px;
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
  line-height: 30px;
  text-align: left;
}
#newsletter-home .widgettitle:before {
  content: "";
  width: 36px;
  height: 37px;
  display: block;
  background: url(imgs/icon-newsletter.png) center center no-repeat;
  position: absolute;
  left: 0px;
  top: -10px;
}

.home .tp-rightarrow.tparrows.uranus.noSwipe {
  left: 107% !important;
}
.home .tp-rightarrow.tparrows.uranus.noSwipe:before {
  color: #868686
}

.home .tp-leftarrow.tparrows.uranus.noSwipe {
  left: -85px !important;
}
.home .tp-leftarrow.tparrows.uranus.noSwipe:before {
  color: #868686
}


/* Contato */
#contato input,
#contato textarea {
    border-radius: 0;
    border-color: #808080;
}
#contato .cmsmasters_button {
  font-family: "Roboto";
    font-size: 18px;
    border-radius: 0;
    background: #fc6500;
}
#contato .cmsmasters-form-builder .form_info { padding-bottom: 20px; }

@media only screen and (min-width: 1440px) {
  .column_fifth .cmsmasters_row_outer,
  #pilares .cmsmasters_row_outer {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .column_fifth .cmsmasters_row_inner,
  #pilares .cmsmasters_row_inner {
    width: 100%;
  }
  .column_fifth .cmsmasters_row_inner:first-child {
    width: 1108px;
    margin: 0;
    float: left;
  }
  #pilares .cmsmasters_row_inner:first-child {
    width: 1110px;
    margin: 0;
    float: left;
  }
  .column_fifth .cmsmasters_row_inner:last-child img {
      height: 365px;
  }
  .column_fifth .cmsmasters_row_inner:last-child {
    width: 280px;
    margin: 0;
    float: left;
    height: 365px;
  }
  #pilares .cmsmasters_row_inner:last-child {
    width: 280px;
    margin: 0;
    float: left;
  }
  .column_fifth .cmsmasters_row_outer:after,
  #pilares .cmsmasters_row_outer:after {
  	clear: both;
  }
  .column_fifth .cmsmasters_row_outer:before,
  .column_fifth .cmsmasters_row_outer:after,
  #pilares .cmsmasters_row_outer:before,
  #pilares .cmsmasters_row_outer:after {
  	content: "";
  	display: table;
  	border-collapse: collapse;
  }

  .column_fifth .cmsmasters_row_inner:first-child {
      padding-right: 0;
  }
  .column_fifth .cmsmasters_row_inner:last-child {
      padding: 0;
  }


}
#revista-appai .cmsmasters_img {
  padding: 0;
  position: relative;
}
#revista-appai .cmsmasters_img p {
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(111, 59, 160, .8);
  font-family: Roboto;
  color:
  #ffffff;
  font-size: 20.89px;/* Approximation due to font substitution */
  font-weight: 300;
  text-align: left;
}

#revista-appai .cmsmasters_img p:hover {
  opacity: 1;
}
#pilares .pilares-titulo h1 {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
  line-height: 22.207px;
  text-align: left;
}

#pilares .pilares-titulo.pilar-lazer {
  padding-left: 20px;
}
#pilares .pilares-titulo.pilar-lazer h1 {
  color: #1a61a6;
}
#pilares .pilares-titulo.pilar-lazer:before {
  width: 30px;
  height: 30px;
}

#pilares .pilares-titulo.pilar-educacao {
  padding-left: 20px;
}
#pilares .pilares-titulo.pilar-educacao h1 {
  color: #d1ad04;
}
#pilares .pilares-titulo.pilar-educacao:before {
  width: 42px;
  height: 25px;
}

#pilares .pilares-titulo.pilar-social {
  padding-left: 20px;
}
#pilares .pilares-titulo.pilar-social h1 {
  color: #df504b;
}
#pilares .pilares-titulo.pilar-social:before {
  width: 31px;
  height: 26px;
}

#pilares .pilares-titulo.pilar-saude {
  padding-left: 20px;
}
#pilares .pilares-titulo.pilar-saude h1 {
  color: #88b04b;
}
#pilares .pilares-titulo.pilar-saude:before {
  width: 33px;
  height: 26px;
}

#pilares .pilares-titulo.pilar-programas {
  padding-left: 20px;
  padding-bottom: 10px;
}
#pilares .pilares-titulo.pilar-programas h1 {
  color: #6f3ba0;
  font-size: 27px;
  margin-bottom: 0;
}
#pilares .pilares-titulo.pilar-programas:before {
  width: 27px;
  height: 31px;
}

#pilares .pilares-evento {
  padding-top: 150px !important;
}
#pilares .pilares-evento:before   {
  width: 230px;
  height: 150px;
  top: 0;
  left: 32px;
  background-size: 100% 100%;
}
#pilares .pilares-evento h1 {
  font-family: 'Roboto Condensed';
  color: #fff;
  font-size: 14px;/* Approximation due to font substitution */
  font-weight: 700;
  line-height: 18px;/* Approximation due to font substitution */
  text-align: left;
  position: absolute;
  top: -18px;
  left: -6px;
  padding: 4px;
  min-width: 173px;
}
#pilares .pilares-evento.pilar-lazer h1 {
  background: #1a61a6;
}
#pilares .pilares-evento.pilar-educacao h1 {
  background: #d1ad04;
}
#pilares .pilares-evento.pilar-social h1 {
  background: #df504b;
}
#pilares .pilares-evento.pilar-saude h1 {
  background: #88b04b;
}
#pilares .pilares-evento.pilar-programas h1 {
  background: #6f3ba0;
}
#pilares .pilares-evento .icon_box_text {
    padding: 10px 5px 10px;
}
#pilares .pilares-evento p {
  font-family: Roboto;
  color: #434343;
  font-size: 19px;/* Approximation due to font substitution */
  font-weight: 300;
  text-align: left;
}

#pilares .cmsmasters_row_margin.cmsmasters_row_columns_behavior {
    display: block;
}
#pilare  .cmsmasters_row_margin.cmsmasters_row_columns_behavior .cmsmasters_column {
    display: block;
}
#pilares .cmsmasters_row_margin.cmsmasters_row_columns_behavior .cmsmasters_column {
    display: block;
}
#pilares .pilares-evento .icon_box_inner {
    position: relative;
}

.cmsmasters_icon_box {
    background: transparent !important;
}

#onde-chegamos .cmsmasters_icon_box {
    margin-left: 0 !important;
    padding-right: 0 !important;
}
@media only screen and (max-width: 1439px) and (min-width: 1383px) {
  .header_top a {
      font-size: 11px;
      line-height: 20px;
  }
  .header_top { height: 70px !important;  }
  .header_top .meta_wrap {
    display: block;
    margin-top: 5px;
  }
  #header .header_top .search_wrap {
    width: 235px;
    margin: 5px auto;
    display: block;
    float: none;
  }

  .header_mid .sociais-footer { margin-right: 5px; }
  .sociais-footer h4 { margin-right: 5px; }
  #pilares .cmsmasters_column .pilar-programas.pilares-titulo {
      display: block;
      width: 100%;
  }
  #pilares .cmsmasters_column .pilar-programas {
    width: 25%;
    display: block;
    float: left;
    margin-right: 15px;
  }

  #noticiais-home .cmsmasters_text {
      padding: 20px 20px 20px;
      min-height: 125px;
  }

  .slide-title {
    font-size: 15px;
    line-height: 17px;
  }

  #appai-tv .one_half img {
      height: 244px;
      display: block;
  }
  #onde-chegamos .icon_box_text a {
      font-size: 18px;
  }

  #form-wysija-2 {
      margin-left: 0;
      margin-bottom: 30px;
  }

  #bottom .sociais-footer ul { display: block; }

  #page.cmsmasters_heading_after_header.enable_header_top.enable_header_bottom #header + #middle {
    padding-top: 213px;
  }
}

@media only screen and (max-width: 1024px) {
  #header .header_top .search_wrap {
      display: block;
      margin: 10px auto 0;
      width: 235px;
      float: none;
  }
  #pilares .one_fourth {
      width: 100%;
  }
  #pilares .pilares-titulo ~ div {
    width: 25%;
    float: left;
  }
  #pilares .one_fourth {
      margin-bottom: 0;
  }

  #noticiais-home .cmsmasters_img {
    display: inline-block;
    width: 50%;
    float: left;
  }
  #noticiais-home .cmsmasters_text {
    display: inline-block;
    float: right;
    width: 50%;
    height: 198px;
  }

  #inscricoes .one_first {
    margin-bottom: 0;
  }

  #inscricoes .slide-title {
    font-size: 15px;
    line-height: 17px;
  }
  #appai-tv,
  #appai-tv .one_first,
  #revista-appai-titulo,
  #revista-appai-titulo .one_first {
      padding-bottom: 0;
      margin-bottom: 0;
  }
  #revista-appai,
  #appai-tv {
    padding-top: 0 !important;
  }

  #appai-tv .cmsmasters_column {
    max-height: inherit;
  }
  #appai-tv .one_half .cmsmasters_img, #appai-tv .one_half img {
      width: 100%;
  }
  #appai-tv .one_fourth .cmsmasters_img {
    width: 50%;
    float: left;
  }
  #appai-tv .one_fourth {
      float: left;
      display: block;
      width: 50%;
  }
  #appai-tv .one_fourth:after {
    display: none;
  }
  .header_top .header_top_but.opened, .header_top .header_top_outer {
    background-color: #777978 !important;
  }
}
@media only screen and (max-width: 768px) {
  #header .header_top .search_wrap {
      display: block;
      margin: 10px auto 0;
      width: 235px;
      float: none;
  }
  .header_top .header_top_but.opened, .header_top .header_top_outer {
    background-color: #777978 !important;
  }
  #pilares .pilares-titulo ~ div {
    width: 50%;
  }
  #noticiais-home .cmsmasters_img img {
    width: 100%;
  }
  #noticiais-home .cmsmasters_text { height: auto; }
  #onde-chegamos .cmsmasters_column {
      margin-bottom: 0;
  }
  #onde-chegamos .cmsmasters_column:first-child {
    padding-top: 20px !important;
  }
  #onde-chegamos .cmsmasters_column:last-child {
    padding-top: 20px !important;
  }

  .footer-link,
  #bottom .footer-link h3{
    text-align: center;
  }

  #text-4 img,
  .sociais-footer {
    margin: 0 auto;
    display: block;
  }
  .sociais-footer {
      width: 245px;
  }
  .footer-contato p,
  .footer-contato h3,
  .footer-contato h4,
  .footer-contato span {
    text-align: center !important;
    display: block;
  }
}
@media only screen and (max-width: 425px) {
  .header_mid .sociais-footer {
      display: block;
      float: none;
      width: 100%;
  }
  .slogan_wrap_text .centralizar { display: block !important; }
  #header .acesse-agora {
    display: block !important;
    float: none;
    width: 100%;
}
  #pilares .pilares-titulo ~ div {
       width: 100%;
       float: none;
  }
  #pilares .pilares-titulo h1 {
    text-align: center;
  }
  #pilares .pilares-titulo.pilar-educacao:before {
    top: 0;
  }
  #pilares .pilares-evento:before {
    left: 50%;
    margin-left: -115px;
  }
  #pilares .pilares-evento h1 {
    left: 15%;
  }
  #noticiais-home .cmsmasters_text {
    padding: 10px;
  }
  #appai-tv .cmsmasters_column {
    padding-top: 55px;
  }
  #appai-tv .cmsmasters_column.one_half { padding: 0}
  #appai-tv .cmsmasters_column h1 { text-align: center }

  #appai-tv .one_fourth .cmsmasters_img {
    width: 100%;
    float: none;
  }
  #appai-tv .one_fourth {
    float: none;
    width: 100%;
    padding-top: 0 !important;
  }
  #onde-chegamos .cmsmasters_icon_box_left p {
    text-align: center;
  }

  #form-wysija-2 {
    margin: 0;
  }
  #form-wysija-2 .wysija-paragraph .wysija-input {
    margin-bottom: 10px;
  }

  .wysija-paragraph {
    width: 100%;
  }
  #form-wysija-2 .wysija-paragraph + .wysija-submit.wysija-submit-field {
    width: 100%;
  }
  #newsletter-home .widgettitle {
    font-size: 25px;
  }
  #aviso-importante p {
    padding: 0 0 10px !important;
  }
}
