/**
 * @package 	WordPress
 * @subpackage 	Total School
 * @version 	1.0.0
 * 
 * Theme Fonts Rules
 * Created by CMSMasters
 * 
 */


/***************** Start Theme Font Styles ******************/

	/* Start Content Font */ 
	code, 
	#wp-calendar tbody td, 
	#wp-calendar tbody th, 
	.widget_rss ul li .rsswidget, 
	.widget_recent_comments ul li a, 
	.widget_recent_entries ul li a, 
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tab.tab_comments li p,  
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tab.tab_comments li, 
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_lpr_tabs_cont a, 
	.cmsmasters_open_profile .profile_sidebar .cmsmasters_likes a > span, 
	.cmsmasters_open_profile .profile_sidebar .cmsmasters_comments a > span, 
	.cmsmasters_open_profile .profile_sidebar .cmsmasters_profile_category a, 
	.cmsmasters_open_profile .profile_sidebar .cmsmasters_profile_tags a, 
	.cmsmasters_open_project .project_sidebar .cmsmasters_likes a > span, 
	.cmsmasters_open_project .project_sidebar .cmsmasters_comments a > span, 
	.cmsmasters_open_project .project_sidebar .cmsmasters_project_category a, 
	.cmsmasters_open_project .project_sidebar .cmsmasters_project_tags a, 
	body, 
	.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner .cmsmasters_counter_title, 
	.header_top a, 
	.header_top, 
	.top_line_nav > li > a,
	.top_line_nav ul li a {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
	}
	
	.header_top a, 
	.header_top, 
	.top_line_nav > li > a, 
	.top_line_nav ul li a {
		font-size:12px;
		line-height:20px;
	}
	
	.top_line_nav > li > a {
		letter-spacing:1px;
	}
	
	.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter_subtitle {
		font-size:14px;
	}
	
	.cmsmasters_campaigns .campaign .cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat_title_wrap {
		font-size:16px;
	}
	
	.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner .cmsmasters_counter_title {
		font-size:18px;
		line-height:27px;
	}
	
	#page .select2-container .select2-choice {
		font-weight:normal;
	}
	
	#wp-calendar tbody td, 
	#wp-calendar tbody th {
		font-size:13px;
		line-height:22px;
		font-weight:400; /* static */
	}
	
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tab.tab_comments li p {
		line-height:18px;
	}
	
	.widget_rss ul li .rsswidget, 
	.widget_recent_entries ul li a, 
	.widget_recent_comments ul li a, 
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tab.tab_comments li * , 
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_lpr_tabs_cont a {
		font-size:17px;
	}
	
	.cmsmasters_footer_default .footer_custom_html {
		line-height:16px;
	}
	
	.cmsmasters_open_profile .profile_sidebar .profile_details_item .profile_details_item_title, 
	.cmsmasters_open_profile .profile_sidebar .profile_features_item .profile_features_item_title, 
	.cmsmasters_open_project .project_sidebar .project_details_item .project_details_item_title, 
	.cmsmasters_open_project .project_sidebar .project_features_item .project_features_item_title, 
	.footer_inner .footer_copyright { 
		line-height:24px;
	}
	
	.share_wrap {
		line-height:20px; /* static */
	}
	
	.cmsmasters_open_profile .profile_sidebar .cmsmasters_profile_category a, 
	.cmsmasters_open_profile .profile_sidebar .cmsmasters_profile_tags a, 
	.cmsmasters_open_project .project_sidebar .cmsmasters_project_category a, 
	.cmsmasters_open_project .project_sidebar .cmsmasters_project_tags a {
		text-transform:none;
	}
	
	@media only screen and (max-width: 540px) {
		#page .post_nav a {
			font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
			font-size:17px;
			line-height:24px;
			font-weight:normal;
			font-style:normal;
		}
	}
	/* Finish Content Font */


	/* Start Link Font */
	a {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	a:hover {
		text-decoration:none;
	}
	/* Finish Link Font */


	/* Start Navigation Title Font */
	.navigation > li > a, 
	.footer_nav > li > a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:20px;
		font-weight:bold;
		font-style:normal;
		text-transform:uppercase;
	}
	
	.footer_nav > li > a {
		font-size:13px;
	}
	
	.mid_nav > li > a .nav_title:before {
		font-size:20px; /* static */
	}

	.bot_nav > li > a .nav_title:before {
		font-size:14px; /* static */	
	}
	
	.navigation li > a .nav_subtitle, 
	.navigation li > a .nav_tag {
		font-size:12px;
		line-height:18px;	
		font-weight:800;
		text-transform:uppercase;
	}
	/* Finish Navigation Title Font */


	/* Start Navigation Dropdown Font */
	.navigation .menu-item-mega-container > ul > li > a, 
	.navigation ul li a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:13px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
	}
	
	.navigation .menu-item-mega-container > ul > li > a {
		font-size:15px;
	}
	
	@media only screen and (max-width: 1024px) {
		.navigation > li > a, 
		.navigation .menu-item-mega-container > ul > li > a .nav_title {
			font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
			font-size:13px;
			line-height:20px;
			font-weight:normal;
			font-style:normal;
			text-transform:none;
		}
		
		#header .navigation li li > a {
			font-size:12px;
		}
	}
	/* Finish Navigation Dropdown Font */
	
	
	/* Start H1 Font */
	h1,
	h1 a,
	.logo .title, 
	.cmsmasters_pricing_table .cmsmasters_price_wrap, 
	.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap, 
	.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner .cmsmasters_counter_counter_wrap, 
	#header .search_bar_wrap .search_field input {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:40px;
		line-height:46px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner .cmsmasters_counter_counter_wrap {
		font-size:48px;
		line-height:54px;
	}
	
	.cmsmasters_dropcap {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsmasters_icon_list_items.cmsmasters_icon_list_icon_type_number .cmsmasters_icon_list_item .cmsmasters_icon_list_icon:before,
	.cmsmasters_icon_box.box_icon_type_number:before,
	.cmsmasters_icon_box.cmsmasters_icon_heading_left.box_icon_type_number .icon_box_heading:before {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:normal;
		font-style:normal;
	}
	
	.cmsmasters_dropcap.type1 {
		font-size:60px; /* static */
	}
	
	.cmsmasters_dropcap.type2 {
		font-size:36px; /* static */
	}
	
	.cmsmasters_pricing_table .cmsmasters_price_wrap, 
	#header .search_bar_wrap .search_field input {
		font-size:60px; /* static */
		line-height:60px; /* static */
	}
	
	.cmsmasters_sitemap_wrap > h1 {
		font-size:28px;
		line-height:34px;
	}
	
	.navi_scrolled .logo .title {
		font-size:26px;
		line-height:26px;
	}
	
	.headline_outer .headline_inner .headline_icon:before {
		font-size:45px;
	}
	
	.headline_outer .headline_inner.align_center .headline_icon:before {
		font-size:61px;
	}
	
	.headline_outer .headline_inner.align_left .headline_icon {
		padding-left:45px;
	}
	
	.headline_outer .headline_inner.align_right .headline_icon {
		padding-right:45px;
	}
	
	.headline_outer .headline_inner.align_center .headline_icon {
		padding-top:61px;
	}
	
	@media only screen and (max-width: 768px) {
		.headline_outer .headline_inner .headline_icon:before {
			font-size:40px;
		}
		
		.headline_outer .headline_inner.align_center .headline_icon:before {
			font-size:45px;
		}
		
		.headline_outer .headline_inner.align_center .headline_icon {
			padding-top:50px;
		}
		
		#header .search_bar_wrap .search_field input {
			font-size:30px; /* static */
			line-height:30px; /* static */
		}
	
	}
	/* Finish H1 Font */


	/* Start H2 Font */
	h2,
	h2 a, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:30px;
		line-height:36px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H2 Font */


	/* Start H3 Font */
	h3,
	h3 a, 
	.cmsmasters_twitter_wrap .cmsmasters_twitter_item_content, 
	.cmsmasters_twitter_wrap .cmsmasters_twitter_item_content a, 
	.cmsmasters_stats .cmsmasters_stat_inner_stat_info .cmsmasters_stat_counter_wrap, 
	.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat_title, 
	.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap, 
	.post_nav a, 
	.cmsmasters_post_timeline .cmsmasters_post_date .cmsmasters_day, 
	.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat_title, 
	.cmsmasters_single_slider .cmsmasters_single_slider_item_title a, 
	.cmsmasters_profile_horizontal .cmsmasters_profile_title, 
	.cmsmasters_profile_horizontal .cmsmasters_profile_title a, 
	.cmsmasters_profile_vertical .cmsmasters_profile_title, 
	.cmsmasters_profile_vertical .cmsmasters_profile_title a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:24px;
		line-height:30px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.post_nav a:before, 
	.post_nav a:after {
		line-height:30px;
	}
	
	.cmsmasters_stats .cmsmasters_stat_inner_stat_info .cmsmasters_stat_counter_wrap, 
	.cmsmasters_post_timeline .cmsmasters_post_date .cmsmasters_day {
		font-size:30px;
	}
	
	.cmsmasters_single_slider .cmsmasters_single_slider_item_title a {
		font-size:18px;
	}
	
	.cmsmasters_twitter_wrap .cmsmasters_twitter_item_content a, 
	.cmsmasters_twitter_wrap .cmsmasters_twitter_item_content {
		line-height:36px;
	}
	/* Finish H3 Font */


	/* Start H4 Font */
	h4, 
	h4 a, 
	.cmsmasters_table thead th, 
	.cmsmasters_table tfoot td, 
	.cmsmasters_tabs .cmsmasters_tabs_list_item > a span, 
	.comment-respond .comment-reply-title, 
	.cmsmasters_stats .cmsmasters_stat_wrap .cmsmasters_stat_title, 
	.cmsmasters_toggles .cmsmasters_toggle_title a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:20px;
		line-height:26px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsmasters_tabs .cmsmasters_tabs_list_item > a span, 
	.cmsmasters_slider_post .cmsmasters_slider_post_header .cmsmasters_slider_post_title, 
	.cmsmasters_slider_post .cmsmasters_slider_post_header .cmsmasters_slider_post_title a, 
	.cmsmasters_quotes_slider .cmsmasters_quote_title, 
	.cmsmasters_quotes_grid .cmsmasters_quote_title {
		font-size:18px;
	}
	/* Finish H4 Font */


	/* Start H5 Font */
	h5, 
	h5 a, 
	.wpcf7 p, 
	.widget_tag_cloud a, 
	#wp-calendar caption, 
	.cmsmasters_table tbody td, 
	.cmsmasters_pricing_table .cmsmasters_period, 
	.comment-respond label, 
	.comment-reply-title a, 
	.cmsmasters_comment_item_buttons a, 
	.cmsmasters_comment_item > a, 
	.cmsmasters_open_post .cmsmasters_post_date, 
	.cmsmasters_wrap_pagination ul li .page-numbers, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > a, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > .sub-menu > li > a, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap_archive li a, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap_archive li, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap_category li a, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap_category li, 
	.widget_rss .widgettitle a, 
	.widget .widgettitle, 
	.widget_nav_menu ul li a, 
	.widget.widget_nav_menu .sub-menu > li > a, 
	.widget_pages ul li a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.widget_rss .widgettitle a, 
	.widget .widgettitle,
	.widget_nav_menu ul li a, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > a {
		font-size:19px;
		line-height:25px;
	}
	/* Finish H5 Font */


	/* Start H6 Font */
	h6,
	h6 a, 
	.widget_custom_twitter_entries .tweet_time, 
	.widget_rss ul li cite, 
	.widget_rss ul li .rss-date, 
	.widget_recent_entries .post-date, 
	.widget.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tab.tab_comments li small, 
	.widget.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tab.tab_comments li small * , 
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_lpr_tabs_cont > .published, 
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tabs_list_item a * , 
	.widget.widget_nav_menu .sub-menu > li li a, 
	#wp-calendar thead td, 
	#wp-calendar thead th, 
	.widget_archive ul li a, 
	.widget_meta ul li a, 
	.widget_categories ul li a, 
	.cmsmasters_archive_type .cmsmasters_archive_item_cont_wrap .cmsmasters_archive_item_cont_wrap_bottom .entry-meta *, 
	.cmsmasters_archive_type .cmsmasters_archive_item_cont_wrap .cmsmasters_archive_item_cont_wrap_top *, 
	.cmsmasters_slider_project_category a, 
	.cmsmasters_twitter_wrap .published, 
	.cmsmasters_img .cmsmasters_img_caption, 
	.cmsmasters_open_profile .profile_sidebar .profile_details_item_title, 
	.cmsmasters_open_profile .profile_sidebar .profile_features_item_title, 	
	.cmsmasters_open_project .project_sidebar .project_details_item_title, 
	.cmsmasters_open_project .project_sidebar .project_features_item_title, 
	.comment-respond .logged-in-as, 
	.comment-respond .logged-in-as a, 
	.cmsmasters_comment_item .cmsmasters_comment_item_date, 
	.share_posts a, 
	.cmsmasters_open_post .cmsmasters_post_footer a, 
	.cmsmasters_project_category > a, 
	.footer_copyright, 
	.cmsmasters_post_timeline .cmsmasters_post_date .cmsmasters_mon, 
	.cmsmasters_likes a > span, 
	.cmsmasters_comments a > span, 
	.post .cmsmasters_post_cont_wrapper .cmsmasters_post_info > a, 
	.post .cmsmasters_post_cont_wrapper .cmsmasters_post_info > span, 
	.post .cmsmasters_post_cont_wrapper .cmsmasters_post_info > div,
	.cmsmasters_open_post .cmsmasters_open_post_top > a, 
	.cmsmasters_open_post .cmsmasters_open_post_top > span, 
	.cmsmasters_open_post .cmsmasters_open_post_top > div,
	.cmsmasters_post_content_meta * , 
	.cmsmasters_post_info_bottom .cmsmasters_post_cont_info * , 
	.cmsmasters_breadcrumbs .cmsmasters_breadcrumbs_inner * , 
	#wp-calendar tfoot a, 
	.cmsmasters_slider_post .cmsmasters_slider_post_read_more {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsmasters_slider_post .cmsmasters_slider_post_read_more, 
	.cmsmasters_profile_horizontal .cmsmasters_profile_subtitle, 
	.cmsmasters_profile_vertical .cmsmasters_profile_subtitle {
		font-size:13px;
	}
	
	.cmsmasters_profile_horizontal .cmsmasters_profile_subtitle, 
	.cmsmasters_profile_vertical .cmsmasters_profile_subtitle {
		letter-spacing:1px;
	}

	.cmsmasters_breadcrumbs .cmsmasters_breadcrumbs_inner * {
		font-size:12px;
	}
	
	.post .cmsmasters_post_cont_wrapper .cmsmasters_post_info > span {
		line-height:20px;
	}
	
	.widget_tag_cloud a {
		font-size:14px !important;
	}
	
	@media only screen and (max-width: 540px) {
		.cmsmasters_stats .cmsmasters_stat_wrap .cmsmasters_stat_title {
			font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
			font-size:14px;
			line-height:20px;
			font-weight:normal;
			font-style:normal;
			text-transform:none;
			text-decoration:none;
		}
	}
	
	
	@media only screen and (max-width: 768px) {
		.cmsmasters_tabs .cmsmasters_tabs_list_item > a span {
			font-size:14px;
		}
	}
	/* Finish H6 Font */


	/* Start Button Font */
	.cmsmasters_button, 
	.button, 
	input[type=submit], 
	input[type=button], 
	button {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:44px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
	}
	
	.cmsmasters_items_filter_wrap .cmsmasters_items_filter_list li a, 
	.cmsmasters_items_filter_wrap .cmsmasters_items_filter_but, 
	.cmsmasters_items_filter_wrap .cmsmasters_items_sort_but, 
	.cmsmasters_items_filter_wrap .cmsmasters_items_sort_but:before	{
		line-height:36px;
	}
	
	.gform_wrapper .gform_footer input.button, 
	.gform_wrapper .gform_footer input[type=submit] {
		font-size:14px !important;
	}
	
	.cmsmasters_button.cmsmasters_but_icon_dark_bg, 
	.cmsmasters_button.cmsmasters_but_icon_light_bg, 
	.cmsmasters_button.cmsmasters_but_icon_divider, 
	.cmsmasters_button.cmsmasters_but_icon_inverse {
		padding-left:64px;
	}
	
	.cmsmasters_button.cmsmasters_but_icon_dark_bg:before, 
	.cmsmasters_button.cmsmasters_but_icon_light_bg:before, 
	.cmsmasters_button.cmsmasters_but_icon_divider:before, 
	.cmsmasters_button.cmsmasters_but_icon_inverse:before, 
	.cmsmasters_button.cmsmasters_but_icon_dark_bg:after, 
	.cmsmasters_button.cmsmasters_but_icon_light_bg:after, 
	.cmsmasters_button.cmsmasters_but_icon_divider:after, 
	.cmsmasters_button.cmsmasters_but_icon_inverse:after {
		width:44px;
	}
	/* Finish Button Font */


	/* Start Small Text Font */
	small
	form .formError .formErrorContent, 
	.cmsmasters_slider_post .cmsmasters_slider_post_date_top_meta_wrap, 
	.cmsmasters_slider_post .cmsmasters_slider_post_date_top_meta_wrap .cmsmasters_likes a > span, 
	.cmsmasters_slider_post .cmsmasters_slider_post_date_top_meta_wrap .cmsmasters_comments a > span, 
	.cmsmasters_slider_post .cmsmasters_slider_post_cont_info, 
	.cmsmasters_slider_post .cmsmasters_slider_post_cont_info a, 
	.cmsmasters_campaigns .campaign .cmsmasters_stat_subtitle {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:13px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
	}
	
	.cmsmasters_slider_post .cmsmasters_slider_post_date_top_meta_wrap, 
	.cmsmasters_slider_post .cmsmasters_slider_post_date_top_meta_wrap .cmsmasters_likes a > span, 
	.cmsmasters_slider_post .cmsmasters_slider_post_date_top_meta_wrap .cmsmasters_comments a > span {
		font-size:11px;
		letter-spacing:1px;
	}
	
	.cmsmasters_campaigns .campaign .cmsmasters_stat_subtitle {
		font-size:14px;
		letter-spacing:1px;
	}
	
	.gform_wrapper .description, 
	.gform_wrapper .gfield_description, 
	.gform_wrapper .gsection_description, 
	.gform_wrapper .instruction {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif !important;
		font-size:13px !important;
		line-height:20px !important;
	}
	/* Finish Small Text Font */


	/* Start Text Fields Font */
	input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]), 
	textarea,
	select,
	option {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
	}
	
	input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
		line-height:46px; /*static*/
	}
	
	.gform_wrapper input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]),
	.gform_wrapper textarea, 
	.gform_wrapper select {
		font-size:15px !important;
	}
	/* Finish Text Fields Font */


	/* Start Blockquote Font */
	blockquote, 
	.cmsmasters_quotes_slider .cmsmasters_quote_content, 
	.cmsmasters_quotes_grid .cmsmasters_quote_content {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:28px;
		font-weight:normal;
		font-style:normal;
	}
	
	q {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:normal;
		font-style:normal;
	}
	/* Finish Blockquote Font */

/***************** Finish Theme Font Styles ******************/



/***************** Start CMSMASTERS Donations Font Styles ******************/

	/* Start Content Font */
	.cmsmasters_single_slider_campaign .cmsmasters_stats .cmsmasters_stat_wrap .cmsmasters_stat_title_wrap * , 
	.cmsmasters_campaigns .campaign .cmsmasters_stat_title {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
	}
	
	.cmsmasters_single_slider_campaign .cmsmasters_stats .cmsmasters_stat_wrap .cmsmasters_stat_title_wrap * , 
	.cmsmasters_campaigns .campaign .cmsmasters_stat_title {
		text-transform:none;
	}
	/* Finish Content Font */
	
	
	/* Start Link Font */
	/* Finish Link Font */
	
	
	/* Start Navigation Title Font */
	/* Finish Navigation Title Font */
	
	
	/* Start H1 Font */
	.donations.opened-article > .donation .cmsmasters_donation_amount_currency {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:40px;
		line-height:46px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H1 Font */
	
	
	/* Start H2 Font */
	/* Finish H2 Font */
	
	
	/* Start H3 Font */	
	.cmsmasters_donation_field > label, 
	.opened-article > .campaign .campaign_meta_wrap .cmsmasters_stat_title_wrap * {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:24px;
		line-height:30px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.opened-article > .campaign .campaign_meta_wrap .cmsmasters_campaign_donations_count_title, 
	.opened-article > .campaign .campaign_meta_wrap .cmsmasters_campaign_target_title {
		font-size:16px;
	}
	
	.opened-article > .campaign .campaign_meta_wrap .cmsmasters_stat_title_wrap * {
		font-size:14px;
	}
	
	@media only screen and (max-width: 600px) {
		.cmsmasters_donation_field > label {
			font-size:16px;
		}
	}
	/* Finish H3 Font */
	
	
	/* Start H4 Font */
	.cmsmasters_featured_campaign .campaign .cmsmasters_campaign_rest_amount {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:20px;
		line-height:26px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsmasters_single_slider_campaign .cmsmasters_single_slider_item_title {
		font-size:22px;
	}
	
	.opened-article > .campaign .campaign_meta_wrap .cmsmasters_campaign_donations_count_number, 
	.opened-article > .campaign .campaign_meta_wrap .cmsmasters_campaign_target_number {
		font-size:24px;
	}
	
	.cmsmasters_featured_campaign .cmsmasters_campaign_donated_percent .cmsmasters_stat_container {
		height:328px;
	}
	/* Finish H4 Font */
	
	
	/* Start H5 Font */
	.donations.opened-article > .donation .cmsmasters_donation_campaign a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H5 Font */
	
	
	/* Start H6 Font */
	.donations.opened-article > .donation .cmsmasters_donation_details_item_title, 
	.donations.opened-article > .donation .cmsmasters_donation_details_item_title a, 
	.donations.opened-article > .donation .cmsmasters_donation_details_item_value, 
	.donations.opened-article > .donation .cmsmasters_donation_details_item_value a, 
	.cmsmasters_single_slider_campaign .cmsmasters_stat_subtitle, 
	.opened-article > .campaign .cmsmasters_campaign_cont_info > span * , 
	.opened-article > .campaign .cmsmasters_campaign_cont_info > span, 
	.cmsmasters_donations .donation .cmsmasters_donation_campaign a, 
	#page .cmsmasters_featured_campaign .cmsmasters_campaign_donated_percent .cmsmasters_stat_title {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H6 Font */
	
	
	/* Start Button Font */
	.header_donation_but .cmsmasters_button {
		font-size:16px;
	}
	/* Finish Button Font */
	
	
	/* Start Small Text Font */
	/* Finish Small Text Font */

/***************** Finish CMSMASTERS Donations Font Styles ******************/



/***************** Start Events Font Styles ******************/

	/* Start Content Font */
	.tribe-this-week-events-widget .tribe-this-week-event .entry-title, 
	.tribe-this-week-events-widget .tribe-this-week-event .entry-title a, 
	.tribe-events-list-widget-content-wrap .entry-title, 
	.tribe-events-list-widget-content-wrap .entry-title a, 
	.tribe-events-countdown-widget .tribe-countdown-text, 
	.tribe-events-countdown-widget .tribe-countdown-text a, 
	.tribe-events-grid .tribe-week-event .vevent .entry-title a, 
	table.tribe-events-calendar tbody td .tribe-events-month-event-title, 
	table.tribe-events-calendar tbody td .tribe-events-month-event-title a, 
	.cmsmasters_single_event .cmsmasters_single_event_header_right a, 
	.tribe-mini-calendar tbody, 
	.tribe-mini-calendar tbody a, 
	.widget .vcalendar .cmsmasters_widget_event_info, 
	.widget .vcalendar .cmsmasters_widget_event_info a, 
	.tribe-events-countdown-widget .tribe-countdown-time span, 
	.tribe-this-week-events-widget .tribe-events-page-title {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
	}
	
	.tribe-this-week-events-widget .tribe-this-week-event .entry-title, 
	.tribe-this-week-events-widget .tribe-this-week-event .entry-title a, 
	.tribe-events-list-widget-content-wrap .entry-title, 
	.tribe-events-list-widget-content-wrap .entry-title a, 
	.tribe-events-countdown-widget .tribe-countdown-text, 
	.tribe-events-countdown-widget .tribe-countdown-text a, 
	.tribe-related-events-title {
		font-size:17px;
	}
	
	.widget .vcalendar .cmsmasters_widget_event_info, 
	.widget .vcalendar .cmsmasters_widget_event_info a {
		font-size:14px;
	}
	
	.tribe-events-grid .column.first, 
	.tribe-events-grid .tribe-week-grid-hours {
		font-size:11px;
	}
	
	.cmsmasters_single_event .cmsmasters_single_event_header_right a {
		font-weight:400; /*static*/
	}
	
	.tribe-this-week-events-widget .tribe-this-week-event .entry-title, 
	.tribe-this-week-events-widget .tribe-this-week-event .entry-title a, 
	.tribe-events-grid .tribe-week-event .vevent .entry-title a, 
	.tribe-this-week-events-widget .tribe-events-page-title {
		text-transform:none;
	}
	/* Finish Content Font */
	
	
	/* Start Link Font */
	/* Finish Link Font */
	
	
	/* Start H1 Font */
	.tribe-events-countdown-widget .tribe-countdown-timer td {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:40px;
		line-height:46px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.tribe-events-countdown-widget .tribe-countdown-timer td {
		line-height:40px;
	}
	
	@media only screen and (min-width: 950px) and (max-width: 1440px) {
		.content_wrap.r_sidebar .tribe-events-countdown-widget .tribe-countdown-timer td, 
		.content_wrap.l_sidebar .tribe-events-countdown-widget .tribe-countdown-timer td, 
		.sidebar_layout_14141414 .tribe-events-countdown-widget .tribe-countdown-timer td {
			font-size:16px; /* static */
			line-height:22px; /* static */
		}
	}
	
	/* Finish H1 Font */
	
	
	/* Start H2 Font */
	.tribe-events-page-title, 
	.tribe-mobile-day .tribe-mobile-day-date {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:30px;
		line-height:36px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H2 Font */
	
	
	/* Start H3 Font */
	.tribe-events-sub-nav li a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:24px;
		line-height:30px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H3 Font */
	
	
	/* Start H4 Font */
	
	/* Finish H4 Font */
	
	
	/* Start H5 Font */
	.tribe-events-venue-widget .tribe-venue-widget-venue-name a, 
	.tribe-mini-calendar [id*=tribe-mini-calendar-month], 
	.tribe-events-grid .tribe-grid-header span, 
	.tribe-events-list .tribe-events-list-separator-month, 
	.tribe-events-list .tribe-events-day-time-slot > h5, 
	table.tribe-events-calendar tbody td div[id*=tribe-events-daynum-], 
	table.tribe-events-calendar tbody td div[id*=tribe-events-daynum-] a, 
	table.tribe-events-calendar thead th, 
	#tribe-bar-views > div > span, 
	.tribe-bar-filters-inner > div label, 
	#tribe-events-content > .tribe-events-button, 
	.tribe-events-venue .cmsmasters_events_venue_header_right a, 
	.tribe-events-organizer .cmsmasters_events_organizer_header_right a, 
	.tribe-events-widget-link a, 
	.tribe-mobile-day .tribe-events-read-more, 
	.tribe-this-week-events-widget .tribe-events-viewmore a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.tribe-events-list .tribe-events-day-time-slot > h5, 
	.tribe-events-grid .tribe-grid-header span, 
	.tribe-events-list .tribe-events-list-separator-month, 
	table.tribe-events-calendar thead th, 
	.tribe-events-related-events-title, 
	.tribe-events-event-meta > div > h5 {
		font-size:19px;
		line-height:24px;
	}
	
	@media only screen and (max-width: 600px) {
		table.tribe-events-calendar thead th {
			font-size:12px; /* static */
		}
	}
	
	@media only screen and (max-width: 500px) {
		table.tribe-events-calendar thead th {
			font-size:10px; /* static */
		}
	}
	
	@media only screen and (max-width: 400px) {
		table.tribe-events-calendar thead th {
			font-size:8px; /* static */
		}
	}
	/* Finish H5 Font */
	
	
	/* Start H6 Font */
	.widget.tribe-events-adv-list-widget .cmsmasters_widget_event_info * ,  
	.widget.tribe-events-adv-list-widget .cmsmasters_widget_event_info a,  
	.tribe-this-week-events-widget .tribe-this-week-event div * ,  
	.tribe-this-week-events-widget .tribe-this-week-widget-header-date, 
	.tribe-events-countdown-widget .tribe-countdown-timer td span,  
	.tribe-events-photo .tribe-events-event-meta, 
	.tribe-events-grid .column.first, 
	.tribe-events-grid .tribe-week-grid-hours, 
	.tribe-events-tooltip .duration, 
	.cmsmasters_single_event_meta dt, 
	.cmsmasters_single_event_meta .cmsmasters_event_meta_info_item_title, 
	.cmsmasters_single_event .tribe-events-date, 
	.cmsmasters_single_event .tribe-events-cost, 
	.tribe-events-list .tribe-events-event-meta, 
	.tribe-events-list .tribe-events-event-meta a, 
	.tribe-events-photo .tribe-events-event-meta, 
	.tribe-events-photo .tribe-events-event-meta a, 
	.cmsmasters_single_event .tribe-events-schedule, 
	.cmsmasters_single_event .tribe-events-schedule a, 
	.tribe-events-venue .tribe-events-event-meta, 
	.tribe-events-venue .tribe-events-event-meta a, 
	.tribe-events-organizer .tribe-events-event-meta, 
	.tribe-events-organizer .tribe-events-event-meta a, 
	.tribe-mini-calendar thead th, 
	.tribe-mini-calendar-list-wrapper .cmsmasters_widget_event_info, 
	.tribe-mini-calendar-list-wrapper .cmsmasters_widget_event_info a, 
	.tribe-events-venue-widget .vcalendar .cmsmasters_widget_event_info, 
	.tribe-events-venue-widget .vcalendar .cmsmasters_widget_event_info a, 
	.tribe-mobile-day .tribe-events-event-schedule-details, 
	.tribe-mobile-day .tribe-event-schedule-details {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H6 Font */
	
	
	/* Start Button Font */
	#tribe-bar-views .tribe-bar-views-list li, 
	#tribe-bar-views .tribe-bar-views-list li a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:44px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
	}
	
	#tribe-bar-views .tribe-bar-views-list li, 
	#tribe-bar-views .tribe-bar-views-list li a {
		line-height:34px; /*static*/
	}
	
	.tribe-bar-filters .tribe-events-button {
		line-height:48px;
	}
	/* Finish Button Font */
	
	
	/* Start Small Text Font */
	/* Finish Small Text Font */

/***************** Finish Events Font Styles ******************/



/***************** Start LearnPress Font Styles ******************/

	/* Start Content Font */
	.review-form .review-fields > li > label,
	.review-form .review-fields > li > label .required,
	.learn-press-tabs.ui-widget,
	#review .review-fields > li > label .required,
	#review .review-fields > li > label {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
	}
	
	.cmsmasters_learnpress_shortcode .lpr_course_post .cmsmasters_course_footer,
	.cmsmasters_learnpress_shortcode .lpr_course_post .cmsmasters_course_footer a {
		font-size:14px;
	}
	
	.lp-label  {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:11px;
		line-height:20px;
		font-weight:bold;
		font-style:normal;
		text-transform:none;
	}
	/* Finish Content Font */


	/* Start H1 Font */
	#quiz-countdown,
	.cmsmasters_course_content .cmsmasters_course_title {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:40px;
		line-height:46px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	#quiz-countdown {
		font-size: 46px;
	}
	/* Finish H1 Font */


	/* Start H2 Font */
	.lp-course-progress-heading,
	.course-description-heading,
	#user_courses > h3,
	.course-review-head,
	.course-content > h3,
	.single-quiz .quiz-questions > h3,
	.course-curriculum-title {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:30px;
		line-height:36px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H2 Font */


	/* Start H5 Font */
	.cmsmasters_learnpress_shortcode .lpr_course_post .cmsmasters_course_price, 
	.cmsmasters_learnpress_shortcode .lpr_course_post .cmsmasters_course_free {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H5 Font */
	

	/* Start H6 Font */
	.quiz-history thead th,
	.order_details thead tr th,
	.table-orders thead tr th,
	.learn-press-cart-table thead tr th,
	.learn-press-checkout-review-order-table tr th,
	.learn-press-tabs li a,
	.single-quiz .quiz-question-nav .lp-question-wrap > h4,
	.quiz-result .quiz-result-summary .quiz-result-field > label,
	.curriculum-sections .section-content .course-lesson, 
	.curriculum-sections .section-content .course-lesson a, 
	.curriculum-sections .section-content .course-quiz,
	.curriculum-sections .section-content .course-quiz a,
	.cmsmasters_course_sidebar .cmsmasters_course_meta_title, 
	.cmsmasters_learnpress_shortcode .lpr_course_post .cmsmasters_cource_cat, 
	.cmsmasters_learnpress_shortcode .lpr_course_post .cmsmasters_cource_cat a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.curriculum-sections .section-content > li.course-item .lesson-icon:before, 
	.curriculum-sections .section-content > li.course-item .quiz-icon:before {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H6 Font */
	
	
	/* Srart Small Font */
	.quiz-countdown-label {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:13px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
	}
	/* Finish Small Font */
	

/***************** Finish LearPress Font Styles ******************/


/***************** Start Timetable Font Styles ******************/

	/* Start Content Font */
	table.tt_timetable th,
	table.tt_timetable .event, 
	table.tt_timetable .event a, 
	table.tt_timetable .event .hours, 
	ul.tt_upcoming_events li .tt_upcoming_events_event_container * {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
	}
	
	ul.tt_upcoming_events li .tt_upcoming_events_event_container * {
		text-transform: none;
	}
	
	table.tt_timetable .event .after_hour_text,
	table.tt_timetable .event, 
	ul.tt_upcoming_events li .tt_upcoming_events_event_container * {
		font-size:14px;
	}
	
	table.tt_timetable .event a, 
	table.tt_timetable .event .event_header {
		font-size:16px;
	}
	/* Finish Content Font */

	
	/* Start H3 Font */
	.event_layout_4 table.tt_timetable .event .hours {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:24px;
		line-height:30px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H3 Font */
	
	
	/* Start H5 Font */
	.tt_tabs_navigation li a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H5 Font */


	/* Start H6 Font */
	ul.tt_upcoming_events li .tt_upcoming_events_event_container,
	table.tt_timetable .event .event_header {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H6 Font */


	/* Start Button Font */
	.ui-tabs .tt_tabs_navigation.ui-widget-header li a,
	.tabs_box_navigation .tabs_box_navigation_selected {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:44px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
	}
	
	.ui-tabs .tt_tabs_navigation.ui-widget-header li a,
	.tabs_box_navigation .tabs_box_navigation_selected {
		line-height:20px;
	}
	/* Finish Button Font */
	

/***************** Finish Timetable Font Styles ******************/

